{{ define "title" }}{{ .Title }} | Faculty Publication Highlights{{ end }}

{{ define "header" }}
<!-- BEGIN HEADER -->
<div id="header" class="fph_header">
    <a href="{{ .Site.BaseURL }}{{ .Section }}" class="facpubtitle" title="Back to the Faculty Publication Highlight's archives"><h1>Faculty Publication Highlights</h1> </a>
</div>
<!-- END HEADER -->
{{ end }}

{{ define "pagestyles" }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/facpub_refresh.css"/>
{{ end }}

{{ define "main" }}
<div class="facpub_wrap">
    <ol class="breadcrumb" id="s-lib-bc-list">
        <li id="s-lib-bc-customer"><a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">{{ .Site.Title }}</a></li>
        <li id="s-lib-bc-site"><a href="{{ .Site.BaseURL }}{{ .Section }}" title="Faculty Publication Highlights Home">Faculty Publication Highlights</a></li>
        <li id="s-lib-bc-page" class="active">{{ .Title }}</li>
    </ol>

    <div class="article_page">
        <div class="youtube">
            <div id="titleauthor">
                <h3>{{ .Title | safeHTML }}</h3>
                {{ .Params.by }} by {{ .Params.authorfirstname }} {{ .Params.authorlastname }} 
                
                {{ if .Params.secondauthor }}
                &#x26; {{ .Params.secondauthor}} 
                {{ end }}

                {{ if .Params.thirdauthor }}
                &#x26; {{ .Params.thirdauthor}} 
                {{ end }}
            </div>

            <div class="video-container">
                <iframe width="640" height="360" src="{{ .Params.youtube }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="article_content">
            <div class="row">
                <div class="col-sm-8 fph_content_left">
                    <div>{{ .Content }}</div>
                </div>

                <div class="col-sm-4 fph_content_right">
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="{{ .Site.BaseURL }}img/{{ .Section }}/{{ .Params.bookcover }}" alt="{{ .Params.imagealt }}">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ .Params.authorfirstname }} {{ .Params.authorlastname }}</h4>
                            <p><em>{{ .Params.authorposition }}</em></p>
                            
                            {{ if .Params.secondauthor }}
                            <p>{{ .Params.secondauthor }}<br /><em>{{ .Params.secondposition }}</em></p>
                            {{ end }}
                            {{ if .Params.thirdauthor }}
                            <p>{{ .Params.thirdauthor }}<br /><em>{{ .Params.thirdposition }}</em></p>
                            {{ end }}
                        </div>
                    </div>

                    {{ if eq .Params.showsamplepages true }}
                    <p class="{{ .Params.showsamplepages }}"><a href="{{ .Site.BaseURL }}img/{{ .Section }}/{{ .Params.samplepages }}" class="sample">View sample pages</a></p>
                    {{ end }}
                    {{ if eq .Params.showbooklocation true }}
                    <p class="{{ .Params.showbooklocation }}"><a href="{{ .Params.booklocation }}" class="location">Find this item</a></p>
                    {{ end }}
                </div>
            </div>
        </div>

        <div class="librarian">
            For further information about research in this area please visit the <a href="https://libguides.bc.edu/ask-a-librarian/subject-librarians">Subject Librarian portal</a>.
        </div>

        {{ partial "facpub/recent.html" . }}
    </div>
</div>
{{ end }}