{{ if eq .Params.location "burns" }}
{{- partial "exhibits/locations/burns-header.html" . -}}
{{ else if eq .Params.location "bapst" }}
{{- partial "exhibits/locations/bapst-header.html" . -}}
{{ else if eq .Params.location "tml" }}
{{- partial "exhibits/locations/tml-header.html" . -}}
{{ else if eq .Params.location "backwall" }}
{{- partial "exhibits/locations/backwall-header.html" . -}}
{{ else if eq .Params.location "lobby" }}
{{- partial "exhibits/locations/lobby-header.html" . -}}
{{ else if eq .Params.location "lvl1" }}
{{- partial "exhibits/locations/lvl1-header.html" . -}}
{{ else if eq .Params.location "lvl3" }}
{{- partial "exhibits/locations/lvl3-header.html" . -}}
{{ else if eq .Params.location "reading" }}
{{- partial "exhibits/locations/reading-header.html" . -}}
{{ else if eq .Params.location "stokes" }}
{{- partial "exhibits/locations/stokes-header.html" . -}}
{{ end }}