<div class="blackband {{ .Params.location }}">
    <div class="bandcenter">
        <h2>{{ .Site.Params.Tml }} Exhibit{{ if eq .Params.Archivepage true }}s Archive{{ end }}</h2>
        <p>Approximately 90 linear feet of space along three walls fitted with picture rail on the lower 
            level Theology and Ministry Library. Exhibits are sought which are consistent with the Jesuit 
            mission of Boston College and, more specifically, with the mission and values of the School of Theology and Ministry.</p>
        {{ if ne .Params.Archivepage true }}
        <p><a href="/{{ .Section }}/{{ .Params.Location }}" class="arrow">Return to the {{ .Site.Params.Tml }} Exhibits</a></p>
        {{ end }}
    </div>
</div>