<div class="col-xs-6 col-sm-3 col-md-3 news-content news-content-small">
    <a href="{{ if .Params.destination }}{{ .Params.destination }}{{ else }}{{ .Permalink }}{{ end }}" id="{{ .Params.slug }}">

        {{ $imageName :=  path.BaseName .Params.imagethumb }}
        {{ $imageDir := path.Dir .Params.imagethumb }}
        {{ $fullImagePath := print .Params.type "/" $imageDir "/" $imageName }}
        {{ partial "picture" (dict "ctx"   .
                   "base"  $fullImagePath
                   "alt"   .Params.imagealt
                   "class" ""
                   "avif"  true
                   "webp"  true
                   "lazy"  true) }}

        <div class="news-section-text">
            {{/*<div class="news-section-date">{{ .Date.Format "Mon Jan 2, 2006" }}</div>*/}}
            <div class="news-section-title">{{ .Title | safeHTML }}</div>
            <!--div class="news-section-content-blurb">{{ .Content }}</div-->
        </div>
    </a>
</div>