<div class="facpub_archives">
    <h2>Past Highlights</h2>

    <!-- START 2022 ARCHIVES -->
    <div class="yearlyblock row">
        <h3>2022 Highlights</h3>

        <div class="row">
            {{ range (where (where (where .Site.RegularPages ".Params.type" "facpub") ".Params.year" "2022") ".Params.oneoff" false) }}
            {{ partial "facpub/archive-item.html" . }}
            {{ end }}
        </div>
    </div>

    {{/* There were no facpub posts in 2020 and 2021 */}}

    <!-- START 2019 ARCHIVES -->
    <div class="yearlyblock row">
        <h3>2019 Highlights</h3>

        <div class="row">
            {{ range (where (where (where .Site.RegularPages ".Params.type" "facpub") ".Params.year" "2019") ".Params.oneoff" false) }}
            {{ partial "facpub/archive-item.html" . }}
            {{ end }}
        </div>
    </div>

    <!-- START 2018 ARCHIVES -->
    <div class="yearlyblock row">
        <h3>2018 Highlights</h3>

        <div class="row">
            {{ range (where (where (where .Site.RegularPages ".Params.type" "facpub") ".Params.year" "2018") ".Params.oneoff" false) }}
            {{ partial "facpub/archive-item.html" . }}
            {{ end }}
        </div>
    </div>

    <!-- START 2017 ARCHIVES -->
    <div class="yearlyblock row">
        <h3>2017 Highlights</h3>

        <div class="row">
            {{ range (where (where (where .Site.RegularPages ".Params.type" "facpub") ".Params.year" "2017") ".Params.oneoff" false) }}
            {{ partial "facpub/archive-item.html" . }}
            {{ end }}
        </div>
    </div>

    <!-- START 2016 ARCHIVES -->
    <div class="yearlyblock row">
        <h3>2016 Highlights</h3>

        <div class="row">
            {{ range (where (where (where .Site.RegularPages ".Params.type" "facpub") ".Params.year" "2016") ".Params.oneoff" false) }}
            {{ partial "facpub/archive-item.html" . }}
            {{ end }}
        </div>
    </div>

    <!-- START 2015 ARCHIVES -->
    <div class="yearlyblock row">
        <h3>2015 Highlights</h3>

        <div class="row">
            {{ range (where (where (where .Site.RegularPages ".Params.type" "facpub") ".Params.year" "2015") ".Params.oneoff" false) }}
            {{ partial "facpub/archive-item.html" . }}
            {{ end }}
        </div>
    </div>

    <!-- Comment out until we can restore this -->
    <!--<div class="yearlyblock row">
        <h3>2006-2014 Highlights</h3>
        <p class="archives">Highlights from 2006-2014 can be found in the <a href="http://www.bc.edu/sites/libraries/facpub/archives/index.html">Faculty Publication Highlights archives</a>.</p>
    </div>-->
</div>
