<div class="archive-item col-sm-6">
    <a href="{{ .RelPermalink }}">
        <div class="media">
            <div class="media-left">

                {{/* No alt text, since title next to link (see https://www.liba11y.org/howto/better-images) */}}
                <img class="media-object" src="{{ .Site.Params.imageBaseURL }}/{{ .Section }}/{{ .Params.bookcover }}"
                     alt="">

            </div>
            <div class="media-body">
                <div class="archive-item-title"><em>{{ .Title | safeHTML }}</em></div>
                <div class="archive-item-authors">
                    {{ partial "facpub/author-summary.html" . }}
                </div>
            </div>
        </div>
    </a>
</div>
