<!-- QUICK LINKS -->
<div class="column-sub-item aal-boxes-horizontal-layout" id="aal-home" data-tag="ga-tag">
    
    <h2>Ask A Librarian</h2>

    <p>We can help you locate library resources, connect with a subject librarian, or find support at any stage of your research.</p>

    <div class="aal-box-container row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            {{ partial "ask-a-librarian/chat" (dict "context" . "item_id" "askuswidget-home") }}
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            {{ partial "ask-a-librarian/email" }}
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            {{ partial "ask-a-librarian/meet" }}
        </div>
    </div>
</div>