<!-- QUICK LINKS -->
<nav class="ql" id="quick-links" data-tag="ga-tag" aria-label="Quick Links">

    <h2>Quick Links</h2>

    <div id="quicklinks" data-tag="ga-tag">
        <ul class="list-group col-md-12 col-sm-6 col-xs-6">
            <li><a href="https://libguides.bc.edu/az.php" class="list-group-item">
                <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>Databases</a>
            </li>
            <li><a href="https://libguides.bc.edu/research_guides" class="list-group-item">
                <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>Research Guides</a>
            </li>
            <li><a href="https://libcal.bc.edu/reserve/oneill" class="list-group-item">
                <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>Study Rooms</a>
            </li>
            <li><a href="https://libcal.bc.edu/maps" class="list-group-item">
                <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>Building Maps <i class="fa fa-map-marker" aria-hidden="true"></i>
            </a>
            </li>
            <li><a href="https://illiad.bc.edu/illiad/bxm/logon.html" class="list-group-item">
                <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>Interlibrary Loan</a>
            </li>
        </ul>
        <ul class="list-group col-md-12 col-sm-6 col-xs-6">
            <li><a href="https://libguides.bc.edu/ask-a-librarian" class="list-group-item">
                <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>Ask a Librarian</a>
            </li>
            <li><a href="https://libguides.bc.edu/citation/citation-tools" class="list-group-item">
                <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>Citing sources</a>
            </li>
            <li><a href="https://bc.on.worldcat.org/" class="list-group-item">
                <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>WorldCat</a>
            </li>
            <li><a href="https://libguides.bc.edu/course-reserves" class="list-group-item">
                <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>Course Reserves</a>
            </li>
        </ul>
    </div>
</nav>
