 <!-- SERVICES-HIGHLIGHT START -->
 <div class="container-fluid" id="services-highlight" data-tag="ga-tag">    
    <h2>Visiting the Libraries</h2>
    <div class="intro">Please wear a mask unless you are fully vaccinated. 
        Visitors who are not fully vaccinated are still required to wear a mask on campus when physical distancing cannot be maintained. 
        <!--Learn more about our <a href="https://libguides.bc.edu/servicesupdate" class="underline">mask guidelines</a>.--></div>
</div>
<!-- SERVICES-HIGHLIGHT END -->