<!DOCTYPE html>
<html>
    <head>
        <title>{{- block "title" . }}{{ .Title }}{{- end }} | Boston College Libraries</title>

        {{- partial "head.html" . -}}

        {{- block "pagestyles" . }}{{- end }}
    </head>
    <body id="index" class="s-lg-guide-body mainhomepage homepagerefresh">
        {{ if eq .Site.Params.showfloatinghelpbutton true }}
        {{ partial "library-help-button.html" . }}
        {{ end }}

        <a id="skiplink" href="#main-heading" class="accessibility-text">Skip to main content</a>

        {{/* add Bamboo build header */}}
        {{ if eq .Site.Params.showbuildheader true }}
        {{ partial "build-header.html" . }}
        {{ end }}

        {{/* add maroon bar to header */}}
        {{- partial "bclib-header.html" . -}}

        {{/* add mega menu to header */}}
        {{- partial "megamenu.html" . -}}

        <h1 class="sr-only sr-only-focusable">{{ .Title }}</h1>

        {{- block "header" . }} 
        {{- partial "header.html" . -}}
        {{- end}}
        
        {{- block "main" . }}{{- end }}

        {{- partial "footer.html" . -}}

        {{- block "pagescripts" . }}{{- end }}
    </body>
</html>
