<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ block "title" . }}{{ .Title }}{{ end }} | Boston College Libraries</title>

        {{ partial "head.html" . }}

        {{ block "pagestyles" . }}{{ end }}
    </head>
    <body id="index" class="s-lg-guide-body mainhomepage homepagerefresh">
        <a id="skiplink" href="#main-heading" class="accessibility-text">Skip to main content</a>
        <div style="z-index: 101;top: 0;left: 0;right: 0;background: #fde073;text-align: center;overflow: hidden;padding: 1em 2em;box-shadow: 0 0 5px black; font-size:larger;" id="covid-notice"><a href="https://libguides.bc.edu/servicesupdate">BC Libraries Services Update - COVID-19</a><br>All BC libraries will be closing at 5pm daily starting Thursday, March 12th, through Sunday, March 15th.</div>

        {{/* show floating help button */}}
        {{ if eq .Site.Params.showfloatinghelpbutton true }}
        {{ partial "library-help-button.html" . }}
        {{ end }}

        {{/* add Bamboo build header */}}
        {{ if eq .Site.Params.showbuildheader true }}
        {{ partial "build-header.html" . }}
        {{ end }}

        {{/* add maroon bar to header */}}
        {{ partial "bclib-header.html" . }}

        {{/* add mega menu to header */}}
        {{ partial "megamenu.html" . }}

        <h1 class="sr-only sr-only-focusable">{{ .Title }}</h1>

        {{ block "header" . }}{{ end}}
        
        {{ block "main" . }}{{ end }}

        {{ partial "footer.html" . }}

        {{ block "pagescripts" . }}{{ end }}
    </body>
</html>
