.edit-mode {
    // Make HTML tables in CKEditor full width
    table.ckeditor-table {
        width: 100% !important;
        border-collapse: collapse;
    }

    // Add new page button
    #s-lg-admin-tab-add {
        display: flex;
        flex-direction: row;

        a {
            justify-content: center;
        }

        #s-lg-add-page-icon {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.5rem;
        }
    }

    // Hide Font and Font Size options in CKEditor
    #cke_s-lg-editor-content {
        .cke_combo__font,
        .cke_combo__fontsize {
            display: none;
        }
    } 

    // Box titles
    .s-lib-box-title {
        border-bottom: 1px solid $very-light-gray;
        color: $black-text;
        text-transform: none;
        padding: .375rem .5rem .375rem .25rem; // 6px 8px 6px 4px
        margin: 0 0 .5rem 0; // 0 0 8px 0
        background: $white-body;
        font-size: 1.25rem;
        font-weight: normal;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    // Hide description display options that use hover over since it isn't accessible
    form #form-group-desc_pos .radio:nth-child(2),
    form #form-group-desc_pos .radio:nth-child(3) {display: none;}

    // Box edit button container
    .float-end {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto; // Push the float-end container to the right
    }

    // Box Edit button
    .s-lg-edit-link {
        font-size: 1rem;
        padding: 0 .75rem 0 0; // 0 12px 0 0
        top: 0;
        align-self: center;
    }

    // Box Delete button
    .s-lib-box-title button {
        font-size: 1rem;
    }

    // Box Info button ; not used
    a.more-info {
        display: inline-block;
        padding: 0 .75rem 0 0; // 0 12px 0 0
        cursor: pointer;
        color: $black-text;
        text-shadow: 0 1px 0 $white-body;
        opacity: .6;
        font-size: 1.125rem;

        &:hover {
            opacity: 1;
            color: $black-text;
        }
    }

    // Box Info modal window; unused
    .box-value {padding-left:5px;}
    .box-label {width:100px; display:inline-block; text-align:right;}
    .box-value textarea {width:425px; height:78px; margin-left:110px;}

    // Guide title
    #guidetitle {
        margin-bottom: .5rem;
        cursor: pointer;
    }

    // Guide description container
    #s-lg-guide-desc-container {
        margin-bottom: -.75rem;

        #s-lg-guide-description {
            cursor: pointer;
        }

        &::before {
            content: "Guide Description: ";
            font-weight: bold;
        }
    }

    // unsure
    // span.pad-left-med.hitst {display: none;}

    // Hide breadcrumb navigation
    .breadcrumb {
        display: none;
    }

    // Hide footer metadata and login links
    #s-lg-guide-header-meta {
        display: none;
    }

    // Add spacing below the midlevel container
    #midlevelcontainer-refresh {
        margin-bottom: 3rem;
    }

    // unsure
    //.bottom_row {background-color:$white-body;}

    // Add database icon for database assets
    ul.s-lg-link-list-10 li div.dropdown:before {
        font-family: FontAwesome;
        content: "\f1c0 ";
        padding-right: .375rem; // 6px
    }

    // Hide libraryh3lp side button
    .libraryh3lp {
        display: none;
    }

    // Add styling for box containers
    .s-lib-box-container {
        margin-bottom: 1rem;
        padding: .25rem; // 4px
        border: 1px dashed lightblue;
    }

    // Add spacing below the rich-text sections
    .s-lg-guide-admin-content-rt {
        margin-bottom: .5rem; // 8px
    }

    // SpringShare has a bug where the navbar-collapse does not display when the width is exactly 992px
    @media (min-width: 992px) {
        .navbar-collapse.collapse {
            display: flex !important;
        }
    }

    @media (max-width: 991px) {
        // Fix how the mini command bar is displayed on smaller screens
        #s-lg-guide-mini-cmd-bar {
            .guide-toolbar {
                align-items: flex-start;

                // The immediate next <div> element is the "Last Updated" string
                > div {
                    padding-top: 1rem;
                    line-height: 1;
                }
            }

            nav.navbar {
                .container-fluid {
                    flex-direction: column;
                    align-items: flex-end;
                }
            }
        }
    }

    // LibGuides page configuration panel
    #s-lg-guide-tabs-title-bar {
        .navbar-nav {
            padding-left: 1rem;
        }

        #s-lg-page-friendly-anchor {
            margin-left: 0!important;
        }

        #pageDropdown {
            font-size: 1rem;
            font-weight: 400;
        }
    }

    @media (min-width: 992px) {
        #s-lg-guide-tabs-title-bar {
            .navbar-expand-lg .navbar-nav {
                align-items: center;
                padding-left: 0;
            }
        }
    }
}