// Employment guide
// https://libguides.bc.edu/employment 
.column .inner {min-height:172px; padding:0 10px 10px 0;}
.column .column-content {padding:0; min-height: inherit; margin-bottom:0;}
.column .inner.first {}
.column .inner.last {}
.inner .text {padding:20px 0 0 16px; font-size:18px; line-height:24px;}
.inner .image {position: relative; width: 100%; /* for IE 6 */}
.image img {height:auto!important;}

.inner h2 {
   position: absolute;
   top: 150px;
   left: 0;
   width: 100%;
}

.inner .image h2 span {
   color: white;
   font: bold 24px/45px Arial, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

.inner p {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    bottom: 0;
    display: inline-block;
    left: 0;
    margin: 0;
    padding: 10px 10px 10px 5px;
    position: absolute;
    right: 0;
    width: 100%;
}

.inner .image p span {
   color: white;
   font: bold 15px/20px Arial,Sans-Serif;
   letter-spacing: -1px;
}