.askuswidget, #askuswidget {
    position: fixed;
    right: -169px;
    z-index: 99999999999;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: 19.5px;
    height: auto;
    padding-bottom: .75rem;
    transform: rotate(90deg);
    transform-origin: top left;
    box-shadow: rgb(0,0,0) 0 0 5px;
    background-image: none;
    text-shadow: none;
    background-color: #337ab7!important;
}
.askuswidget.btn, #askuswidget.btn {
    border-color: $white-body;
    border-top: none;
}
.askuswidget.btn:focus,
.askuswidget.btn:hover,
#askuswidget.btn:hover,
#askuswidget.btn:focus  {
    border-color: inherit;
    border-top: none;
    background-color: #286090!important;
}
.askuswidget.btn:visited,
#askuswidget.btn:visited {
    color: $white-text !important;
}
@media (max-width: 900px) {
    .askuswidget, #askuswidget {
        bottom: 200px;
    }
}
@media (min-width: 901px) {
    .askuswidget, #askuswidget {
        top:25%;
    }
}