.edit-mode {
    // Make HTML tables in CKEditor full width
    table.ckeditor-table {
        width: 100% !important;
        border-collapse: collapse;
    }

    // Add new page button
    #s-lg-admin-tab-add {
        display: flex;
        flex-direction: row;

        a {
            justify-content: center;
        }

        #s-lg-add-page-icon {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.5rem;
        }
    }

    // Hide Font and Font Size options in CKEditor
    #cke_s-lg-editor-content {
        .cke_combo__font,
        .cke_combo__fontsize {
            display: none;
        }
    } 

    // Box titles
    .s-lib-box-title {
        border-bottom: 1px solid $very-light-gray;
        color: $black-text;
        text-transform: none;
        padding: .375rem .5rem .375rem .25rem; // 6px 8px 6px 4px
        margin: 0 0 .5rem 0; // 0 0 8px 0
        background: $white-body;
        font-size: 1.25rem;
        font-weight: normal;
    }

    // Hide description display options that use hover over since it isn't accessible
    form #form-group-desc_pos .radio:nth-child(2),
    form #form-group-desc_pos .radio:nth-child(3) {display: none;}

    /* INFO BUTTON STYLE */
    a.more-info {display:inline-block; padding:0 8px 0 0; cursor:pointer; color:$black-text; text-shadow: 0 1px 0 $white-body; opacity:.6; font-size:14px;}
    a.more-info:hover {opacity:1; color: $black-text;}

    .more a {
        background: inherit;
        display: inline;
        padding: 0;
        width: auto;
        border-bottom: none;
    }

    // Edit page modal window
    .box-value {padding-left:5px;}
    .box-label {width:100px; display:inline-block; text-align:right;}
    .box-value textarea {width:425px; height:78px; margin-left:110px;}

    // Guide title and description styling
    #guidetitle {
        margin-bottom: .5rem;
        cursor: pointer;
    }

    #s-lg-guide-desc-container {
        margin-bottom: -.75rem;

        #s-lg-guide-description {
            cursor: pointer;
        }

        &::before {
            content: "Guide Description: ";
            font-weight: bold;
        }
    }

    // unsure
    span.pad-left-med.hitst {display: none;}

    // Hide breadcrumb navigation
    .breadcrumb {
        display: none;
    }

    // Hide footer metadata and login links
    #s-lg-guide-header-meta {
        display:none;
    }

    #midlevelcontainer-refresh {
        margin-bottom: 3rem;
    }

    // unsure
    .bottom_row {
        background-color:$white-body;
    }

    @media (min-width: 768px) {
        .navbar-nav {
            float: none;
        }
    }

    // Add database icon for database assets
    ul.s-lg-link-list-10 li div.dropdown:before {
        font-family: FontAwesome;
        content: "\f1c0 ";
        padding-right: 6px;
    }

    // Hide libraryh3lp modal dialog box
    .libraryh3lp {
        display: none;
    }
}