{{ define "header" }}{{ end }}

{{ define "pagestyles" }}
    <style>
        #main-404.container {
            min-height: 400px;
            text-align: center;
            font-size:larger;
            margin: 6rem auto 3rem auto;
        }
        .backlink {
            margin-top: 3rem;
        }
    </style>
{{ end }}

{{ define "main" }}
<div class="container" id="main-404">
    <h1>Page not found</h1>
    <p>Sorry, the page you are looking for is not here.</p>
    <img src="/img/404.png"/>
    <p class="backlink"><a href="{{ "/" | relURL }}">Go Home</a></p>
</div>
{{ end }}