{{ define "Title" }}Boston College Libraries{{ end }}

{{ define "hero-box" }}
{{ partial "homepage/hero-box.html" . }}
{{ end }}

{{ define "pagestyles" }}
{{ end }}

{{ define "main" }}
    <div id="main-body" class="homepage">

        {{ partial "homepage/top-columns.html" . }}

        {{ partial "homepage/news/news-row.html" . }}

        {{/* partial "homepage/featured-librarian.html" . */}}

        {{/* partial "homepage/explore-collections.html" . */}}

        {{/* partial "homepage/socialmedia-highlight.html" . */}}

        {{/* Hide the following bars

        <!--{{ partial "homepage/services-highlight.html" . }}-->

        <!--{{ partial "homepage/scholarship-at-bc.html" . }}-->

        <!--{{ partial "homepage/digital-scholarship-highlight.html" . }}-->

        <!--{{ partial "homepage/exhibits-highlight.html" . }}-->

        <!--{{ partial "homepage/facpub-highlight.html" . }}-->

        <!--{{ partial "homepage/special-collections-highlight.html" . }}-->

        */}}
    </div>
{{ end }}

{{ define "pagescripts" }}
    <script type="text/javascript">
        // Various glue scripts for the front page.
        (function () {
            function run_on_ready(fn) {
                if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading") {
                    fn();
                } else {
                    document.addEventListener('DOMContentLoaded', fn);
                }
            }

            /* Rewrote makeQuickLinkBoxesClickable to use jQuery methods. */
            /* Fixes IE/Edge issue with forEach() not supporting nodeList */

            /* object returned from document.querySelectorAll */
            function makeQuickLinkBoxesClickable() {
                $(".quick-link-block").click(function (evt) {
                    window.location = $(this).find("a").attr("href");
                });
            }

            function onlineOnlyPopover() {
                var tooltip_options = {
                    content: 'When this box is checked, search is limited to items available online. Uncheck the box to include our physical collections.'
                }
                $('.whats-this').popover(tooltip_options);
            }

            run_on_ready(makeQuickLinkBoxesClickable);
            run_on_ready(onlineOnlyPopover);
        })();
    </script>
{{ end }}
