.chrome-pdf-notification {
    display: none;
    font-size: 14px;
}

.chrome-pdf-notification .panel {
    background-color: hsl(47, 97%, 90%);
}

.chrome-pdf-notification .panel-body {
    padding: .25em 1em;
}

.chrome-pdf-notification h4 {
    font-size: 14px;
    font-weight: bold;
}

@media (min-width: 769px) {
    .chrome-pdf-notification {
        margin-bottom: 1em;
        display: block;
    }

    #header {
        padding: 35px 0 0 0;
    }
}