{{ define "title" }}{{ .Site.Params.bapst }} Exhibits Archive{{ end }}

{{ define "header" }}{{ end }}

{{ define "pagestyles" }}
{{ end }}

{{ define "main" }}
<div class="exhibit-container exhibit_page">
    <div class="container">
        {{ partial "exhibits/breadcrumbs.html" . }}
    </div>
    {{ partial "exhibits/locations/headers.html" . }}
</div>
<div class="container">
    <div id="exhibit" class="archives">
        <div class="row">
            <div class="latest_exhibit">
                <div class="left">
                    {{ partial "exhibits/gallerynav.html" . }}
                </div>
    
                <div class="right">
                    <h3 id="main-heading">Exhibits in the Bapst Art Library Gargan Hall Exhibit Cases</h3>
                    <ul>
                        <div class="holdhead">
                            <h4>2016-2020</h4>
                        </div>
                        
                        {{ range (where .Site.RegularPages ".Params.location" .Params.location) }}
                        {{ partial "exhibits/thumbnail-summary.html" . }}
                        {{ end }}
                    </ul>

                    <br /> <br />

                    <h3>Archived Exhibits from the Bapst Student Gallery</h3>
                    <p>In the spring of 2004, Bapst Art Library became the host for the first ever Boston College student art gallery. The gallery is a joint endeavor of the Bapst Art Library, the Fine Arts Department, and ArtVision, a student group for the promotion of the arts on campus. The gallery features a range of media including painting, sketches, watercolors, photography, and ceramic sculptures. Students plan, jury, hang, and manage several exhibits throughout the year. <br />
                    <em>Note: This gallery is no longer in use.</em></p>

                    <ul>
                        <div class="holdhead">
                            <h4>2011-2014</h4>
                        </div>
                        {{/* manually set the location to "bapstarchive" */}}
                        {{ range (where .Site.Pages ".Params.location" "bapstarchive") }}
                        {{ partial "exhibits/thumbnail-summary.html" . }}
                        {{ end }}
                    </ul>

                </div> {{/* end .right */}}
            </div> {{/* end .latest_exhibit */}}
        </div> {{/* end .row */}}
    </div> {{/* end #exhibit */}}
</div>
{{ end }}
