{{ define "title" }}{{ .Title }} | {{ .Site.Param .Page.Params.location }} Exhibit Archives{{ end }}

{{ define "header" }}{{ end }}

{{ define "pagestyles" }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/exhibit_refresh.css"/>
{{ end }}

{{ define "main" }}
<div class="exhibit-container exhibit_page">
    <div class="container">
        {{ partial "exhibits/breadcrumbs.html" . }}
    </div>
    {{ partial "exhibits/locations/headers.html" . }}
</div>
<div class="container">
    <div class="exhibit_page">
        <div class="row">
            <div id="individualpage" class="{{ .Params.style }}">
                <div class="exhibittitle">
                    <h3>
                        {{ .Title | safeHTML }} <br/>
                        <span class="subtitle">{{ .Params.subtitle }}</span>
                    </h3>

                    <p><span class="date"><em>{{ .Params.daterange }}</em></span><br/>
                        <span class="sponsor">{{ .Params.sponsor }}</span></p>
                </div>
                <div class="article_content">
                    <div class="poster">
                        <img src="{{ .Site.BaseURL }}img/{{ .Section }}/{{ .Params.location }}/{{ .Params.image }}" alt="{{ .Params.image_alt }}">
                    </div>

                    <div class="text">
                        {{ .Content }}
                    </div>
                </div>
                <div class="article_content_two">
                    <div class="text">
                        {{ .Content }}
                    </div>
    
                    <div class="poster">
                        <img src="{{ .Site.BaseURL }}img/{{ .Section }}/{{ .Params.location }}/{{ .Params.image }}" alt="{{ .Params.image_alt }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}