{{ define "title" }}
{{ .Site.Params.stokes }} Exhibits Archive
{{ end }}

{{ define "header" }}
{{- partial "exhibits/header.html" . -}}
{{ end }}

{{ define "pagestyles" }}{{ end }}

{{ define "main" }}
<div class="container exhibit-container">
    {{- partial "exhibits/breadcrumbs.html" . -}}
    
    <div id="exhibit" class="archives">
        {{- partial "exhibits/locations/headers.html" . -}}

        <div class="row">
            <div class="latest_exhibit">
                <div class="left">
                    {{- partial "exhibits/gallerynav.html" . -}}
                </div>
    
                <div class="right">
                    <h3>Exhibits</h3>
                    <ul>
                        <div class="holdhead">
                            <h4>2013-2019</h4>
                        </div>
                        {{ range (where .Site.RegularPages ".Params.location" .Params.location) }}
                        {{ .Scratch.Set "loc" .Params.location }}
                        {{- partial "exhibits/summary.html" . -}}
                        {{ end }}
                    </ul>

                </div> {{/* end .right */}}
            </div> {{/* end .latest_exhibit */}}
        </div> {{/* end .row */}}
    </div> {{/* end #exhibit */}}
</div>
{{ end }}
