/* BOSTON COLLEGE COLORS */ 

/* See https://www.bc.edu/bc-web/styles/bc-web-style-guide/color.html */

/* BC Brand colors */
$bc-brand-maroon: #8a100b;
$bc-brand-gold: #b29d6c;
$bc-brand-gray: #726158;

/* Primary palette */
$bc-primary-dark-red: #501315;
$bc-primary-light-gold: #dccaa0;

/* Secondary palette */
$bc-secondary-light-sage: #c5cfac; 


/* LOCAL COLORS */
$pitch_black: #000;

$very-dark-gray: #101010;
$light-gray: #b7b7b7;
$very-light-gray: #dadada;
$just-barely-gray: #eaeaea;

$red: #990000;
$dark-blue-green: #05506D;

/* Text colors */
$white-text: #fff;
$black-text: $pitch_black;

/* Body colors (borders, backgrounds, etc) */
$white-body: #fff;
$black-body: $pitch_black;