<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <img class="featured-tip-image" src="https://library.bc.edu/images/homepage/featuredtip/library-stacks-600x500px.jpg" alt="">
            </div>
            <div class="col-md-9 col-sm-8">
                <h3>Print Books are Available</h3>
                <p>The HathiTrust emergency program that provided electronic versions for many of our books <a href="https://answers.bc.edu/faq/336547#etasover">will end on January 24, 2021</a>. Print Books that could not be borrowed because of the program will become available to borrow again.</p>
    
                <hr/>
    
                <div class="related-topics">Related FAQ topics: 
                    <a class="btn btn-default btn-xs" role="button" href="https://answers.bc.edu/search/?topics=Library+Search">Library Search</a>
                    <a class="btn btn-default btn-xs" role="button" href="https://answers.bc.edu/search/?topics=Books">Books</a>
                </div>
            </div>
        </div>
    </div>
</div>