<div class="featured-tip-element" id="featured-tip" data-tag="ga-tag">

    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <img class="featured-tip-image" src="https://library.bc.edu/images/homepage/featuredtip/bc-bird-600px.jpg" alt="">
                </div>
                <div class="col-md-8 col-sm-8">
                    <h3>HathiTrust</h3>
                    <p>More than 400,000 of our print books are available online through HathiTrust. Learn how to <a href="https://answers.bc.edu/faq/325932#hathitrust">check-out HathiTrust ebooks</a> during the COVID emergency.</p>
        
                    <hr/>
        
                    <div class="related-topics">Related FAQ topics: 
                        <a class="btn btn-default btn-xs" role="button" href="https://answers.bc.edu/search/?t=0&adv=1&topics=Library%20Catalog">library catalog</a>
                        <a class="btn btn-default btn-xs" role="button" href="https://answers.bc.edu/search/?t=0&adv=1&topics=Online%20access">online access</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>