<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <img class="featured-tip-image" src="https://library.bc.edu/images/homepage/featuredtip/bc-bird-600px.jpg" alt="">
            </div>
            <div class="col-md-9 col-sm-8">
                <h3>40% of our print books are now available online</h3>
                <p>Off-campus? Socially distancing? Learn how to <a href="https://answers.bc.edu/faq/325932#hathitrust">find and use HathiTrust ebooks</a>. <a href="https://libguides.bc.edu/COVID-19addedaccess/hathitrust">See limitations</a>.</p>
    
                <hr/>
    
                <div class="related-topics">Related FAQ topics: 
                    <a class="btn btn-default btn-xs" role="button" href="https://answers.bc.edu/search/?topics=Library+Search">Library Search</a>
                    <a class="btn btn-default btn-xs" role="button" href="https://answers.bc.edu/search/?topics=e-books">e-books</a>
                </div>
            </div>
        </div>
    </div>
</div>