<div class="" id="featured-tip-wrapper">
    <div id="featured-tip-wrapper-inner">
        <h2>Featured Tip</h2>
        
        <p class="intro">We highlight library tools and resources that can help your research.</p>

        {{/* Change out highlight content here */}}
        {{ partial "homepage/top-column-featured-tip/hathitrust.html" . }}

        <p class="outro">
            <a style="display:inline-block;" href="https://answers.bc.edu/search/?t=0&adv=1&topics=In%20Focus">Browse all our <strong>Featured Tips</strong></a> &rangle;
        </p>
    </div>
</div>