<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <img class="featured-tip-image" src="https://library.bc.edu/images/homepage/featuredtip/newspaper-slideshow-240px.gif" alt="newspaper logos including New York Times, WAshington Post, Financial Times, Wall Street Jorunal">
            </div>
            <div class="col-md-9 col-sm-8">
                <h3>Free online newspaper subscriptions</h3>
                <p>Learn how to get <a href="https://answers.bc.edu/faq/330672#newspapers">library-enabled subscriptions</a> to the New York Times, Washington Post, Financial Times, and Wall Street Journal</a>.</p>
    
                <hr/>
    
                <div class="related-topics">Related FAQ topics: 
                    <a class="btn btn-default btn-xs" role="button" href="https://answers.bc.edu/search/?topics=Newspapers">Newspapers</a>
                </div>
            </div>
        </div>
    </div>
</div>