<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <img class="featured-tip-image" src="https://library.bc.edu/images/homepage/featuredtip/remote-research-help-240px.png" alt="newspaper logos including New York Times, WAshington Post, Financial Times, Wall Street Jorunal">
            </div>
            <div class="col-md-9 col-sm-8">
                <h3>Ways to get research help during the pandemic</h3>
                <p>Looking for <a href="https://answers.bc.edu/faq/339216#online-help">online help</a>? Get help now via chat, email, or personal consultations. Or to get started, browse our enormous collection of research guides, FAQs, and video tutorials.</p>
                
                <hr/>
    
                <div class="related-topics">Related FAQ topics: 
                    <a class="btn btn-default btn-xs" role="button" href="https://answers.bc.edu/search/?topics=Reference+services">Reference services</a>
                    <a class="btn btn-default btn-xs" role="button" href="https://answers.bc.edu/search/?topics=COVID-19">COVID-19</a>
                </div>
            </div>
        </div>
    </div>
</div>