<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <img class="featured-tip-image" src="https://library.bc.edu/images/homepage/featuredtip/proctorio-logo-600.png" alt="Proctorio logo">
            </div>
            <div class="col-md-9 col-sm-8">
                <h3>Taking a quiz, test, or exam with Proctorio?</h3>
                <p>Learn how to <a href="#">set up Proctorio on a Library computer</a>.</p>
    
                <hr/>
    
                <div class="related-topics">Related FAQ topics: 
                    <a class="btn btn-default btn-xs" role="button" href="https://answers.bc.edu/search/?topics=Library+Search">Library Search</a>
                    <a class="btn btn-default btn-xs" role="button" href="https://answers.bc.edu/search/?topics=e-books">e-books</a>
                </div>
            </div>
        </div>
    </div>
</div>