<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <img class="featured-tip-image" src="https://library.bc.edu/images/homepage/featuredtip/remote-research-240px.png" alt="remote research">
            </div>
            <div class="col-md-9 col-sm-8">
                <h3>Remote Research FAQ</h3>
                <p>Staying home after Thanksgiving? Plan ahead for <a href="https://answers.bc.edu/faq/331645#remoteresearch">remote research</a>.</p>
    
                <hr/>
    
                <div class="related-topics">Related FAQ topics: 
                    <a class="btn btn-default btn-xs" role="button" href="https://answers.bc.edu/search/?topics=Off-campus">Off-campus</a>
                    <a class="btn btn-default btn-xs" role="button" href="https://answers.bc.edu/search/?topics=Online+access">Online access</a>
                    <a class="btn btn-default btn-xs" role="button" href="https://answers.bc.edu/search/?topics=Technology">Technology</a>
                    <a class="btn btn-default btn-xs" role="button" href="https://answers.bc.edu/search/?topics=Books">Books</a>
                </div>
            </div>
        </div>
    </div>
</div>