@use 'bootstrap_base' as *;

html.fallback body.alternate-header #hero-box {
    background: url("https://library.bc.edu/images/homepage/hero/gasson-in-spring-01-1440px.jpg") no-repeat 0 85% #fff;
    background-size: cover;
}

html.avif body.alternate-header #hero-box {
    background: url("https://library.bc.edu/images/homepage/hero/gasson-in-spring-01-1440px.avif") no-repeat 0 85% #fff;
    background-size: cover;
}

html.webp body.alternate-header #hero-box {
    background: url("https://library.bc.edu/images/homepage/hero/gasson-in-spring-01-1440px.webp") no-repeat 0 85% #fff;
    background-size: cover;
}

body.alternate-header {
    #services-highlight-container {
        border: 0;
    }
    #search-panel {
        border: 2px solid rgba(0, 0, 0, .25);
    }
}

#hero-box {
    padding-top: 7rem; // 112px
}

@include media-breakpoint-up(md) {
    #hero-box {
        padding-top: 9rem; // 144px
        height: 24rem; // 384px
    }
}

/*@include media-breakpoint-down(md) {
    #hero-box {
        padding-top: 7rem; // 112px
    }
}*/