html.fallback body.alternate-header #hero-box {
    background: url("https://library.bc.edu/images/homepage/hero/gasson-in-spring-01-1440px.jpg") no-repeat 0 85% #fff;
    background-size: cover;
}

html.avif body.alternate-header #hero-box {
    background: url("https://library.bc.edu/images/homepage/hero/gasson-in-spring-01-1440px.avif") no-repeat 0 85% #fff;
    background-size: cover;
}

html.webp body.alternate-header #hero-box {
    background: url("https://library.bc.edu/images/homepage/hero/gasson-in-spring-01-1440px.webp") no-repeat 0 85% #fff;
    background-size: cover;
}

body.alternate-header {
    #services-highlight-container {
        border: 0;
    }
    #search-panel {
        border: 2px solid rgba(0, 0, 0, .25);
    }
}

#hero-box {
    padding-top: 7rem; // 112px
}

@media (min-width: 768px) {
    #hero-box {
        padding-top: 5rem; // 80px
        height: 20rem; // 320px
    }
}