@use 'variables/colors' as *;
@use 'bootstrap_base' as *;

#top-columns {
    display: flex;

}

.homepage h2,
.homepage h3 {
    font-weight: 200;
    // margin-top: 2rem;
    margin-bottom: .75rem;
}

#hero-box {
    padding-bottom: 4rem; // 64px
    padding-top: 8rem; // 80px
    background-color: $bc-primary-light-gold;
    // height: 10rem; // 320px
}

.content .btn {
    &.btn-default {
        padding: 12px;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #555;
        border-radius: 0;
        background-clip: padding-box;
        border: 0 solid #ddd;
        white-space: normal;
        transition: .2s;
    }

    &.btn-blue {
        color: #dddddd;
        background: #204375;

        &:hover {
            color: $white-text;
            background: #1d3c68;
        }
    }
}

@include media-breakpoint-up(md) {
    #hero-box {
        // padding-top: 80px;
        height: 10rem; // 320px
    }
}