.news-content-row {
    a {
        display: block;
        position: relative;
    }
}

.news-section-unsafe-html-story {
    width: 100%;
}

.news-section-unsafe-html-embed {
    height: 370px;
    width: 100%;
}

.news-content {
    a {
        &:hover,
        &:focus {
            text-decoration: none;
            color: inherit;
            opacity: .8;

            .news-section-title {
                text-decoration: underline;
            }
        }

        &:focus {
            outline: 1px solid blue;
            outline-offset: 0;
        }
    }

    img {
        width: 100%;
    }

    .news-section-image-container {
        position: relative;

        .news-section-image-attribution {
            text-align: right;
            font-size: .8em;
            color: #DCDCDC;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 .5em;
            background: rgba(34, 34, 34, 0.9);
        }
    }

    .news-section-text {
        padding: 0 .25rem 0 .25rem;
        line-height: 1.6;

        .news-section-date {
            font-weight: 600;
            margin: .5rem 0 .25rem 0;
            color: #a25729;
        }

        .news-section-title {
            font-weight: 400;
            line-height: 1.5;
            margin: .25rem 0;
        }
    }

    .news-content-large .news-section-text .news-section-title {
        font-size: 1.25rem;
    }
}

.more-news {
    padding-top: 1rem;
    font-size: larger;
    text-align: right;
}

@media (max-width: 1199px) {
    .news-section-unsafe-html-embed {
        height: 303px;
    }
}

@media (max-width: 991px) {
    .news-section-unsafe-html-embed {
        height: 230px;
    }
}