#facpub {
    background-color: $white-body;
    padding-bottom: 40px;
}

#facpub h3 {
    font-size: 18px;
}

#facpub .more-link {
    text-align: right;
}

#facpub h2 a {
    font-size: 24px;
    border-bottom: 1px solid;
    text-decoration: none;
}

@media (max-width: 991px) {
    #facpub img.bookcover {
        display: none !important;
    }
}