<!-- BEGIN About menu dropdown -->

<div class="row">
    <div class="col-12 col-9 col-lg-10 menu-list pb-4 pb-sm-0" id="mm-help-about">
        <a href="https://libguides.bc.edu/libraries" id="mm-about-libraries" class="menu-header">Libraries</a>
        <div class="library-box-container">
            <div class="row row-cols-2 row-cols-md-3 gx-3 gy-3 library-boxes">

                {{/* Library data is taken from libraries/all.json data file */}}
                {{ partial "megamenu/library.html" (dict "library" .Site.Data.libraries.all.oneill ) }}
                {{ partial "megamenu/library.html" (dict "library" .Site.Data.libraries.all.bapst ) }}
                {{ partial "megamenu/library.html" (dict "library" .Site.Data.libraries.all.burns ) }}
                {{ partial "megamenu/library.html" (dict "library" .Site.Data.libraries.all.erc ) }}
                {{ partial "megamenu/library.html" (dict "library" .Site.Data.libraries.all.law ) }}
                {{ partial "megamenu/library.html" (dict "library" .Site.Data.libraries.all.swl ) }}
                {{ partial "megamenu/library.html" (dict "library" .Site.Data.libraries.all.tml ) }}
                {{ partial "megamenu/library.html" (dict "library" .Site.Data.libraries.all.oconnor ) }}
                {{ partial "megamenu/library.html" (dict "library" .Site.Data.libraries.all.iajs ) }}

            </div> <!-- library-boxes -->
        </div> <!-- library-box-container -->
    </div> <!-- menu-list -->

    <ul class="col-12 col-3 col-lg-2 menu-list">
        <li><div class="menu-header">About us</div></li>
        <li><a href="https://libguides.bc.edu/hours" id="mm-about-hours">Hours</a></li>
        <li><a href="https://libguides.bc.edu/contact" id="mm-about-contact-us">Contact Us</a></li>
        <li><a href="https://libguides.bc.edu/getting-here" id="mm-about-getting-here">Getting Here</a></li>
        <li><a href="https://libguides.bc.edu/policies" id="mm-about-policies">Policies</a></li>
        <li><a href="https://libguides.bc.edu/gifts" id="mm-about-gifts">Gifts</a></li>
        <li><a href="https://libguides.bc.edu/mission" id="mm-about-mission">Mission</a></li>
        <li><a href="https://libguides.bc.edu/libraryvalues" id="mm-about-values">Values Statement</a></li>
        <li><a href="https://libguides.bc.edu/employment" id="mm-about-employment">Employment</a></li>
        <li><a href="https://libguides.bc.edu/advertise" id="mm-about-advertise">Advertise Your Event</a></li>
        <li><a href="https://libguides.bc.edu/virtual-tours" id="mm-about-virtualtours">Virtual Tours</a></li>
    </ul> <!-- menu-list -->
</div> <!-- row -->

<div class="row find-more-link">
    <div class="more">
        <a href="https://libguides.bc.edu/about-us" id="mm-more-about-the-libraries">More About the Libraries
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </a>
    </div>
</div> <!-- row -->

<!-- END About menu dropdown -->