<div class="row">
    <!-- Books Media & More -->
    <ul class="col-sm-3 menu_list">
        <li>
            <div class="h4style"><a href="https://libguides.bc.edu/books-media-more" id="mm-find-books">Books, Media,
                    and more</a></div>
        </li>
        <li><a href="https://library.bc.edu/catalog" id="mm-find-books-catalog-simple-search">Catalog Simple Search</a>
        </li>
        <li><a href="http://bclib.bc.edu/advanced-search" id="mm-find-books-catalog-advanced-search">Catalog Advanced
                Search</a></li>
        <li><a href="https://libguides.bc.edu/popcollection" id="mm-find-books-popular">Popular Books</a>
        </li>
        <li><a href="https://libguides.bc.edu/course-reserves" id="mm-find-books-course-reserves">Course Reserves</a>
        </li>
        <li><a href="https://libguides.bc.edu/dataservices/sources" id="mm-find-books-gis">Data/GIS/Statistics</a></li>
        <li><a href="https://findingaids.bc.edu/" id="mm-find-books-burns-archives">Search Burns Archives</a></li>
    </ul>

    <!-- Articles -->
    <ul class="col-sm-3 menu_list">
        <li>
            <div class="h4style"><a href="https://libguides.bc.edu/articles" id="mm-find-articles">Articles</a></div>
        </li>
        <li><a href="https://libguides.bc.edu/az.php" id="mm-find-articles-databases">Databases</a></li>
        <li><a href="http://bclib.bc.edu/a-to-z" id="mm-find-articles-journals">Journals</a></li>
        <li><a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/search?tab=pci_only&vid=bclib_new&sortby=rank"
                id="mm-find-articles-search">Article search</a></li>
        <li><a href="http://bclib.bc.edu/find-by-citation" id="mm-find-articles-citation">Find by Citation</a></li>
    </ul>

    <!-- Outside BC -->
    <ul class="col-sm-3 menu_list">
        <li>
            <div class="h4style"><a href="https://libguides.bc.edu/outside-bc" id="mm-find-outside">Outside BC</a></div>
        </li>
        <li><a href="https://bc.on.worldcat.org" id="mm-find-outside-worldcat">WorldCat<p class="tuck">Search libraries
                    worldwide</p></a></li>
        <li><a href="https://www.hathitrust.org/" id="mm-find-outside-hathitrust">HathiTrust<p class="tuck">Digitized
                    items from libraries around the world</p></a></li>
        <li><a href="https://scholar.google.com" id="mm-find-outside-google-scholar">Google Scholar</a></li>
    </ul>

    <!-- Other -->
    <ul class="col-sm-3 menu_list end">
        <li>
            <div class="h4style"><a href="https://libguides.bc.edu/all-collections" id="mm-find-other">Other</a></div>
        </li>
        <li><a href="https://www.proquest.com/pqdtglobal/advanced?accountid=9673"
                id="mm-find-other-proquest-theses">ProQuest Theses &amp; Dissertations</a></li>
        <li><a href="https://libguides.bc.edu/collections" id="mm-find-other-collections">Collections</a></li>
        <li><a href="https://dlib.bc.edu" id="mm-find-other-escholarship">eScholarship@BC</a></li>
        <li><a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/collectionDiscovery?vid=bclib_new"
                id="mm-find-other-digital-collections">Digital Collections</a></li>
    </ul>
</div>

<div class="row bottom_row">
    <div class="more">
        <a href="https://libguides.bc.edu/find" id="mm-find-more">Find More
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </a>
    </div>
</div>