<!-- BEGIN Help menu dropdown -->

<div class="row">
    <!-- Ask A Librarian -->
    <div class="col-12 col-8 col-md-9 menu-list pb-4 pb-sm-0" id="mm-help-aal">
        <a href="https://libguides.bc.edu/ask-a-librarian" id="mm-ask-a-librarian" class="menu-header">Ask A Librarian</a>
        <div class="aal-box-container">
            <div class="row row-cols-1 row-cols-md-2 gx-3 gy-3">

                <!-- Chat With Us card -->
                <div class="col aal-box-wrapper">
                    
                    <!-- cs-bostoncoll@chat.libraryh3lp.com --> 
                    <div class="libraryh3lp" jid="cs-bostoncoll@chat.libraryh3lp.com" style="display: block;">
                        <a class="card-link-wrapper" href="#" onclick="window.open('https://libraryh3lp.com/chat/cs-bostoncoll@chat.libraryh3lp.com?skin=29500&amp;title=Boston+College&amp;sounds=1', 'chat', 'resizable=1,width=320,height=300'); return false;" style="cursor: pointer;">
                            <div class="aal-box card">
                                <div class="row g-2 flex-grow-1">
                                    <div class="col-auto aal-icon-wrapper">
                                        <div class="aal-icon aal-icon-chat"><i class="fa fa-comment fa-fw" aria-hidden="true"></i>
                                            <div class="accessibility-text">Chat with Us</div>
                                        </div>
                                    </div>
                                    <div class="col aal-metadata">
                                        <div class="card-body">
                                            <p class="card-title">Chat with us</p>
                                            <p class="card-text">Ask a question 24/7 and a librarian from BC or another institution will help you.</p>
                                        </div> <!-- card-body -->
                                    </div> <!-- aal-metadata -->
                                </div> <!-- row -->
                            </div> <!-- card -->
                        </a> <!-- card-link-wrapper -->
                    </div> <!-- libraryh3lp; cs-bostoncoll -->

                    <!-- ajcu-consortium@chat.libraryh3lp.com --> 
                    <div class="libraryh3lp" jid="ajcu-consortium@chat.libraryh3lp.com" style="display: none;">
                        <a class="card-link-wrapper" href="#" onclick="window.open('https://libraryh3lp.com/chat/ajcu-consortium@chat.libraryh3lp.com?skin=29500&amp;title=Boston+College/AJCU+Librarians&amp;profile=cs-bostoncoll', 'chat', 'resizable=1,width=320,height=300'); return false;" style="cursor: pointer;">
                            <div class="aal-box card">
                                <div class="row g-2 flex-grow-1">
                                    <div class="col-auto aal-icon-wrapper">
                                        <div class="aal-icon aal-icon-chat"><i class="fa fa-comment fa-fw" aria-hidden="true"></i>
                                            <div class="accessibility-text">Chat with Us</div>
                                        </div>
                                    </div>
                                    <div class="col aal-metadata">
                                        <div class="card-body">
                                            <p class="card-title">Chat with us</p>
                                            <p class="card-text">Ask a question 24/7 and a librarian from BC or another institution will help you.</p>
                                        </div> <!-- card-body -->
                                    </div> <!-- aal-metadata -->
                                </div> <!-- row -->
                            </div> <!-- card -->
                        </a> <!-- card-link-wrapper -->
                    </div> <!-- libraryh3lp; ajcu-consortium -->

                    <!-- ajcu-chatstaff@chat.libraryh3lp.com --> 
                    <div class="libraryh3lp" jid="ajcu-chatstaff@chat.libraryh3lp.com" style="display: none;">
                        <a class="card-link-wrapper" href="#" onclick="window.open('https://libraryh3lp.com/chat/ajcu-chatstaff@chat.libraryh3lp.com?skin=29500&amp;title=ChatStaff+Librarians&amp;profile=cs-bostoncoll', 'chat', 'resizable=1,width=320,height=300'); return false;" style="cursor: pointer;">
                            <div class="aal-box card">
                                <div class="row g-2 flex-grow-1">
                                    <div class="col-auto aal-icon-wrapper">
                                        <div class="aal-icon aal-icon-chat"><i class="fa fa-comment fa-fw" aria-hidden="true"></i>
                                            <div class="accessibility-text">Chat with Us</div>
                                        </div>
                                    </div>
                                    <div class="col aal-metadata">
                                        <div class="card-body">
                                            <p class="card-title">Chat with us</p>
                                            <p class="card-text">Ask a question 24/7 and a librarian from BC or another institution will help you.</p>
                                        </div> <!-- card-body -->
                                    </div> <!-- aal-metadata -->
                                </div> <!-- row -->
                            </div> <!-- card -->
                        </a> <!-- card-link-wrapper -->
                    </div> <!-- libraryh3lp; ajcu-chatstaff -->
                </div> <!-- aal-box-wrapper -->

                <!-- Email Us card -->
                <div class="col aal-box-wrapper">
                    <a class="card-link-wrapper" href="https://libguides.bc.edu/ask-a-librarian/email-us">
                        <div class="aal-box card">
                            <div class="row g-2 flex-grow-1">
                                <div class="col-auto aal-icon-wrapper">
                                    <div class="aal-icon aal-icon-email"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
                                        <div class="accessibility-text">Email Us</div>
                                    </div>
                                </div>
                                <div class="col aal-metadata">
                                    <div class="card-body">
                                        <p class="card-title">Email us</p>
                                        <p class="card-text">Send us a question and we'll get back to you within a day.</p>
                                    </div> <!-- card-body -->
                                </div> <!-- aal-metadata -->
                            </div> <!-- row -->
                        </div> <!-- card -->
                    </a> <!-- card-link-wrapper -->
                </div> <!-- aal-box-wrapper -->

                <!-- Meet With Us card -->
                <div class="col aal-box-wrapper">
                    <a class="card-link-wrapper" href="https://libguides.bc.edu/ask-a-librarian/subject-librarians">
                        <div class="aal-box card">
                            <div class="row g-2 flex-grow-1">
                                <div class="col-auto aal-icon-wrapper">
                                    <div class="aal-icon aal-icon-meet"><i class="fa fa-user fa-fw" aria-hidden="true"></i>
                                        <div class="accessibility-text">Meet With Us</div>
                                    </div>
                                </div>
                                <div class="col aal-metadata">
                                    <div class="card-body">
                                        <p class="card-title">Meet With us</p>
                                        <p class="card-text">Request an appointment in person or online with a subject librarian.</p>
                                    </div> <!-- card-body -->
                                </div> <!-- aal-metadata -->
                            </div> <!-- row -->
                        </div> <!-- card -->
                    </a> <!-- card-link-wrapper -->
                </div> <!-- aal-box-wrapper -->

                <!-- Visit Us card -->
                <div class="col aal-box-wrapper">
                    <a class="card-link-wrapper" href="https://libguides.bc.edu/ask-a-librarian/locations">
                        <div class="aal-box card">
                            <div class="row g-2 flex-grow-1">
                                <div class="col-auto aal-icon-wrapper">
                                    <div id="aal-icon-visit" class="aal-icon-visit aal-icon"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
                                        <div class="accessibility-text">Visit Us</div>
                                    </div>
                                </div>
                                <div class="col aal-metadata">
                                    <div class="card-body">
                                        <p class="card-title">Visit us</p>
                                        <p class="card-text">Visit our library locations.</p>
                                    </div> <!-- card-body -->
                                </div> <!-- aal-metadata -->
                            </div> <!-- row -->
                        </div> <!-- card -->
                    </a> <!-- card-link-wrapper -->
                </div> <!-- aal-box-wrapper -->

            </div> <!-- row -->
        </div> <!-- aal-box-container -->
    </div> <!-- menu-list -->

    <!-- Research Help -->
    <ul class="col-12 col-4 col-md-3 menu-list">
        <li><a href="https://libguides.bc.edu/research-help" id="mm-help-research" class="menu-header">Research Help</a></li>
        <li><a href="https://libguides.bc.edu/research_guides" id="mm-help-subjects">Research Guides</a></li>
        <li><a href="https://libguides.bc.edu/subjects/course-guides" id="mm-help-course">Course Guides</a></li>
        <li><a href="https://libguides.bc.edu/subjects/general" id="mm-help-howto">How to... (General Guides)</a></li>
        <li><a href="https://libguides.bc.edu/core-skills-videos" id="mm-help-coreskills">Core Skills video tutorials</a></li>
        <li><a href="https://libguides.bc.edu/ask-a-librarian/contact" id="mm-help-subject-librarians">Subject Librarians</a></li>
        <li><a href="https://answers.bc.edu" id="mm-help-faq">FAQ</a></li>
    </ul> <!-- menu-list -->
</div> <!-- row -->

<div class="row find-more-link">
    <div class="more">
        <a href="https://libguides.bc.edu/ask-a-librarian" id="mm-help-all">All Help
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </a>
    </div>
</div> <!-- row -->

<!-- END Help menu dropdown -->