<div class="row menu-list-container">
    <div class="col-xs-9 col-sm-9 col-md-9 menu_list" id="mm-help-aal">
        <div class="h4style">
            <a href="https://libguides.bc.edu/ask-a-librarian" id="mm-ask-a-librarian">Ask A Librarian</a>
        </div>

        <div class="aal-box-container row">
            <div class="col-sm-6 col-xs-12">
                {{ partial "ask-a-librarian/chat" (dict "context" . "item_id" "askuswidget-mm") }}
            </div>

            <div class="col-sm-6 col-xs-12">
                {{ partial "ask-a-librarian/email" }}
            </div>

            <div class="col-sm-6 col-xs-12">
                {{ partial "ask-a-librarian/meet" }}
            </div>

            <div class="col-sm-6 col-xs-12">
                {{ partial "ask-a-librarian/visit" }}
            </div>
        </div>
    </div>
    <ul class="col-xs-3 col-sm-3 col-md-3 menu_list">
        <li>
            <div class="h4style"><a href="https://libguides.bc.edu/research-help" id="mm-help-research">Research Help</a></div>
        </li>
        <li><a href="https://libguides.bc.edu/research_guides" id="mm-help-subjects">Research Guides</a></li>
        <li><a href="https://libguides.bc.edu/subjects/course-guides" id="mm-help-course">Course Guides</a></li>
        <li><a href="https://libguides.bc.edu/subjects/general" id="mm-help-howto">How to... (General Guides)</a></li>
        <li><a href="https://libguides.bc.edu/core-skills-videos" id="mm-help-coreskills">Core Skills video tutorials</a></li>
        <li><a href="https://libguides.bc.edu/ask-a-librarian/contact" id="mm-help-subject-librarians">Subject Librarians</a></li>
        <li><a href="https://answers.bc.edu" id="mm-help-faq">FAQ</a></li>
    </ul>
</div>
<div class="row bottom_row">
    <div class="more">
        <a href="https://libguides.bc.edu/ask-a-librarian" id="mm-help-all">All Help
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </a>
    </div>
</div>
