<div class="row">
    <!-- All hours -->
    <ul class="col-sm-12 col-md-10 col-md-offset-1 hours_menu_list">
        <li>
            <div class="hours-todays-date-container">
                Library hours for <span class="hours-todays-date">{{ now.Format "January 2, 2006"}}</span>
            </div>
            {{ partial "todays-library-hours.html" . }}
        </li>
    </ul>
    <!--div class="col-sm-12 col-md-10 col-md-offset-1 hours_menu_list occupancy-link">
        <a href="https://app.safespace.io/api/display/live-occupancy/f7b3db8a?view=percent"><i class="fa fa-users" aria-hidden="true"></i> How crowded is O'Neill right now?</a>
    </div-->
</div>
<div class="row bottom_row">
    <div class="more">
        <a href="https://libguides.bc.edu/hours">See all hours</a>
        <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> 
    </div>
</div>