{{/* Builds one library panel in the "About" section of the megamenu

    The input for this partial is something like:
    
        "oneill": {
            "code": "oneill",
            "name": "O'Neill Library",
            "brief_description": "Main library",
            "contact_type": "phone",
            "phone": [
                {
                    "number": "617-552-4472",
                    "compressed": "16175524472",
                    "description": "Reference"
                }
            ]
        }

    Usually we'll use data from the libraries/all.json file (or a Web service to replace it).

    */}}

{{/* Set library URL. If there is no url value set in the data, build it from the library code. */}}
{{ $library_url := cond (eq .library.url nil) (printf "https://libguides.bc.edu/%s" .library.code) .library.url }}

{{/* Base image name for building <picture> element. */}}
{{ $base_image := printf "librarypane/megamenu_thumbnail_%s" .library.code }}

<div class="col library-box-wrapper">
    <div class="library-box card">
        <div class="row g-0 flex-grow-1">
            <div class="col-5 d-none d-lg-block library-image">
                <a href="{{ $library_url }}" class="library-card-link">
                    {{ partial "picture" (dict "ctx"   .
                                                "base"  $base_image
                                                "ext"   ".png"
                                                "alt"   .library.name 
                                                "class" ""
                                                "avif"  true
                                                "webp"  true
                                                "lazy"  true) }}
                </a>
            </div>
            <div class="col-12 col-lg-7 library-metadata">
                <div class="card-body">
                    <div class="media-body-inner">
                        <h3 class="media-heading accessibility-text">{{ .library.name }}</h3>
                        <a class="library-card-link" href="{{ $library_url }}">
                            <p class="card-title">{{ .library.name }}</p>
                        </a>
                        <p class="card-text library-box-description">{{ .library.brief_description }}</p>

                        {{ if .library.map }}
                            <p class="card-text"><a href="{{ .library.map }}">Map <i class="fa fa-map-marker" aria-hidden="true"></i></a></p>
                        {{ end }}
                    </div>
                </div>
                <div class="card-footer">
                    {{/* Contact info */}}
                    {{ if (eq .library.contact_type "phone") }}
                        {{ range first 1 .library.phone }}
                            <a href="tel:{{ .compressed }}">{{ .number }}</a>
                        {{ end }}
                    {{ else if (eq .library.contact_type "email") }}
                        {{ range first 1 .library.email }}
                            Contact <a href="mailto:{{ .address }}">{{ .label }}</a>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>