{{/* Builds one library panel in the "About" section of the megamenu

    The input for this partial is something like:
    
        "oneill": {
            "code": "oneill",
            "name": "O'Neill Library",
            "brief_description": "Main library",
            "contact_type": "phone",
            "phone": [
                {
                    "number": "617-552-4472",
                    "compressed": "16175524472",
                    "description": "Reference"
                }
            ]
        }

    Usually we'll use data from the libraries/all.json file (or a Web service to replace it).

    */}}

{{/* Set library URL. If there is no url value set in the data, build it from the library code. */}}
{{ $library_url := cond (eq .library.url nil) (printf "https://libguides.bc.edu/%s" .library.code) .library.url }}

{{/* Set library image URL. If there is no url value set in the data, build it from the library code. */}}
{{ $library_img := cond (eq .library.img nil) (printf "https://library.bc.edu/images/librarypane/megamenu_thumbnail_%s.png" .library.code) .library.img }}

<div class="col-sm-4 col-xs-4 library-box">
    <div class="lib-box lib-box-small panel panel-default">
        <div class="panel-body">
            <div class="panel-heading">
                <div class="media">
                    <div class="media-left">
                        <a href="{{ $library_url }}" class="lib-thumb">
                            <img class="media-object" src="{{ $library_img }}" alt="{{ .library.name }}">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="media-body-inner">
                            <h3 class="media-heading accessibility-text">{{ .library.name }}</h3>
                            <p><a class="lib-name" href="{{ $library_url }}">{{ .library.name }}</a></br/>{{ .library.brief_description }}</p>

                            {{/* Contact info */}}
                            {{ if (eq .library.contact_type "phone") }}
                                {{ range first 1 .library.phone }}
                                    <div class="lib-box-pair">
                                        <span class="lib-box-pair-label">{{ .description }}:</span> <span class="lib-box-pair-value"><a href="tel:{{ .compressed }}">{{ .number }}</a></span>
                                    </div>
                                {{ end }}
                            {{ else if (eq .library.contact_type "email") }}
                                {{ range first 1 .library.email }}
                                    <div class="lib-box-pair">
                                        <span class="lib-box-pair-label"></span> <span class="lib-box-pair-value">Contact <a href="mailto:{{ .address }}">{{ .label }}</a></span>
                                    </div>
                                {{ end }}
                            {{ end }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>