{{/* Framework for a menu page */}}

{{ $partial_path := printf "megamenu/%s.html" .menu_partial }}
{{ $menu_id := printf "mm-%s-header" .menu_partial }}

<li class="nav-item dropdown dropdown-hover" id="nav-item-menu-{{ .menu_partial }}">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ .menu_title }}</a>
    <div class="dropdown-menu">
        <div class="container-fluid">
            {{ partial $partial_path .context }}
        </div> <!-- container-fluid -->
    </div> <!-- dropdown-menu -->
</li> <!-- nav-item | dropdown -->