<!-- BEGIN My Accounts menu dropdown -->

<div class="row gy-4 pb-2">
    <!-- Library catalog account -->
    <ul class="col-12 col-md-3 menu-list">
        <li>
            <a class="menu-header" href="https://bc.primo.exlibrisgroup.com/discovery/account?vid=01BC_INST:bclib">Library Catalog account</a>
            <div class="menu-text">Renew books; check due dates; save records</div>
        </li>
    </ul>

    <!-- Interlibrary Loan Account account -->
    <ul class="col-12 col-md-3 menu-list">
        <li>
            <a class="menu-header" href="https://illiad.bc.edu/illiad/bxm/logon.html">Interlibrary Loan account</a>
            <div class="menu-text">Request books, articles, and more from other libraries; review due dates</div>
        </li>
    </ul>

    <!-- Burns Library account -->
    <ul class="col-12 col-md-3 menu-list">
        <li>
            <a class="menu-header" href="https://burnsaccount.bc.edu">Burns Library account</a>
            <div class="menu-text">Register to research, schedule visits, and order copies at Burns Library</div>
        </li>
    </ul>

    <!-- Overdrive account -->
    <ul class="col-12 col-md-3 menu-list">
        <li>
            <a class="menu-header" href="https://bc.overdrive.com/account/loans">Overdrive account</a>
            <div class="menu-text">Borrow and renew popular ebooks and audiobooks</div>
        </li>
    </ul>
</div> <!-- row -->

<!-- END My Accounts menu dropdown -->