<div class="row menu-list-container">
    <!-- Catalog -->
    <ul class="col-xs-6 col-sm-3 col-md-3 menu_list">
        <li>
            <div class="h3style">
                <a href="https://bc.primo.exlibrisgroup.com/discovery/account?vid=01BC_INST:bclib">Library catalog
                    account</a>
            </div>
            <p>Renew books; check due dates; save records</p>
        </li>
    </ul>

    <!-- ILL -->
    <ul class="col-xs-6 col-sm-3 col-md-3 menu_list">
        <li>
            <div class="h3style">
                <a href="https://illiad.bc.edu/illiad/bxm/logon.html">Interlibrary Loan account</a>
            </div>
            <p>Request books, articles, and more from other libraries; review due dates</p>
        </li>
    </ul>

    <!-- Burns -->
    <ul class="col-xs-6 col-sm-3 col-md-3 menu_list">
        <li>
            <div class="h3style">
                <a href="https://burnsaccount.bc.edu">Burns Library account</a>
            </div>
            <p>Register to research, schedule visits, and order copies at Burns Library</p>
        </li>
    </ul>

    <!-- OverDrive -->
    <ul class="col-xs-6 col-sm-3 col-md-3 menu_list">
        <li>
            <div class="h3style">
                <a href="https://bc.overdrive.com/account/loans">OverDrive account</a>
            </div>
            <p>Borrow and renew popular ebooks and audiobooks</p>
        </li>
    </ul>
</div>

<div class="row bottom_row">
    <div class="more">
        <a href="https://libguides.bc.edu/my-accounts" id="mm-find-more-accounts">More about Accounts
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </a>
    </div>
</div>