<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle menu-option" id="mm-using-header">Services</a>
    <ul class="dropdown-menu">
        <li>
            <!-- Content container to add padding -->
            <div class="yamm-content">
                <div class="row">
                    <!-- Services -->
                    <ul class="col-sm-3 menu_list">
                        <li><div class="h4style"><a href="https://libguides.bc.edu/services" id="mm-using-services">Services</a></div></li>
                        <li><a href="https://libguides.bc.edu/borrowing" id="mm-using-services-borrowing">Borrowing</a></li>
                        <li><a href="https://libguides.bc.edu/interlibrary-loan" id="mm-using-services-requesting">Interlibrary Loan</a></li>
                        <li><a href="https://libguides.bc.edu/course-reserves" id="mm-using-services-course-reserves">Course Reserves</a></li>
                        <li><a href="https://libguides.bc.edu/library-instruction" id="mm-using-services-library-instruction">Library Instruction</a></li>
                        <li><a href="https://libguides.bc.edu/media-services" id="mm-using-services-media-services">Media Services</a></li>
                        <li><a href="https://ds.bc.edu/" id="mm-using-services-digital-scholoarship">Digital Scholarship</a></li>
                        <li><a href="https://libguides.bc.edu/scholcomm" id="mm-using-services-publishing-support">Publishing Support</a></li>
                        <li><a href="https://libguides.bc.edu/accessibility" id="mm-using-services-accessibility">Accessibility</a></li>
                        <li><a href="https://libguides.bc.edu/dataverse" id="mm-using-services-dataverse">Dataverse</a></li>
                    </ul>

                    <!-- Services For... -->
                    <ul class="col-sm-3 menu_list">
                        <li><div class="h4style"><a href="https://libguides.bc.edu/services-for" id="mm-using-services-for">Services for...</a></div></li>
                        <li><a href="https://libguides.bc.edu/undergraduates" id="mm-using-services-for-undergrads">Undergraduates</a></li>
                        <li><a href="https://libguides.bc.edu/graduate-students" id="mm-using-services-for-grads">Graduate Students</a></li>
                        <li><a href="https://libguides.bc.edu/faculty-and-staff" id="mm-using-services-for-faculty-staff">Faculty &amp; Staff</a></li>
                        <li><a href="https://libguides.bc.edu/alumni-and-guests" id="mm-using-services-for-alumni-guests">Alumni &amp; Guests</a></li>
                    </ul>

                    <!-- Technology -->
                    <ul class="col-sm-3 menu_list">
                        <li><div class="h4style"><a href="https://libguides.bc.edu/technology" id="mm-using-technology">Technology</a></div></li>
                        <li><a href="https://libguides.bc.edu/software" id="mm-using-technology-software">Software in the libraries</a></li>
                        <li><a href="https://libguides.bc.edu/technology-loan" id="mm-tech-and-equipment-loans">Tech and Equipment Loans</a></li>
                        <li><a href="https://libguides.bc.edu/printers-and-scanners" id="mm-using-technology-printers">Printers &amp; Scanners</a></li>
                        <li><a href="https://libguides.bc.edu/oneill-tech-help" id="mm-using-tech-help">Technology Help</a></li>
                    </ul>

                    <!-- Spaces -->
                    <ul class="col-sm-3 menu_list end">
                        <li><div class="h4style"><a href="https://libguides.bc.edu/spaces" id="mm-using-spaces">Spaces</a></div></li>
                        <li><a href="https://libcal.bc.edu/booking/oneill" id="mm-using-spaces-study-room">Reserve a Study Room</a></li>
                        <li><a href="https://libguides.bc.edu/study-spaces" id="mm-using-spaces-study-spaces">Study Spaces</a></li>
                        <li><a href="https://library.bc.edu/exhibits/spaces/" id="mm-using-spaces-exhibition">Exhibition Spaces</a></li>
                        <li><a href="https://ds.bc.edu/digital-studio/" id="mm-using-spaces-digstudio">Digital Studio</a></li> 
                    </ul>
                </div>

                <div class="row bottom_row">
                    <div class="more"><a href="https://libguides.bc.edu/using-the-library" id="mm-more-using">More Library Services <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></div>
                </div>
            </div>
        </li>
    </ul>
</li>