{{ define "title" }}Category Term: {{ .Title }}{{ end }}

{{ define "hero-box" }}{{ end }}

{{ define "pagestyles" }}
<style>
    .category-tag-name {font-weight: 600;}
    .category-items {padding: 2rem 0;}
    .category-item {padding-bottom: 1.5rem;}
    .category-item a {font-weight: 600;}
</style>
{{ end }}

{{ define "main" }}
<div class="exhibit-container">
    <div class="container">
        <ol class="breadcrumb" id="s-lib-bc-list">
            <li id="s-lib-bc-customer"><a href='{{ relref . "/"}}'>{{ .Site.Title }}</a></li>
            <li id="s-lib-bc-group"><a href='{{ relref . "/categories"}}'>Categories</a></li>
            <li id="s-lib-bc-page" class="active">{{ .Title }}</li>
        </ol>
    </div>
</div>
<div class="container">
    <h2>Articles tagged with: <span class="category-tag-name">{{ .Title }}</span></h2>
    <div class="category-items">
        {{ range .Pages }}
        <div class="category-item">
            <a href="{{.Permalink}}">{{.Title}}</a> <span class="badge">{{ .Type }}</span>
            <p>Date published: {{ .Date.Format "Jan 2, 2006" }}</p>
        </div>
        {{ end }}
    </div>
</div>

{{ end }}