{{ define "title" }}News Archive{{ end }}

{{ define "header" }}{{ end }}

{{ define "pagestyles" }}
    {{ $news_styles := resources.Get "css/news.css" }}
    <link rel="stylesheet" href="{{ $news_styles.RelPermalink }}">
{{ end }}

{{ define "main" }}
<div class="container news-container">
    
    {{ partial "news/breadcrumbs.html" . }}

    <h2 id="main-heading" class="page-title">{{ .Title }} Archive</h2>


    <h3>2020</h3>
    <div class="news-archives row">
    {{ range where .Pages ".Params.year" "2020" }}
    {{ .Render "summary"}}
    {{ end }}
    </div>

    <h3>2019</h3>
    <div class="news-archives row">
    {{ range where .Pages ".Params.year" "2019" }}
    {{ .Render "summary"}}
    {{ end }}
    </div>

    <h3>2018</h3>
    <div class="news-archives row">
    {{ range where .Pages ".Params.year" "2018" }}
    {{ .Render "summary"}}
    {{ end }}
    </div>

    <h3>2017</h3>
    <div class="news-archives row">
    {{ range where .Pages ".Params.year" "2017" }}
    {{ .Render "summary"}}
    {{ end }}
    </div>
</div>
{{end}}
