{{ define "title" }}News Archive{{ end }}

{{ define "header" }}{{ end }}

{{ define "pagestyles" }}
    {{ $news_styles := resources.Get "css/news.css" }}
    <link rel="stylesheet" href="{{ $news_styles.RelPermalink }}">
{{ end }}

{{ define "main" }}

<div class="container news-container">
    
    {{ partial "news/breadcrumbs.html" . }}

    <h2 id="main-heading" class="page-title">{{ .Title }} Archive</h2>

    {{/* Loop over recent years and show news stories. */}}
    {{ $News := . }}
    {{ range slice "2022" "2021" "2020" "2019" "2018" "2017" }}
    <h3>{{ . }}</h3>
    <div class="news-archives row">
        {{ range where $News.Pages ".Params.year" . }}
        {{ .Render "summary"}}
        {{ end }}
    </div>
    {{ end }}
</div>
{{end}}
