{{ define "title" }}News Archive{{ end }}

{{ define "hero-box" }}{{ end }}

{{ define "pagestyles" }}
{{ end }}

{{ define "main" }}

    <div class="container news-container">

        {{ partial "news/breadcrumbs.html" . }}

        <h2 id="main-heading" class="page-title">{{ .Title }} Archive</h2>

        <div class="news-archives">
            {{ range (.Paginate (.Data.Pages.GroupByDate "2006 January") 24).PageGroups  }}
                {{ range .Pages }}
                    {{ .Render "summary"}}
                {{ end }}
            {{ end }}
        </div>

        {{ template "_internal/pagination.html" . }}

    </div>
{{end}}
