{{ $link_target := .Permalink -}}
{{ if .Params.Destination -}}
    {{ $link_target = .Params.Destination -}}
{{ end -}}

{{ $img := "/generic_news.png" -}}
{{ $alt_text := "News icon" -}}
{{ if .Params.Imagethumb -}}
    {{ $img = print "/news/" .Params.Imagethumb -}}
    {{ $alt_text = .Params.imagealt -}}
{{ end -}}

<article class="post">
    <a href='{{ $link_target }}'>

        {{/* The <noscript/> tag is for loading attribute polyfill, used
            for img lazy-loading support in browsers without the loading
            attribute. */}}
        <noscript class="loading-lazy">
            {{ $imageName :=  path.BaseName .Params.imagethumb }}
            {{ $imageDir := path.Dir .Params.imagethumb }}
            {{ $fullImagePath := print .Params.type "/" $imageDir "/" $imageName }}
            {{ partial "picture" (dict "ctx"   .
            "base"  $fullImagePath
            "alt"   .Params.imagealt
            "class" ""
            "avif"  true
            "webp"  true
            "lazy"  true) }}
        </noscript>

        <div class="news-section-text">
            <div class="news-section-date">{{ .Date.Format "Jan 2, 2006" }}</div>
            <h4 class="news-section-title">{{ .Title | safeHTML }}</h4>
            <div class="news-section-content-blurb">{{ .Summary | safeHTML | truncate 200 }}</div>
        </div>
    </a>
</article>
