{{ $has_destination := isset .Params "Destination" -}}
{{ $link_target := cond $has_destination .Params.Destination .Permalink -}}

{{ $img := "/generic_news.png" -}}
{{ $alt_text := "News icon" -}}
{{ if .Params.Imagethumb -}}
    {{ $img = print "/news/" .Params.Imagethumb -}}
    {{ $alt_text = .Params.imagealt -}}
{{ end -}}

<article class="post">
    <a href='{{ $link_target }}'>

        {{/* The <noscript/> tag is for loading attribute polyfill, used
            for img lazy-loading support in browsers without the loading
            attribute. */}}
        <noscript class="loading-lazy">
            <img src='{{ .Site.Params.imageBaseURL }}/{{ $img }}' alt='{{ .Scratch.Get "imgalt" }}' loading="lazy"/>
        </noscript>

        <div class="news-section-text">
            <div class="news-section-date">{{ .Date.Format "Jan 2, 2006" }}</div>
            <h4 class="news-section-title">{{ .Title | safeHTML }}</h4>
            <div class="news-section-content-blurb">{{ .Summary | safeHTML | truncate 200 }}</div>
        </div>
    </a>
</article>
