@charset "utf-8";

html {
    font-size: 16px;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    color: $black-text;
    font-size: 1rem;
    line-height: 1.5; // 24px
}

.accessibility-text {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

a {
    color: $bc-link-color;
}

#skiplink {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;

    &:active,
    &:focus,
    &:hover {
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        overflow: visible;
        background-color: $white-body;
        padding: .25rem;
    }
}

.caption-link {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 10px;
    background-color: rgba(16, 14, 15, .85);
    color: $white-text;
    font-size: smaller;
    font-weight: 200;
}

.caption-link a {
    color: $white-text;
}

.caption-link a:hover,
.caption-link a:focus {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .caption-link {
        display: none;
    }
}