.megamenu-container {
    margin: 0;
    padding: 0;
    background-color: rgba(16,14,15,.85);
    position: absolute;
    width: 100%;
    z-index: 3;

    .container:first-child {
        padding-left:0;
        padding-right:0;
    }

    .h3style {
        color: $dark-blue-green;
        font-size: 18px;
        line-height: 1.25;
        font-weight: normal;
        margin: 5px 0 10px 0;
        padding: 0;
    }

    .h4style {
        color: $dark-blue-green;
        font-size: 16px;
        font-weight: normal;
        margin: 5px 0 10px !important;
        padding: 0;
        text-transform: none;
    }

    .navbar {
        margin-bottom: 0;
        background-color: inherit;
        border: none;

        a.menu-option {
            text-shadow: 0 2px 6px rgba(0, 0, 0,0.85);
            color: $white-text;
            font-size: 20px;
            font-weight: 200;
        }

        .navbar-header {
            .accounts-link-mobile {
                padding: 8px 16px;
                margin: 12px;
                display: inline-block;
                font-size: 18px;
                line-height: 1;
                background-color: #204375;
                color: $white-text;
                border-radius: 4px;
            }

            .navbar-brand {
                text-shadow: 0 2px 6px rgba(0, 0, 0,0.85);
                color: $white-text;
                font-style: italic;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                font-weight: 200;
                padding-left: 17px;
            }

            .navbar-toggle {
                background-color: transparent;
                border: none;
                position: relative;
                width: 50px;
                height: 42px;
                padding: 0;

                .icon-bar {
                    display: none;
                }

                .icon-close {
                    display: block;
                    color: $white-text;
                    font-size: 30px;

                    .fa {
                        display: block;
                        margin-top: -3px;
                    }
                }

                &.collapsed {
                    .icon-bar {
                        display: block;
                    }

                    .icon-close {
                        display: none;
                    }
                }
            }
        } // .nabvar-header

        .navbar-collapse {
            padding-left:0;
            padding-right:0;

            .nav.navbar-nav {
                float: right;
                margin: 0;

                // li should be li.dropdown
                & > li {
                    // .navbar-nav > li > a:focus
                    & > a:focus,
                    & > a:hover {
                        background: $dark-blue-green !important;
                        color: $white-text;
                        outline: 0;
                    }

                    // .navbar-nav > li > .dropdown-menu
                    & > .dropdown-menu {
                        border-top: none;
                        border-radius: 0;
                        margin-top: 0;
                    }
                }

                .dropdown {
                    a.menu-option:focus,
                    a.menu-option:hover,
                    .open a.menu-option {
                        text-shadow: none;
                        color: $white-text;
                        background-color: #534741;
                    }

                    // .navbar-nav > .open > a:hover
                    & > .open {
                        & > a {
                            &:hover,
                            &:focus {
                                background: $dark-blue-green !important;
                                color: $white-text !important;
                            }
                        }
                    }

                    .dropdown-menu {
                        background-clip: padding-box;
                        background-color: $white-body;
                        border: 1px solid rgba(0, 0, 0, 0.15);
                        border-radius: 4px 4px 4px 4px;
                        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
                        float: left;
                        font-size: 14px;
                        left: 0;
                        list-style: none outside none;
                        margin: 2px 0 0;
                        min-width: 160px;
                        padding: 0;
                        position: absolute;
                        top: 100%;
                        z-index: 1000;

                        li {
                            // .dropdown-menu li > a
                            & > a {
                                display: block;
                                padding: 5px 5px 5px 5px;
                                margin: 0 0 0 -5px;
                                clear: both;
                                font-weight: normal;
                                line-height: 1.25;
                                word-break: normal;
                                outline: none;
                                color: #666;

                                // .dropdown-menu li > a:focus
                                &:hover,
                                &:focus {
                                    color: $red;
                                    text-decoration: none;
                                    background: #E0E0E0;
                                }
                           
                                &.grayed:hover {
                                    background: $white-body;
                                }

                                // .dropdown-menu li > a p.tuck
                                p.tuck {
                                    font-weight: 200;
                                    font-size: 12px;
                                    margin-bottom: 4px;
                                }
                            }

                            // .dropdown-menu li > .h4style
                            & > .h4style {
                                color: $dark-blue-green;
                                font-size: 16px;
                                line-height: 1.25;
                                font-weight: normal;
                                margin: 5px 0 5px 0 !important;
                                padding: 0;
                                text-transform: none;

                                // .dropdown-menu li > .h4style a
                                a {
                                    display: inline-block;
                                    width: 100%;

                                    // .dropdown-menu li > .h4style a:focus
                                    &:hover,
                                    &:focus {
                                        color: $red;
                                        text-decoration: none;
                                        background: #E0E0E0;
                                    }
                                }
                            }
                        }

                        .menu_list {
                            list-style: none outside none;
                            border-right: 1px solid $very-light-gray;
                            border-left: 1px solid $very-light-gray;
                            margin: 0 0 0 -1px;
                            padding: 0 25px;

                            &:first-child {
                                border-left: none;
                                margin-left: 0;
                            }
                        }
                    } // <ul> .dropdown-menu
                } // <li> .dropdown
            } // <ul> .nav.navbar-nav
        } // <div> .navbar-collapse
    } // <nav> .navbar

    .hours-todays-date-container {
        padding-bottom: 4px;

        .hours-todays-date {
            font-weight: 600;
        }
    }

    .onl-asterisk-notice {
        display: none
    }

    .hours_menu_list {
        list-style: none outside none;
        border-right: 0;
        padding: 0 25px;
    }
   
    .occupancy-link {
        margin-top: 1rem;
        text-align: right;
    }

    .libhelp-link {
        cursor: pointer;
    }
   
    .end {
        border: 0;
    }

    .bottom_row {
        border-top: 1px solid $very-light-gray;
        padding: 10px 0 10px;
    }
   
    .more {
        float: right;
        margin: 0 20px;

        a {
            // .more a:hover
            &:hover {
                text-decoration: none;
                background: #a3a3a3;
                border-bottom: 2px solid #999;
                color: $white-text;

                // .more a:hover:after
                &:after {
                    color: $white-text;
                }
            }

            // .more a:after
            &:after {
                content: none;
            }
        }
    }

    .hamburger {
        background: transparent;
    }
}

@media ( max-width: 1199px ) {
    .megamenu-container {
        .navbar {
            .navbar-collapse {
                .nav.navbar-nav {
                    & > li {
                        // .navbar-nav > li > .dropdown-menu
                        & > .dropdown-menu {
                            border: 0;
                            border-radius: 0;
                            margin-top: 0;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media ( max-width: 991px ) and ( min-width: 768px ) {
    .megamenu-container {
        .navbar {
            .navbar-collapse {
                .nav.navbar-nav {
                    float:none;
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media ( max-width: 991px ) {
    .megamenu-container {
        display: block;

        .navbar {
            .navbar-header {
                .navbar-brand {
                    display: none;
                }
            }
        }
    }
}

@media ( max-width: 767px ) {
    .megamenu-container {
        display: block;

        .navbar {
            .navbar-header {
                .navbar-toggle {
                    .icon-bar {
                        background-color: $white-body;
                        margin-left: 13px;
                    }
                }

                .navbar-brand {
                    display: none;
                }
            }

            .navbar-collapse {
                padding-left:15px;
                padding-right:15px;
                background-color: $white-body;
                border-bottom: 15px solid rgba(0, 0, 0, 0);
                box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);

                .nav.navbar-nav {
                   // .navbar-nav > li > .dropdown-menu
                    & > li {
                        & > .dropdown-menu {
                            border: 0;
                            font-size: 14px;
                            background-color: $white-body;
                            z-index: 1000;

                            // .navbar-nav > li > .dropdown-menu > li:nth-child(1)
                            & > li {
                                &:nth-child(1) {
                                    border-top: 0;
                                    border-bottom: 2px dashed #ccc;
                                    margin-bottom: 1.5rem;
                                }
                            }
                        }
                    }

                    .dropdown {
                        a.menu-option {
                            text-shadow: none;
                            color: $black-text;
                        }

                        .dropdown-menu {
                            li {
                                // .dropdown-menu li > .h4style
                                & > .h4style  {
                                    margin: 0 !important;
                                    font-size: 18px;
                                    padding: 0;

                                    // .dropdown-menu li > .h4style a
                                    a {
                                        font-size: 18px;
                                        padding: 10px;
                                    }
                                }
                            }

                            ul.menu_list {
                                margin-bottom: 15px;
                                text-align: center;
                                border: none;
                            }
                        } // .dropdown-menu
                    } // .dropdown
                } // .nav
            } // .navbar-collapse
        } // .navbar

        .bottom_row {
            margin: 10px 0 0 0;
        }

        .h3style {
            margin-bottom: 5px;
        }
    }
}

@media (min-width: 768px) {
    .megamenu-container {
        .navbar {
            .navbar-header {
                a.accounts-link-mobile {
                    display: none;
                }
            }
        }
    }
}
