#facpub h2 a {
    font-size: 24px;
    border-bottom: 1px solid;
    text-decoration: none;
}

#ds-highlight .content h3,
#digcol-highlight .content h3 {
    margin: 0 0 20px 0;
    padding: 0;
    font-weight: 200;
    line-height: 1.25;
}

#ds-highlight .content h3 a,
#digcol-highlight .content h3 a {
    color: $white-text;
    border-bottom: 1px solid $white-body;
}

#ds-highlight .content h3 a:hover,
#ds-highlight .content h3 a:focus,
#digcol-highlight .content h3 a:hover,
#digcol-highlight .content h3 a:focus {
    color: $bc-primary-light-gold;
    border-bottom: 1px solid $bc-primary-light-gold;
    text-decoration: none;
}

/* content sections */

/* header */
#hero-box {
    padding-bottom: 4rem;
    padding-top: 80px;
    background-color: #467282;
}

#header-top-row {
    padding-top: 0;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: right;
        margin: 0;
    }
}

/* Search panel */
#search-panel {
    background-color: $bc-brand-maroon;
    border-radius: 6px;
}

#search-panel .fa-search {
    padding-right: .5em;
}

#search-panel #search-links {
    padding-top: 0
}

#search-panel #search-links a, #search-panel #search-links a:visited {
    color: white;
    font-size: 18px;
}

#search-panel input.form-control, #search-panel button.btn.btn-default {
    height: 50px;
    font-size: 20px;
}

.online-only-label {
    color: #f3f3f3;
}

span.online-only-label-text {
    margin-left: .25em;
    margin-right: .25em;
}

#online-only-checkbox {
    margin-top: 6px;
}

label.checkbox-inline.online-only-label {
    font-style: italic;
    font-size: 16px;
}

button.whats-this, button.whats-this:active, button.whats-this:hover {
    text-decoration: none;
    border: none;
    cursor: help;
}

.whats-this-message {
    padding: .25em .5em;
    display: none;
    font-size: .9em;
    color: white;
}

.container-fluid .pull-right {
    height: auto;
}

.megamenu-container .libraryh3lp > a.chat-link {
    font-weight: 600;
}

/* Ask A Librian box styles */
.aal-box,
.lib-box {
    background-color: #f8f8f8;
    font-size: 16px;
}

.lib-box .panel-body .media a.lib-thumb {
    display: block;
}

.aal-box p:last-child,
.lib-box p:last-child {
    margin-bottom: 0;
}

.aal-box .fa {
    margin-left: 2px;
    font-weight: 600;
}

.aal-box h3,
.aal-box .panel h3,
.lib-box h3,
.lib-box .panel h3 {
    font-size: larger;
    font-weight: 600;
}

.aal-box a {
    /* darken to better contrast against light-gray background */
    color: #3076AB;
}

.aal-box a.aal-icon {
    font-size: 100px !important;
    color: $white-text;
    display: block;
    // vertical-align: top;
    line-height: 1;
    width: 141px;
}

.aal-box a.aal-icon i {
    padding: 20px;
    width: 100%;
}

.aal-box .chat-icon-link.aal-icon, .aal-box #chat-icon-link.aal-icon {
    background-color: $bc-brand-gold;
}

.aal-box .email-icon-link.aal-icon, .aal-box #email-icon-link.aal-icon {
    background-color: #a25729;
}

.aal-box .meet-icon-link.aal-icon, .aal-box #meet-icon-link.aal-icon  {
    background-color: #204375;
}

.aal-box #visit-icon-link.aal-icon {
    background-color: $bc-primary-light-gold;
}

.aal-box #faq-icon-link.aal-icon {
    background-color: #07625d;
}

.aal-box .aal-icon:focus,
.aal-box .aal-icon:active,
.aal-box .aal-icon:hover {
    background-color: #31b0d5 !important;
}

.lib-box .panel-body .media img {
    max-width: 141px !important;
}

/* Ask A Librarian small boxes */
.lib-box-small .panel-body .media img {
    max-width: 100px !important;
}

.aal-box-small,
.lib-box-small {
    font-size: inherit;
}

.aal-box-small .panel-body,
.lib-box-small .panel-body {
    padding: 10px 5px 10px 10px;
}

.aal-box-small a.aal-icon {
    font-size: 60px !important;
    width: 100px;
}

.aal-box-small h3,
.aal-box-small .panel h3,
.lib-box-small h3,
.lib-box-small .panel h3 {
    font-size: 15px;
}

.alert-hours a, .alert-hours a:hover {
    color: darkslateblue;
    font-weight: 700;
}

@media ( max-width: 1199px ) {

    #bcl-feedback #feedback_wrapper {
        width: 90%;
        display: inline-block;
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        transform: translate(0px, 0%);
        margin: 40px auto 20px auto;
    }
}


/* media query overrides */

@media screen and (min-width: 1200px) {
    #quick-links .quick-link-block {
        height: 128px;
    }
}



/* Landscape tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    #quick-links .quick-link-block {
        height: 184px;
    }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    #news {
        padding-bottom: 0;
    }

    #facpub img.bookcover {
        display: none !important;
    }

    #news .more-news {
        text-align: center;
        margin-top: -1em;
    }

    .navbar-brand {
        display: none;
    }
}

@media (min-width: 768px) {
    #hero-box {
        padding-top: 80px;
        height: 320px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .container-fluid .pull-right {
        left: auto !important;
        top: auto !important;
        bottom: 0 !important;
        right: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
        transform: none !important;
        position: absolute;
    }

    .container-fluid .pull-right .content {
        padding: 15px 15px !important;
        max-width: 100% !important;
        width: 100%;
        text-align: center;
        position: relative;
        bottom: auto;
        right: auto;
        left: auto;
    }

    #scholarship .row {
        margin-left: 1em;
        margin-right: 1em;
    }

    #search-panel button.btn.btn-default .search-button-text {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    #search-panel #search-links div {
        display: inline-block;
    }
}

/* Ask A Librarian specific */
@media (max-width: 424px) {
    .aal-box .panel-body .media img,
    .aal-box-small .panel-body .media img,
    .lib-box .panel-body .media img,
    .lib-box-small .panel-body .media img {
        max-width: 90px !important;
    }

    .aal-box a.aal-icon,
    .aal-box-small a.aal-icon {
        width: 90px !important;
        font-size: 50px !important;
    }
}

/* Ask A Librarian specific */
@media (max-width: 374px) {
    .aal-box a.aal-icon,
    .aal-box-small a.aal-icon,
    .aal-box .panel-body .media img,
    .aal-box-small .panel-body .media img,
    .lib-box .panel-body .media img,
    .lib-box-small .panel-body .media img {
        display: none;
    }
}
