body.alternate-header {
    #header {
        background: url("https://library.bc.edu/images/homepage/hero/bc-spring-flowers-high-1440px.jpg") no-repeat 0 15% #fff;
        background-size: cover;
    }
    #services-highlight-container {
        border: 0;
    }
    #search-panel {
        border: 2px solid rgba(0, 0, 0, .25);
    }
}

@media (min-width: 768px) {
    #header {
        padding-top: 100px;
        height: 340px;
    }
}

@media (max-width: 767px) {
    #header {
        padding-top: 85px;
        /*height: 320px;*/
        height: 320px;
    }
}