// Search bar
#search-panel {
    background-color: $bc-brand-maroon;
    border-radius: 6px;
    /*box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.2);*/
    padding: 1.5rem;
}

#search-panel .fa-search {
    padding-right: .5em;
}

#search-panel #search-links {
    padding-top: 0
}

#search-panel #search-links a, #search-panel #search-links a:visited {
    color: white;
    font-size: 18px;
}

#search-panel input.form-control, #search-panel button.btn.btn-default {
    height: 50px;
    font-size: 20px;
}

.online-only-label {
    color: #f3f3f3;
}

span.online-only-label-text {
    margin-left: .25em;
    margin-right: .25em;
}

#online-only-checkbox {
    margin-top: 6px;
}

label.checkbox-inline.online-only-label {
    font-style: italic;
    font-size: 16px;
}

button.whats-this, button.whats-this:active, button.whats-this:hover {
    /*color: hsl(207, 59%, 85%); */
    text-decoration: none;
    /*background: none;*/
    border: none;
    cursor: help;
}

.whats-this-message {
    padding: .25em .5em;
    display: none;
    font-size: .9em;
    color: white;
}

@media (max-width: 767px) {
    #search-panel button.btn.btn-default .search-button-text {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    #search-panel #search-links div {
        display: inline-block;
    }
}
