#top-columns {
    /*background: url(https://libapps.s3.amazonaws.com/accounts/3908/images/background-sample-3.jpg) no-repeat 00% 100%;
    background-size: cover;*/
    background-color: $white-body;
    padding-bottom: 3rem;

    .row {
        padding-top:0;
        padding-bottom:0;
    }

    .column-items {
        display: flex;
        flex-wrap: wrap;

        /* Safari doesn't play well with floated elements and flex display */
        &:before,
        &:after {
            display:none!important;
        }

         /* TODO: Possibly unused */
        .column-item {
            display: flex;
            flex-flow: column;

            /* Safari doesn't play well with floated elements and flex display */
            &:before,
            &:after {
                display:none!important;
            }
        }
    }

    /* TODO: Possibly unused */
    .column-combo {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;

        /* Safari doesn't play well with floated elements and flex display */
        &:before,
        &:after {
            display:none!important;
        }
    }

    .column-sub-item {
        flex-wrap: wrap;
        flex:1;
    }
}

.browse-more-link {
    padding-top: 1rem;
    font-size: larger;
    text-align: right;
}

.homepage h2,
.homepage h3 {
    font-weight: 200;
}

/* TODO: Possibly unused */
@media (max-width: 991px) {
    #top-columns .column-combo {
        display: block;
    }
}

#header {
    /*background: #ccc url("https://library.bc.edu/images/hero01.jpg") 0 70%; /* CHANGE BACKGROUND SEASONALLY */
    /*height: 380px;
    background-size: cover;
    padding-top: 0px;
    position: relative;*/

    padding-bottom: 4rem;
    padding-top: 80px;
    background-color: #467282;
}

/* Search bar component */
@import 'homepage_search-bar';

/* Services Highlight section */
/*@import 'homepage_services-highlight';*/

/* Staff Interest - 2020 */
/*@import 'homepage_staff-interest';*/

/* Ask A Librarian component */
@import 'homepage_ask-a-librarian';

/* Featured Tip component */
@import 'homepage_featured-tip';

/* Quick Links component */
@import 'homepage_quicklinks';

/* Visitation/Vaccination alert box component */
@import 'homepage_visitation_alert';

/* News section */
@import 'homepage_news';

/* Featured Subject Specialists section */
@import 'homepage_featured-subject-specialists';

/* Explore Collections section */
@import 'homepage_explore-collections';

/* Social Media Highlight section */
@import 'homepage_socialmedia-highlight';

/* Exhibitions & Digital Scholarship highlight & Faculty Publication highlight sections */
/* @import 'homepage_old-content'; */

/* Welcome Back Students alert */
#welcome-back-students-container {
    margin-top: 2rem;
}

#welcome-back-message-wrapper {
    font-size: 16px;
    background-color: #FBCD26;
    color: $black-text;
    padding: 2rem;
    border-radius: 8px;

    h2 {
        color:$black-text;
        padding: 0 0 1rem 0;
        margin: 0;
    }
}


/* Welcome New Students alert */
#welcome-new-students {
    margin-bottom: 4rem;

    .intro {
        font-size: large;
    }
}

// Hero image caption
.caption-link {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 10px;
    background-color: rgba(16, 14, 15, .85);
    color: $white-text;
    font-size: 12px;
    font-weight: 200;

    a {
        color: $white-text;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

@media (min-width: 768px) {
    #header {
        padding-top: 80px;
        height: 320px;
    }
}
