html.fallback body.alternate-header #header {
    background: url("https://library.bc.edu/images/homepage/hero/bapst-in-snow-1440px.jpg") no-repeat 0 90% #fff;
    background-size: cover;
}

html.avif body.alternate-header #header {
    background: url("https://library.bc.edu/images/homepage/hero/bapst-in-snow-1440px.avif") no-repeat 0 85% #fff;
    background-size: cover;
}

html.webp body.alternate-header #header {
    background: url("https://library.bc.edu/images/homepage/hero/bapst-in-snow-1440px.webp") no-repeat 0 85% #fff;
    background-size: cover;
}

body.alternate-header {
    #services-highlight-container {
        border: 0;
    }
    #search-panel {
        border: 2px solid rgba(0, 0, 0, .25);
    }
}

@media (min-width: 768px) {
    #header {
        padding-top: 120px;
        height: 380px;
    }
}

@media (max-width: 767px) {
    #header {
        padding-top: 85px;
        /*height: 320px;*/
        height: 320px;
    }
}