#db-rg-hours {
    padding-top: 0rem;
    padding-bottom: 2rem;

    &.container {
        display: flex;
    }
}

#news {
    .news-content-row {
        display: flex;
        flex-wrap: wrap;

        &:before,
        &:after {
            display:none!important;
        }

        .news-content {
            display: flex;

            &:before,
            &:after {
                display:none!important;
            }

            img {
                width: 100%;
            }

            a {
                display: block;
                color: #000;

                &:hover,
                &:focus {
                    text-decoration: none;
                    color: inherit;
                    opacity: .8;

                    .news-section-title,
                    .news-section-title {
                        text-decoration: underline;
                    }
                }

                &:focus {
                    outline: 1px solid blue;
                    outline-offset: 0;
                }

                .news-section-text {
                    padding: 0 .25rem .25rem .25rem;
                    line-height: 1.6;
    
                    .news-section-date {
                        font-weight: 600;
                        margin: .5rem 0 .25rem 0;
                        color: #a25729;
                    }
    
                    .news-section-title {
                        font-weight: 400;
                        line-height: 1.5;
                        margin: .25rem 0;
                    }
                }
            }

            &.news-content-large .news-section-text .news-section-title {
                font-size: 2rem;
            }
        }
    } 
}

.news-section-unsafe-html-story {
    display: block;
    color: inherit;
}

.news-section-unsafe-html-story {
    width: 100%;
}

.news-section-unsafe-html-embed {
    height: 370px;
    width: 100%;
}


@media ( max-width: 1199px ) {
    #db-rg-hours h2 {
        line-height: 1.3;
    }

    .news-section-unsafe-html-embed {
        height: 303px;
    }
}

@media (max-width: 991px) {
    .news-section-unsafe-html-embed {
        height: 230px;
    }

    #news {
        padding-bottom: 0em;
    }

    #news .more-news {
        text-align: center;
        margin-top: -1em;
        /*margin-bottom: 2em;*/
    }
}