#ds-highlight {
    display: inline-block;
    width: 100%;
    min-height: 150px;
    height: 600px;
    background: url("https://library.bc.edu/images/digitalscholashipbg-morales.jpg") no-repeat 100% 50% $very-dark-gray;
    border-top: 1px solid $very-light-gray;
    border-bottom: 1px solid $very-light-gray;
    color: $white-text;
    padding: 55px 0;
    z-index: 2;
    background-size: cover;

    .content h3 {
        margin: 0 0 20px 0;
        padding: 0;
        font-weight: 200;
        line-height: 1.25;

        a {
            color: $white-text;
            border-bottom: 1px solid $white-body;

            &:hover,
            &:focus {
                color: $bc-primary-light-gold;
                border-bottom: 1px solid $bc-primary-light-gold;
                text-decoration: none;
            }
        }
    }
}

// Custom for DS Morales project
#ds-highlight.rightBottom .container-fluid .pull-right .content {
    background: rgba(0, 0, 0, 0.80) !important;
}
