#aal-home-container {
    #aal-home {
        margin-top: 0rem;
        padding-bottom: 0rem;
        background-color: $white-body;

        h3 {
            font-size: 18px;
            font-weight: 400;
        }

        .chat-link {
            min-height: 2.75rem;
        }

        .aal-boxes {
            .aal-box {
                a.aal-icon i {
                    padding: 12px 15px 13px 11px;
                }
            }

            .aal-box-small {
                font-size: 16px;

                a.aal-icon {
                    font-size: 25px!important;
                    width: 50px;
                }
            }
        }

        &.aal-boxes-horizontal-layout {
            .aal-boxes {
                display: flex;
                flex-wrap: wrap;

                // Safari doesn't play well with floated elements and flex display
                &:before,
                &:after {
                    display:none!important;
                }

                .aal-box-item {
                    display: flex;

                    // Safari doesn't play well with floated elements and flex display
                    &:before,
                    &:after {
                        display:none!important;
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .megamenu-container #megamenu-refresh .navbar-default .navbar-nav .dropdown-menu #mm-help-aal .aal-box-container .aal-box-wrapper .panel {
        font-size: 12px;
    }
    .megamenu-container #megamenu-refresh .navbar-default .navbar-nav .dropdown-menu .library-box .panel .lib-name,
    .megamenu-container #megamenu-refresh .navbar-default .navbar-nav .dropdown-menu .library-box .panel .lib-box-pair a {
        font-size: 13px;
    }
}
@media (max-width: 991px) {
    #aal-home {
        margin-top: 0;
    }
}
