#explore-collections {
    height: auto;
    background: $white-body;
    padding-top: 2rem;
    padding-bottom: 2rem;

    h2 {
        color: $black-text;
    }

    .row {
        padding-top: 0;
        padding-bottom: 0;
    }

    .collections-box-container {
        margin-top: 2rem;

        .collections-box {
            margin: 0 0 2.5rem 0;
            position: relative;

            a {
                display: block;

                img {
                    transition: all 0.7s ease;
                    opacity: .85;
                    display: block;
                }

                &:hover,
                &:focus {
                    text-decoration:none;

                    img {
                        opacity:1;
                     }
                }
            }
        }
    }

    // Set the header color based on department class
    .collection-description {
        padding: 1.25rem 1rem 1.25rem 1.25rem;
        background-color: #B35F23;
        color: $white-text;
    }

    .digital-scholarship .collection-description {
        background-color: #204375;
    }

    .escholarship .collection-description {
        background-color: #B35F23
    }

    .digital-collections .collection-description {
        background-color: #467282;
    }

    .collection-department,
    .collection-name {
        color: $white-text;
        line-height: 1.2;
    }

    .collection-department {
        font-size: 15px;
        font-weight: 600;
        padding-bottom: .5rem;
    }

    .collection-name {
        font-size: 18px;
        min-height: 4.75rem;
    }

    .collection-image img {
        width: 100%;
    }
}

@media (max-width: 425px) {
    #explore-collections .collections-box {
        width: 100%;
    }
}
