/*                                       */
/* BEGIN top-columns section on homepage */
/*                                       */

#top-columns {
    /*background: url(https://libapps.s3.amazonaws.com/accounts/3908/images/background-sample-3.jpg) no-repeat 00% 100%;
    background-size: cover;*/
    background-color: $white-body;
    padding-bottom: 3rem;
    /*padding-top: 2rem;*/
}
#top-columns .row {
    padding-top:0;
    padding-bottom:0;
}
#services-highlight-container {
    /* default background color */
    /* background-color: #fcf8e3; */

    /* Summer 2021 update */
    /*background-color: #a4ad16;
    border-bottom: 1px solid #e6e600;*/

    /* Fall 2021 update */
    background-color: #ffc67c;
    border-bottom: 1px solid #ffbd68;
}
#services-highlight a.underline {
    font-weight: 700;
    color: #622A27;
}
#services-highlight a.underline:hover,
#services-highlight a.underline:focus {
    text-decoration: underline;
}


#top-columns .column-items {
    display: flex;
    flex-wrap: wrap;
}
/* Safari doesn't play well with floated elements and flex display */
#top-columns .column-items:before,
#top-columns .column-items:after {
    display:none!important;
}
#top-columns .column-item {
    display: flex;
    flex-flow: column;
}
/* Safari doesn't play well with floated elements and flex display */
#top-columns .column-item:before,
#top-columns .column-item:after {
    display:none!important;
}
#top-columns .column-combo {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}
/* Safari doesn't play well with floated elements and flex display */
#top-columns .column-combo:before,
#top-columns .column-combo:after {
    display:none!important;
}
#top-columns .column-sub-item {
    flex-wrap: wrap;
    flex:1;
}

@media (max-width: 991px) {
    #top-columns .column-combo {
        display: block;
    }
    #aal-home {
        margin-top: 0;
    }
}

@media (max-width: 450px) {
    #quicklink-container {
        width: 100%;
    }
    /*#aal-home-container {
        display: none;
    }*/
}


/* scholarship */
#scholarship {
    text-align: center;
}

#scholarship h2 {
    /*text-transform: uppercase;*/
    margin: 0;
    color: $bc-brand-maroon;
    font-size: 20px;
}

#scholarship h3 {
    margin-top: 1.25em;
    font-size: 18px;
}

/* exhibition highlight */
#exhibit-highlight {
    background-color: cyan;
}

/* faculty publication highlight */
#facpub {
    background-color: $white-body;
    padding-bottom: 40px;
}

#facpub h3 {
    font-size: 18px;
}

#facpub .more-link {
    text-align: right;
}

/* digital collections highlight */
#digcol-highlight {
    width: 100%;
    min-height: 150px;
    height: 600px;
    background: url("https://library.bc.edu/images/sc_bg_02_med.jpg") no-repeat 50% 50% $very-dark-gray;
    background-size: auto auto;
    color: $white-text;
    padding: 55px 0;
    z-index: 2;
    background-size: cover;
}

#digcol-highlight .container-fluid .pull-right .content {
    max-width: 50%;
}

/* digital scholarship highlight */
#ds-highlight {
    display: inline-block;
    width: 100%;
    min-height: 150px;
    height: 600px;
    background: url("https://library.bc.edu/images/digitalscholashipbg-morales.jpg") no-repeat 100% 50% $very-dark-gray;
    background-size: auto auto;
    border-top: 1px solid $very-light-gray;
    border-bottom: 1px solid $very-light-gray;
    color: $white-text;
    padding: 55px 0;
    z-index: 2;
    background-size: cover;
}

/* custom for DS morales project */
#ds-highlight.rightBottom .container-fluid .pull-right .content {
    background: rgba(0, 0, 0, 0.80) !important;
}

#aal-home {
    margin-top: 0rem;
    padding-bottom: 0rem;
    background-color: $white-body;
}
#aal-home .aal-box-small a.aal-icon {
    font-size: 25px!important;
    width: 50px;
}
#aal-home .aal-box a.aal-icon i {
    padding: 12px 15px 13px 11px;
}

#services-highlight { 
    /*border-bottom: solid 9px $bc-primary-light-gold; 
    border-top: solid 9px $bc-primary-light-gold;*/
}
#services-highlight .header-row {
    padding: 2rem 0 0 0;
}
#services-highlight h2 {
    margin-top: 0;
}

#services-highlight .intro,
#services-highlight .outro {
    font-size: large;
    padding: 0 0 .5rem 0;
}
#services-highlight .outro {
    padding: 0 0 .5rem 0;
}
#services-highlight .outro a {
    font-weight: 600;
}
#services-highlight .highlight-boxes {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
}
/* Safari doesn't play well with floated elements and flex display */
#services-highlight .highlight-boxes:before,
#services-highlight .highlight-boxes:after {
    display:none!important;
}
#services-highlight .highlight-boxes .highlight-box {
    display: flex;
    padding-bottom: 1rem;
}
/* Safari doesn't play well with floated elements and flex display */
#services-highlight .highlight-boxes .highlight-box:before,
#services-highlight .highlight-boxes .highlight-box:after {
    display:none!important;
}
#services-highlight .highlight-boxes .panel {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
}
#services-highlight .highlight-boxes .panel-heading {
    padding: 5px 15px 2px 15px;
}
#services-highlight .highlight-boxes .panel-heading hr {
    border: 0;
    margin: .75rem 0 .75rem 0;
    border-bottom: 1px solid $bc-primary-light-gold;
    height: 1px;
}
#services-highlight .highlight-boxes .panel-heading h4 {
    line-height: 1.3;
    /*min-height: 55px;*/
    padding: 0;
    margin-bottom: 0;
    font-weight: 600;
}
#services-highlight .highlight-boxes .panel ul {
    padding-left: 2rem;
}
#services-highlight .highlight-boxes .panel li {
    padding-bottom: .5rem;
}
#services-highlight .highlight-boxes .panel-body {
    padding: 0 10px 0px 10px;
}
#services-highlight .highlight-boxes .embedded-video .panel-body {
    padding: 10px 10px 10px 10px;
}
#services-highlight .highlight-boxes .panel-body a {
    font-weight: 600;
}
#services-highlight .librarian-profile {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    max-height: 120px;
    border: 3px solid $black-body;
    margin: 0 auto;
}
#services-highlight .bottom-text {
    margin: 1rem 0 0 0;
    padding-top: .5rem;
    border-top: 1px dashed #eee;
}
@media (max-width: 1199px) {
    #services-highlight .highlight-boxes .panel-heading h4 {
        /*min-height: 4.5rem;*/
    }
    /*.librarian-profile {
        max-height: 100px;
    }*/
}
@media (max-width: 991px) {
    #services-highlight .highlight-boxes .panel-heading h4 {
        min-height: auto;
    }
    .blockquote .quote {
        font-size: 18px;
        line-height: 1.1;
    }
    .blockquote .quote::before {
        border:0;
        height: 0;
    }
}
@media (max-width: 767px) {
    .blockquote {
        display: none;
    }
}
@media (max-width: 540px) {
    #services-highlight .highlight-boxes .panel-heading h4 {
        min-height: auto;
    }
}

#staff-interest {
    background-color: $white-body;
    position: relative;
    padding-bottom: 1rem;
}
#staff-interest .photo-list {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
}
#staff-interest .photo-panel img {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    min-height: 159px;
}
#staff-interest .photo-panel .caption {
    padding: .5rem;
    font-style: italic;
    text-align: right;
}
#staff-interest .blockquote {
    margin: 2rem 0;
}

@media (min-width: 1200px) {
    #staff-interest .photo-list .photo-panel:last-child {
        display: none;
    }
}

@media (max-width: 1199px) {
    #staff-interest .photo-list img {
        min-height: 126px;
    }
}

@media (max-width: 991px) {
    #staff-interest {
        margin-top: 3rem;
    }
    #staff-interest .photo-list img {
        min-height: 159px;
    }
}
@media (max-width: 767px) {
    #staff-interest .photo-list img {
        min-height: auto;
    }
}
@media (max-width: 525px) {
    #staff-interest .photo-list img {
        min-height: auto;
    }
    #staff-interest .photo-panel {
        width: 100%;
    }
    #staff-interest .photo-list .photo-panel:nth-last-of-type(-n+2) {
        display: none;
    }
}


#aal-home .chat-link {
    min-height: 2.75rem;
}


/* News */

#db-rg-hours {
    /*border-top: solid 9px $bc-primary-light-gold;*/
    padding-top: 0rem;
    padding-bottom: 2rem;
}
#news {
    /*margin: 0;*/
}
#news .news-content-row {
    display: flex;
    flex-wrap: wrap;
}
/* Safari doesn't play well with floated elements and flex display */
#news .news-content-row:before,
#news .news-content-row:after {
    display:none!important;
}
#news .news-content {
    display: flex; 
}
/* Safari doesn't play well with floated elements and flex display */
#news .news-content:before,
#news .news-content:after {
    display:none!important;
}
#news .news-content a, .news-section-unsafe-html-story {
    display: block;
    color: inherit;
}

.news-section-unsafe-html-story {
    width: 100%;
}

.news-section-unsafe-html-embed {
    height: 370px;
    width: 100%;
}

#news .news-content a:hover,
#news .news-content a:focus {
    text-decoration: none;
    color: inherit;
}
#news .news-content .news-section-text {
    padding: 0 .25rem .25rem .25rem;
    line-height: 1.6;
}
#news .news-content .news-section-text .news-section-date {
    font-weight: 600;
    margin: .5rem 0 .25rem 0;
    color: #a25729;
}
#news .news-content .news-section-text .news-section-title {
    font-weight: 400;
    line-height: 1.5;
    margin: .25rem 0;
}
#news .news-content.news-content-large .news-section-text .news-section-title {
    font-size: 2rem;
}

#news .news-content a:hover .news-section-title,
#news .news-content a:focus .news-section-title {
    text-decoration: underline;
}

#news .news-content a:hover,
#news .news-content a:focus {
    opacity: .8;
} 

#news .news-content a:focus {
    outline: 1px solid blue;
    outline-offset: 0;
}
#news .news-content img {
    /*max-height: 100%;*/
    width: 100%;
}

#news .more-news,
.browse-more-link {
    padding-top: 1rem;
    font-size: larger;
}
.row.ql-news {
    /*position: relative;
    display: block;
    height: auto;
    min-width: 375px;*/
}

#db-rg-hours.container {
    /*padding: 0;
    position: relative;*/
    display: flex;
}

.homepagerefresh #news .more-news,
.browse-more-link {
    text-align: right;
}

.homepage h2,
.homepage h3 {
    font-weight: 200;
}

/* Quick Links */

.ql-news .ql h2 {
    text-align: center;
    border-bottom: 1px solid $white-body;
}

.ql {
    height: 100%;
    /*background-color: #d7d7d7;*/
    padding-bottom:10px;
}

.ql .list-group {
    margin-bottom: 0px;
    list-style: none;
    font-size: 16px;
}

.ql .list-group-item {
    background-color: transparent;
    border: 0px solid $white-body;
    padding: 10px 5px;
    border-radius: 0px;
    color: $black-text;
}

.ql .fa-lg {
    padding-right: 5px;
}

/* Ask A Librarian */

#aal-home-container h3 {
    font-size: 18px;
    font-weight: 400;
}

#aal-home-container .aal-box-small {
    font-size: 16px;
}

.aal-boxes-horizontal-layout .aal-boxes {
    display: flex;
    flex-wrap: wrap;
}

/* Safari doesn't play well with floated elements and flex display */
.aal-boxes-horizontal-layout .aal-boxes::before,
.aal-boxes-horizontal-layout .aal-boxes::after {
    display:none!important;
}

.aal-boxes-horizontal-layout .aal-box-item {
    display: flex;
}

/* Safari doesn't play well with floated elements and flex display */
.aal-boxes-horizontal-layout .aal-box-item::before,
.aal-boxes-horizontal-layout .aal-box-item::after {
    display:none!important;
}

/* At A Glance */

#at-a-glance-container {
    font-size: 16px;
    margin-bottom: 2rem;
}

#at-a-glance-container i {
    padding-right: .5rem;
    font-size: 22px;
}
#at-a-glance-container i#container {
    position: relative;
    padding-right: 1.5rem;
}

#at-a-glance-container i#nested {
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 200%;
    color: rgba(217, 83, 79, 0.7);
}

#at-a-glance .at-a-glance-alert {
    margin-bottom: 1rem;
    display: block;
}

#at-a-glance .alert {
    padding: 8px 2px 8px 12px;
    margin-bottom: 0;
}

/* Welcome Back Students */
#welcome-back-students-container {
    margin-top: 2rem;
}

#welcome-back-message-wrapper {
    font-size: 16px;
    background-color: #FBCD26;
    color: $black-text;
    padding: 2rem;
    border-radius: 8px;
}

#welcome-back-message-wrapper h2 {
    color:$black-text;
    padding: 0 0 1rem 0;
    margin: 0;
}


/* Featured Tip */

#featured-tip-container {
    margin-top: 2rem;
}

#featured-tip-wrapper {
    font-size: 16px;
    background-color: $bc-secondary-light-sage;
    color: $black-text;
    padding: 2rem;
    border-radius: 8px;
}

#featured-tip-wrapper h2 {
    color: $black-text;
    padding: 0 0 1rem 0;
    margin: 0;
}

#featured-tip-wrapper-inner {
    /*background-color: $white-body;*/
}

#featured-tip-wrapper .panel {
    color: $black-text;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid rgba(0,0,0,0.1);
}
#featured-tip-wrapper .panel-body {
    padding: .75rem;

}
#featured-tip-wrapper hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: none;
    border-bottom: 1px solid #ccc;
    line-height: 1px;
}

#featured-tip-wrapper .caption {
    font-size: 10px;
    text-align: right;
}

#featured-tip-wrapper .panel a {
    font-weight: 600;
}

#featured-tip-wrapper h3 {
    margin: 0 0 1rem 0;
    padding: 0;
}

#featured-tip-wrapper img {
    padding: 3px;
    width: 100%;
}

#featured-tip-wrapper .intro {
    margin: 0;
}

#featured-tip-wrapper .outro {
    text-align: right;
    margin: 0;
}

#featured-tip-wrapper .outro a {
    color: $black-text;
    text-decoration: none;
    border-bottom: 1px solid $black-body;
    line-height: 1;
}

#featured-tip-wrapper .outro a:hover,
#featured-tip-wrapper .outro a:focus {
    color: blue;
    border-bottom: 1px solid blue;
}

#featured-tip-wrapper .outro strong {
    font-weight:600;
}

#featured-tip-wrapper .related-topics {
    font-size: smaller;
}

/* Welcome new students */

#welcome-new-students {
    margin-bottom: 4rem;
}

#welcome-new-students .intro {
    font-size: large;
}

@import 'featured-subject-specialists';

/* Explore collections */

#explore-collections {
    height: auto;
    /*background: #204375;*/
    /*background: #0873ae;*/
    background: $white-body;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 9px solid $bc-primary-light-gold;
}
#explore-collections h2 {
    color: $black-text;
}
#explore-collections .row {
    padding-top: 0;
    padding-bottom: 0;
}
#explore-collections .collections-box-container {
    margin-top: 2rem;
}
#explore-collections .collections-box {
    margin: 0 0 2.5rem 0;
    position: relative;
}

#explore-collections .collections-box a {
    display: block;
}
#explore-collections .collections-box a img {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    opacity: .85;
    display: block;
    /*min-height: 240px;*/
}

#explore-collections .collections-box a:hover,
#explore-collections .collections-box a:focus {
    text-decoration:none;
}

#explore-collections .collections-box a:hover img,
#explore-collections .collections-box a:focus img {
   opacity:1;
}

/* set the header color based on department class */
#explore-collections .collection-description {
    padding: 1.25rem 1rem 1.25rem 1.25rem;
    background-color: #c06626;
    color: $white-text;
}
#explore-collections .digital-scholarship .collection-description {
    background-color: #204375;
}
#explore-collections .escholarship .collection-description {
    background-color: #c06626
}
#explore-collections .digital-collections .collection-description {
    background-color: #467282;
}

#explore-collections .collection-department,
#explore-collections .collection-name {
    color: $white-text;
    line-height: 1.2;
}
#explore-collections .collection-department {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: .5rem;
}
#explore-collections .collection-name {
    font-size: 18px;
    min-height: 4.75rem;
}
#explore-collections .collection-image img {
    width: 100%;
}

@media (max-width: 425px) {
    #explore-collections .collections-box {
        width: 100%;
    }
}


/* Social Media Highlight */
#socialmedia-highlight .highlight-title h2 {
    margin: 0 0 3rem 0;
    color: $white-text;
    display: inline-block;
}
#socialmedia-highlight .leftBottom .container-fluid .pull-right .content, 
#socialmedia-highlight .leftTop .container-fluid .pull-right .content, 
#socialmedia-highlight .rightTop .container-fluid .pull-right .content, 
#socialmedia-highlight .rightBottom .container-fluid .pull-right .content {
    color: $white-text;
    display: table;
    padding: 20px 30px;
    max-width: 50%;
    background: rgba(0, 0, 0, 0.875);
}
#socialmedia-highlight .content-body {
    margin-top: 2rem;
    line-height: 1.6;
}
#socialmedia-highlight .content-body .label {
    padding: 2rem 0 0 0;
    font-size: 100%;
    color: #aaa;
}
#socialmedia-highlight .content-body a {
    text-decoration: underline;
    font-weight: 600;
}
#socialmedia-highlight .connect-button {
    margin-top: 3rem;
}
#socialmedia-highlight .content-body .image-attribution {
    font-size: small;
    margin-top: 4rem;
}

/* media queries */
@media (max-width: 1199px) {
    .news-section-unsafe-html-embed {
        height: 303px;
    }
}

@media (max-width: 991px) {
    .ql {
        height: auto;
        /*text-align: center;*/
        margin-bottom: 20px;
    }
    .ql li {
        display: block;
        font-size: larger;
    }

    .news-section-unsafe-html-embed {
        height: 230px;
    }
}
@media (min-width: 992px) {
    .ql .list-group {
        font-size: large;
    }
}
@media (max-width: 767px) {
    .featured-tip-element .panel img.featured-tip-image {
        display: none;
    }
}
@media (max-width: 500px) {
    .ql .list-group {
        width: 100%;
    }
}
@media (max-width: 450px) {
   #at-a-glance-container {
       width: 100%;
   }
}