#digcol-highlight {
    width: 100%;
    min-height: 150px;
    height: 600px;
    background: url("https://library.bc.edu/images/sc_bg_02_med.jpg") no-repeat 50% 50% $very-dark-gray;
    color: $white-text;
    padding: 55px 0;
    z-index: 2;
    background-size: cover;

    .content h3 {
        margin: 0 0 20px 0;
        padding: 0;
        font-weight: 200;
        line-height: 1.25;

        a {
            color: $white-text;
            border-bottom: 1px solid $white-body;

            &:hover,
            &:focus {
                color: $bc-primary-light-gold;
                border-bottom: 1px solid $bc-primary-light-gold;
                text-decoration: none;
            }
        }
    }

    .container-fluid .pull-right .content {
        max-width: 50%;
    }
}
