/* Social Media Highlight */
#socialmedia-highlight {
    .highlight-title h2 {
        margin: 0 0 3rem 0;
        color: $white-text;
        display: inline-block;
    }

    .leftBottom,
    .leftTop,
    .rightTop,
    .rightBottom {
        position: relative;
    }

    .leftBottom .container-fluid .pull-right,
    .leftTop .container-fluid .pull-right,
    .rightTop .container-fluid .pull-right,
    .rightBottom .container-fluid .pull-right {
        position: absolute;
    }

    .leftTop .container-fluid .pull-right {
        left: 0px;
        top: 20px;
    }

    .rightTop .container-fluid .pull-right {
        top: 20px;
        right: 0px;
    }

    .leftBottom .container-fluid .pull-right {
        left: 0px;
        bottom: 20px;
    }

    .rightBottom .container-fluid .pull-right {
        bottom: 20px;
        right: 0px;
    }

    .rightTop .container-fluid .pull-right .content,
    .rightBottom .container-fluid .pull-right .content {
        float: right;
    }

    .leftBottom .container-fluid .pull-right .content, 
    .leftTop .container-fluid .pull-right .content, 
    .rightTop .container-fluid .pull-right .content, 
    .rightBottom .container-fluid .pull-right .content {
        color: $white-text;
        display: table;
        padding: 20px 30px;
        max-width: 50%;
        background: rgba(0, 0, 0, 0.875);
    }

    .content-body {
        margin-top: 2rem;
        line-height: 1.6;

        .label {
            padding: 2rem 0 0 0;
            font-size: 100%;
            color: #aaa;
        }
        a {
            text-decoration: underline;
            font-weight: 600;
        }
        .image-attribution {
            font-size: small;
            margin-top: 4rem;
        }
    }

    .connect-button {
        margin-top: 3rem;
    }
}

// TODO: clean up the following styles
.content .btn.btn-default, #db-rg-hours .btn, #exhibit-highlight .btn {
    padding: 12px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #555;
    /*text-transform: uppercase;*/
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #ddd;
    white-space: normal;
    transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
}
 
.content .btn.btn-blue, #db-rg-hours .btn.btn-blue, #exhibit-highlight .btn.btn-blue {
	color: #dddddd;
    background: #204375;
}

.content .btn.btn-blue:hover, #db-rg-hours .btn.btn-blue:hover, #exhibit-highlight .btn.btn-blue:hover {
    color: $white-text;
    background: #1d3c68;
}
