@charset "utf-8";


//
// Exhibition highlight section
//

.row.nobottom {
	padding-bottom: 0px;
}

.row.notop {
	padding-top: 0px;
}

#exhibit-highlight {
    background-color: cyan;
}

.homepagerefresh #exhibit-highlight {
	display: inline-block;
	width: 100%;
	min-height: 150px;
	background: url("https://library.bc.edu/images/exhibits/banner_default2.jpg") no-repeat 0% 100% $very-dark-gray;
	border-top: 1px solid $very-light-gray;
	border-bottom: 1px solid $very-light-gray;
	color: $white-text;
	z-index: 2;
	background-size: cover;
	padding-bottom: 4rem;
}

#exhibit-highlight h2 {
	font-weight: 600;
	/*text-transform: uppercase;*/
	color: $white-text;
	/*font-size: 16px;*/
    letter-spacing: 2px;
	margin: .5em 0 1em 0;
}

.exhibit-box {
	background: rgba(255,255,255,0.75);
	/*max-width: 75%;*/
	height: 300px;
	margin: auto;
	padding: 20px;
}

.exhibit-box .row {
	height: 100%;
}

a.current-exhibits-title {
	color: $black-text !important;
	font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    /*text-transform: uppercase;*/
}

.exhibit-box .exhibit-left {
	height: 100%;
}
.exhibit-box .exhibit-right {
	text-align: right;
	height: 100%;
}

.exhibit-box .exhibit-left p {
	color: $black-text;
	text-align: left;
	font-size: 18px;
	line-height: 28px;
	font-weight: 200;
}

.exhibit-poster {
	max-width: 100%;
	max-height: 100%;
	border: 1px solid $black-body;
}

@media (max-width: 991px) {
	#news .news-content {
		margin: 0 auto 2em auto;
	}
	.exhibit-box .exhibit-left {
		text-align: left;
	}
}

#exhibit-highlight .carousel {
	margin-bottom: 3em;
	max-width: 75%;
	margin: auto;
}
#exhibit-highlight .carousel-control.left, #exhibit-highlight .carousel-control.right {
	background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%) !important;
}
#exhibit-highlight .carousel-control.left {
	left:-15%;
}
#exhibit-highlight .carousel-control.right {
	right:-15%;
}


//
// Digital Scholarship highlight section
//

#scholarship {
    text-align: center;

    h2 {
        margin: 0;
        color: $bc-brand-maroon;
        font-size: 20px;
    }
    h3 {
        margin-top: 1.25em;
        font-size: 18px;
    }
}

#digcol-highlight {
    width: 100%;
    min-height: 150px;
    height: 600px;
    background: url("https://library.bc.edu/images/sc_bg_02_med.jpg") no-repeat 50% 50% $very-dark-gray;
    background-size: auto auto;
    color: $white-text;
    padding: 55px 0;
    z-index: 2;
    background-size: cover;

    .container-fluid .pull-right .content {
        max-width: 50%;
    }
}

#ds-highlight {
    display: inline-block;
    width: 100%;
    min-height: 150px;
    height: 600px;
    background: url("https://library.bc.edu/images/digitalscholashipbg-morales.jpg") no-repeat 100% 50% $very-dark-gray;
    background-size: auto auto;
    border-top: 1px solid $very-light-gray;
    border-bottom: 1px solid $very-light-gray;
    color: $white-text;
    padding: 55px 0;
    z-index: 2;
    background-size: cover;
}

/* custom for DS morales project */
#ds-highlight.rightBottom .container-fluid .pull-right .content {
    background: rgba(0, 0, 0, 0.80) !important;
}

#ds-highlight .content h3,
#digcol-highlight .content h3 {
    margin: 0 0 20px 0;
    padding: 0;
    font-weight: 200;
    line-height: 1.25;
}

#ds-highlight .content h3 a,
#digcol-highlight .content h3 a {
    color: $white-text;
    border-bottom: 1px solid $white-body;
}

#ds-highlight .content h3 a:hover,
#ds-highlight .content h3 a:focus,
#digcol-highlight .content h3 a:hover,
#digcol-highlight .content h3 a:focus {
    color: $bc-primary-light-gold;
    border-bottom: 1px solid $bc-primary-light-gold;
    text-decoration: none;
}


//
// Faculty Publication highlights section
//

#facpub {
    background-color: $white-body;
    padding-bottom: 40px;

    h3 {
        font-size: 18px;
    }
    .more-link {
        text-align: right;
    }
}

#facpub h2 a {
    font-size: 24px;
    border-bottom: 1px solid;
    text-decoration: none;
}

@media (max-width: 991px) {
    #facpub img.bookcover {
        display: none !important;
    }
}


// Media queries
@media (max-width: 767px) {
	.exhibit-right {
		display: none;
	}
}

@media (max-width: 600px) {
	.more-exhibits-button {
		display: none;
	}
}

@media (max-width: 480px) {
	.carousel-indicators {
		display: none;
	}

	.exhibit-blurb {
		display: none;
	}
}

/* FOUND TEMPLATE HERE: http://www.bc.edu/bc-web/academics.html */
