#news {
    &.ql-news {
        padding-bottom: 2rem;
    }

    .news-content-row {
        display: flex;
        flex-wrap: wrap;
    }

    .news-content {
        a {
            color: inherit;

            &:hover,
            &:focus {
                text-decoration: none;
                color: inherit;
                opacity: .8;
                outline: 1px solid blue;
                outline-offset: 0;

                .news-section-title {
                    text-decoration: underline;
                }
            }
        }

        .news-section-text {
            padding: 0 .25rem .25rem .25rem;
            line-height: 1.6;

            .news-section-date {
                font-weight: 600;
                margin: .5rem 0 .25rem 0;
                color: #a25729;
            }

            .news-section-title {
                font-weight: 400;
                line-height: 1.5;
                margin: .25rem 0;
            }
        }

        &.news-content-large {
            .news-section-text {
                .news-section-title {
                    font-size: 2rem;
                }
            }
        }

        img {
            width: 100%;
        }
    }

    // Safari doesn't play well with floated elements and flex display
    .news-content-row:before,
    .news-content-row:after,
    .news-content:before,
    .news-content:after {
        display:none!important;
    }

    .more-news {
        text-align: right;
        padding-top: 1rem;
        font-size: larger;
    }
}

.news-section-unsafe-html-story {
    width: 100%;
    color: inherit;

    .news-section-unsafe-html-embed {
        height: 370px;
        width: 100%;
    }
}

@media (max-width: 1199px) {
    .news-section-unsafe-html-embed {
        height: 303px;
    }
}

// Portrait tablets and small desktops
@media (max-width: 991px) {
    .news-section-unsafe-html-embed {
        height: 230px;
    }

    #news {
        padding-bottom: 0;

        .more-news {
            text-align: center;
            margin-top: -1em;
        }

        .news-content {
            margin: 0 auto 2em auto;
        }
    }
}
