#top-columns {
    background-color: $white-body;
    padding-bottom: 3rem;

    .row {
        padding-top:0;
        padding-bottom:0;
    }

    .column-items {
        display: flex;
        flex-wrap: wrap;

        // Safari doesn't play well with floated elements and flex display
        &:before,
        &:after {
            display:none!important;
        }

        .column-item {
            display: flex;
            flex-flow: column;

            // Safari doesn't play well with floated elements and flex display
            &:before,
            &:after {
                display:none!important;
            }
        }
    }

    .column-combo {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;

        // Safari doesn't play well with floated elements and flex display
        &:before,
        &:after {
            display:none!important;
        }
    }

    .column-sub-item {
        flex-wrap: wrap;
        flex:1;
    }
}

@media (max-width: 991px) {
    #top-columns .column-combo {
        display: block;
    }
}

.homepagerefresh #news .more-news,
.browse-more-link {
    text-align: right;
}

.homepage h2,
.homepage h3 {
    font-weight: 200;
}
