/* override default styles for yamm menu */
.yamm {
    .nav,
    .collapse,
    .dropup,
    .dropdown {
        position: static;
    }
    .container {
        position: relative;
    }
    .dropdown-menu {
        left: auto;
    }
    .yamm-content {
        padding: 20px 30px;
    }
    .dropdown.yamm-fw .dropdown-menu {
        left: 0;
        right: 0;
    }
}

/* Mega Menu - structural styling */
.megamenu-container {
    background-color: rgba(16,14,15,.85);
    color: $black-text;
    /*margin-top: -1px;*/
    position: absolute;
    width: 100%;
    z-index: 10000;

    .h3style {
        color: $dark-blue-green;
        font-size: 18px;
        line-height: 1.25;
        font-weight: normal;
        margin: 5px 0 10px 0;
        padding: 0;
    }

    .h4style {
        color: $dark-blue-green;
        font-size: 16px;
        font-weight: normal;
        margin: 5px 0 10px !important;
        padding: 0;
        text-transform: none;
    }

    #h4mobile {
        display: none;
    }

    #megamenu-refresh {
        .navbar-default {
            background-color: inherit;
            border: none;
            margin-bottom: 0;
            border-bottom: none;
            border-radius: 0;

            a {
                &.menu-option {
                    text-shadow: 0px 2px 6px rgba(0, 0, 0,0.85);
                    color: $white-text;
                    font-size: 20px;
                    font-weight: 200;
    
                    &:focus,
                    &:hover {
                        text-shadow: none;
                        color: $white-text;
                        background-color: #534741;
                    }
                }
            }

            .accounts-link-mobile {
                padding: 8px 16px;
                margin: 12px;
                display: inline-block;
                font-size: 18px;
                line-height: 1;
                background-color: #204375;
                color: $white-text;
                border-radius: 4px;
            }

            .navbar-toggle {
                background-color: transparent;
                border: none;
                position: relative;
                width: 50px;
                height: 42px;
                padding: 0;

                .icon-close {
                    color: $white-text;
                    font-size: 30px;

                    .fa {
                        display: block;
                        margin-top: -3px;
                    }
                }

                .icon-bar {
                    display: none;
                }

                .icon-close {
                    display: block;
                }

                &.collapsed {
                    .icon-bar {
                        display: block;
                    }

                    .icon-close {
                        display: none;
                    }
                }
            }

            .navbar-brand {
                text-shadow: 0px 2px 6px rgba(0, 0, 0,0.85);
                color: $white-text;
                font-size: 18px;
                font-style: italic;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                font-weight: 200;
                padding-left: 17px;
            }

            .navbar-nav {
                > li {
                    > a {
                        &:focus,
                        &:hover {
                            background: $dark-blue-green !important;
                            color: $white-text;
                            outline: 0;
                        }
                    }

                    > .dropdown-menu {
                        border-top: none;
                        border-radius: 0;
                        margin-top: 0;
                    }
                }

                .open {
                    a {
                        &.menu-option {
                            text-shadow: none;
                            color: $white-text;
                            background-color: #534741;
                        }
                    }
                } 

                .dropdown-menu {
                    background-clip: padding-box;
                    background-color: $white-body;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    border-radius: 4px 4px 4px 4px;
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
                    float: left;
                    font-size: 14px;
                    left: 0;
                    list-style: none outside none;
                    margin: 2px 0 0;
                    min-width: 160px;
                    padding: 0;
                    position: absolute;
                    top: 100%;
                    z-index: 1000;

                    li {
                        > a {
                            display: block;
                            padding: 5px 5px 5px 5px;
                            margin: 0 0 0 -5px;
                            clear: both;
                            font-weight: normal;
                            line-height: 1.25;
                            word-break: normal;
                            outline: none;
                            color: #666;

                            p.tuck {
                                font-weight: 200;
                                font-size: 12px;
                                margin-bottom: 4px;
                            }

                            > .h4style {
                                color: $dark-blue-green;
                                font-size: 16px;
                                line-height: 1.25;
                                font-weight: normal;
                                margin: 5px 0 5px 0 !important;
                                padding: 0;
                                text-transform: none;

                                a {
                                    display: inline-block;
                                    width: 100%;

                                    &:focus,
                                    &:hover {
                                        color: $red;
                                        text-decoration: none;
                                        background: #E0E0E0;
                                    }
                                }
                            }

                            &:focus,
                            &:hover {
                                color: $red;
                                text-decoration: none;
                                background: #E0E0E0;
                            }
                        }
                    }
                }
            }
        }
    }

    .container:first-child,
    .navbar-collapse {
        padding-left:0;
        padding-right:0;
    }
}

/* Mega Menu - content styling */
.megamenu-container {
    #megamenu-refresh {
        .navbar-default {
            .navbar-nav {
                .dropdown-menu {
                    .menu_list,
                    .ask_list {
                        list-style: none outside none;
                        padding: 0px;
                        margin: 0 0px;
                        border-right: 1px solid $very-light-gray;
                        border-left: 1px solid $very-light-gray;
                        margin-left:-1px;
                        padding: 0 25px;
    
                        &:first-child {
                            border-left: none;
                            margin-left: 0;
                        }

                        &.end {
                            border: 0px;
                        }
                    }
    
                    .hours_menu_list {
                        list-style: none outside none;
                        border-right: 0;
                        padding: 0 25px;
                    }
    
                    .occupancy-link {
                        margin-top: 1rem;
                        text-align: right;
                    }
    
                    .bottom_row {
                        border-top: 1px solid $very-light-gray;
                        padding: 10px 0 10px;
                    }
                   
                    .more {
                        float: right;
                        margin: 0 20px;
    
                        a {
                            &:hover {
                                text-decoration: none;
                                background: #a3a3a3;
                                border-bottom: 2px solid #999;
                                color: $white-text;
    
                                &:after {
                                    color: $white-text;
                                }
                            }
                            &:after {
                                content: none;
                            }
                        }
                    }
    
                    .hours-todays-date {
                        font-weight: 600;
                    }
    
                    .onl-asterisk-notice {
                        display: none
                    }
    
                    .hours-todays-date-container {
                        padding-bottom: 4px;
                    }

                    .aal-box-container {
                        .aal-box-wrapper {
                            .panel.aal-box {
                                .panel-body {
                                    a {
                                        &.aal-icon {
                                            font-size:35px!important;
                                            color: $white-text;
                                            display: block;
                                            line-height: 1;
                                            width: 55px;

                                            i {
                                                padding: 10px;
                                                width: 100%;
                                                color: $white-text;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    /* BEGIN - Ask A Librarian panel styling */
                    #mm-help-aal {
                        .aal-box-container {
                            padding-top: 0;
                            padding-bottom: 0;
                            display: flex;
                            align-content: stretch;
                            flex-wrap: wrap;

                            /* Safari doesn't play well with floated elements and flex display */
                            &:before,
                            &:after {
                                display:none!important;
                            }

                            .aal-box-wrapper {
                                margin-bottom: 1rem;

                                .panel { // .aal-box
                                    padding: .75rem .5rem .75rem .75rem;
                                    margin-bottom: 0;
                                    color: #666;
                                    height: 100%;
                                    font-size: inherit;
    
                                    .panel-body {
                                        padding: 0;

                                        p {
                                            padding: 0;
                                            margin: 0;
                                            line-height: 1.4;
                                        }

                                        h4 {
                                            font-weight: 600;
                                        }
    
                                        .media-left {
                                            padding: 0;
                                        }

                                        .h4style {
                                            color: $dark-blue-green;
                                            font-size: 16px;
                                            font-weight: 600;
                                            margin: 0 0 .25rem 0!important;
                                            padding: 0;
                                            text-transform: none;
                                            line-height: 1;
                                        }

                                        .fa {
                                            margin-left: 0px; 
                                            font-weight:600;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    /* END - Ask A Librarian box styling */

                    /* BEGIN - About panel styling */
                    #mm-help-about {
                        .row.library-boxes {
                            padding-top: 0rem;
                            padding-bottom: 1.5rem;
                            display: flex;
                            align-content: stretch;
                            flex-wrap: wrap;
                            margin-bottom: -2rem;

                            /* Safari doesn't play well with floated elements and flex display */
                            &:before,
                            &:after {
                                display:none!important;
                            }

                            .library-box {
                                margin-bottom: 2rem;
                                font-size: 13px;

                                .panel {
                                    margin-bottom: 0;
                                    height: 100%;
    
                                    .panel-body {
                                        padding: 5px 5px 8px 5px;
                                        height: 100%;
                                        display: block;

                                        /* Safari doesn't play well with floated elements and flex display */
                                        &:before,
                                        &:after {
                                            display:none!important;
                                        }

                                        .panel-heading {
                                            padding: 0;
                                            margin: 0;
                                            border: 0;
                                            background-color: #f8f8f8;   /* fix for LibAnswers */
                                            background-image: none;        /* fix for LibAnswers */
                                            height: 100%;
                                            display: block;

                                            .media {
                                                height: 100%;
                                                //display: block
                                                display: flex;
                                                flex-direction: row;

                                                img {
                                                    max-width: 120px!important;
                                                }

                                                a {
                                                    &.lib-thumb{
                                                        &:focus,
                                                        &:hover {
                                                            outline: 2px solid blue!important;
                                                            outline-offset: -2px;
                                                        }
                                                    }
                                                }

                                                .lib-name {
                                                    font-weight: 600;
                                                }

                                                .media-left,
                                                .media-right,
                                                .media-body {
                                                    height: 100%;
                                                    display: block;
                                                }

                                                .media-body-inner {
                                                    height: 100%;
                                                    display: flex;
                                                    flex-direction: column;

                                                    .lib-box-pair {
                                                        margin-top: auto;

                                                        /* Safari doesn't play well with floated elements and flex display */
                                                        &:before,
                                                        &:after {
                                                            display:none!important;
                                                        }

                                                        .lib-box-pair-label {
                                                            display: none;
                                                        }

                                                        .lib-box-pair-value {
                                                            font-weight: 600;
                                                            align-self: flex-end;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    } 
                                }
                            }
                            
                        }
                    }
                    /* END - About panel styling */
                }
            }
        }
    }
}


@media ( max-width: 1199px ) {
    .library-box {
        padding: 5px;
    }

    #megamenu-refresh .navbar-nav > li > .dropdown-menu {
        border: 0;
        border-radius: 0;
        margin-top: 0;
        font-size: 12px;
    }
}

@media ( max-width: 991px ) {
    .library-boxes .panel-body .panel-heading .media .media-left {
        display: none;
    }
}

@media ( max-width: 991px ) and ( min-width: 768px ) {
    #megamenu-refresh .navbar-nav {
        float:none;
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .megamenu-container #megamenu-refresh .navbar-default .accounts-link-mobile {
        display: none;
    }
}

@media ( max-width: 767px ) {
    #mm-help-aal .row:last-child {
        padding-top: 0;
    }
    #mm-help-aal .panel {
        padding: .75rem;
        margin-bottom: 1rem;
        height: auto;
    }

    .bottom_row {
        margin: 10px 0 0px 0;
    }

    .menu_list, .ask_list {
        text-align: center;
        border: none;
    }
    #mm-help-aal > .h4style {
        text-align: center;
        font-size: 18px;
    }

    .yamm .dropdown-menu li > .h4style  {
        margin: 0 !important;
        font-size: 18px;
        padding: 0px;
    }
    .yamm .dropdown-menu li > .h4style a {
        font-size: 18px;
        padding: 10px;
    }

    .more {
        float: none;
        margin: 0 20px;
        font-size: 18px;
        text-align: center;
    }

    #h4mobile {
        display: inline-block;
        text-align: center;
        font-size: 18px;
        padding: 10px  0 0 0;
        width: 100%;
        border-top: 1px solid #666;
    }

    .yamm .dropdown-menu li > .h4style  {
        margin: 0 !important;
    }
    .yamm .dropdown-menu li > .h4style a {
        font-size: 18px;
        padding: 10px;
    }

    #megamenu-refresh .navbar-default .navbar-brand {
        display: none;
    }

    #megamenu-refresh .navbar-default .navbar-toggle .icon-bar {
        background-color: $white-body;
        margin-left: 13px;
    }

    .megamenu-container .nav a.menu-option {
        text-shadow: none;
        color: $black-text;
    }

    .megamenu-container .navbar-collapse {
        padding-left:15px;
        padding-right:15px;
        background-color: $white-body;
        border-bottom: 15px solid rgba(0, 0, 0, 0);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    }

    .item-list {
        display: none;
    }

    /* hide My Accounts in mobile menu */
    #megamenu-refresh li.accounts-link {
        display: none;
    }

    .h3style {
        margin-bottom: 5px;
    }

    ul.menu_list {
        margin-bottom: 15px;
    }

    #megamenu-refresh .navbar-nav > li > .dropdown-menu > li:nth-child(1) {
        border-top: 0px;
        border-bottom: 2px dashed #ccc;
        margin-bottom: 1.5rem;
    }

    #megamenu-refresh .navbar-nav > li > .dropdown-menu {
        border: 0;
        font-size: 14px;
        background-color: $white-body;
        z-index: 1000;
    }

    #megamenu-refresh {
        display: block;
    }

    .library-box .panel-heading {
        display: none;
    }
}

@media ( max-width: 424px ) {
    #mm-help-aal .aal-box .panel-body .media .media-left a.aal-icon {
        display: none;
    }
    #mm-help-aal .aal-box .panel-body .media .media-right {
        padding-left: 0;
        line-height: 1.25;
    }
}

/* TODO: the following should be placed in _refresh_clean.scss */
.library-boxes .lib-box-small.panel {
    border-radius: 4px;
}
/* Safari doesn't play well with floated elements and flex display */
.library-boxes .lib-box-small.panel:before,
.library-boxes .lib-box-small.panel:after {
    display:none!important;
}

/* override custom LG style to zero-out row margins */
#xxx .homepagerefresh #megamenu-refresh .row {
    margin-left: -15px;
    margin-right: -15px;
}

/* TODO potentially unused? found in libhoursv2.js */
.mini_hours_container,
#oconnor_hours_container {
    font-size: 15px;
    margin-bottom: 4px;
}

/* TODO: unused? */
/*
.libraryinfo-content {
     padding: 0 0px 0px 20px;
     text-align: left;
}
.item-desktop {
     display: inline-block;
}
.item-tablet {
     display: none;
}
.get-help-menu .item-list {
     padding: 0 0 0 25px;
}
#bapst_pane,
#burns_pane,
#erc_pane,
#law_pane,
#oconnor_pane,
#oneill_pane,
#swl_pane,
#tml_pane {
     width: 58%;
     height: auto;
     color: #666;
     padding: 0;
     display: none;
     position: absolute;
     right: 0;
     top: 30px;
}
.item_pane img {
     float: left;
     margin-right: 10px;
     padding: 0 0 75px 0;
}
.item_pane p {
     line-height: inherit;
     text-align: left;
}
.item_pane .address {
     font-size: 11px;
}
.item_pane ul {
     padding: 0px 0 5px 0;
     margin: 0px;
}
.item_pane li {
     list-style: none;
}
.pane_pic {
     float: left;
     width: 25%;
     padding: 15px 10px;
}
.pane_pic img {
     border: 2px solid $red;
     width: 100%;
     padding: 0;
}
.pane_info {
     float: right;
     width: 75%;
     padding: 15px;
}
.get-help-menu .pane_info {
     float: none;
     width: 100%;
     padding: 0 15px 0 15px;
}
.pane_info .h3style a {
     padding: 0 35px 0 0;
}
.pane_info .h3style a:after {
     content: none;
}
.pane_info .h4style {
     padding: 0;
}
.megamenucalendar {
     font-size: 15px;
     height: 30px;
     margin: 0 auto;
     padding: 0px;
     text-align: left;
     width: 100%;
}
.megamenucalendar:before {
     content: none;
}
.megamenucalendar:hover:before {
     color: #32758f;
}
.megamenuphone {
     font-size: 15px;
     height: 30px;
     margin: 0 auto;
     padding: 0px;
     text-align: left;
     width: 100%;
}
.megamenuphone:before {
     content: none;
}
.megamenuphone:hover:before {
     color: #32758f;
}
.megamenuemail {
     font-size: 15px;
     height: 30px;
     margin: 0 auto;
     padding: 0;
     text-align: left;
     width: 100%;
}
.megamenuemail:before {
     content: none;
}
.megamenuemail:hover:before {
     color: #32758f;
}
.hamburger {
     background: transparent;
}
.libhelp-link {
     cursor: pointer;
}
 #megamenu-refresh .navbar-nav > .open > a, 
 #megamenu-refresh .navbar-nav > .open > a:hover {
     background: $dark-blue-green !important;
     color: $white-text !important;
 }
*/
