.news-container {
    .news-archives {
        display: flex;
        flex-wrap: wrap;

        .post {
            position: relative;

            img {
                width: 100%;
            }

            h4 {
                margin-bottom: 0;
            }

            .archive_date {
                font-style: italic;
                font-size: 12px;
            }

            .breadcrumb {
                margin: 1rem 0 1rem 0;
            }

            .news-section-date {
                font-weight: 600;
                margin: .5rem 0 .25rem 0;
                color: #a25729;
            }

            .news-section-title {
                line-height: 1.5;
                margin: 0;
                padding: 0;
            }

            .news-section-text {
                line-height: 1.6;
                padding: 0 .25rem .25rem .25rem;
            }
        }
    }
}