body {
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
}

.accessibility-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.alert-hours {
  margin-bottom: 1rem;
  padding: 1rem;
}

a {
  color: #2f7ab9;
}

#skiplink {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}
#skiplink:active, #skiplink:focus, #skiplink:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
  background-color: #ffffff;
  padding: 4px;
}

.onl-asterisk-notice {
  display: none;
}
.onl-asterisk-notice .visible {
  display: block;
}

#downtime-notification {
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #fde073;
  text-align: center;
  overflow: hidden;
  padding: 1em 2em;
  box-shadow: 0 0 5px black;
}

#close {
  display: none;
}

#bclib-header {
  background: #8a100b no-repeat 100% 0;
  border-bottom: 1px solid #dccaa0;
  min-height: 42px;
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 2;
}
#bclib-header a {
  color: #fff;
  text-decoration: none;
}
#bclib-header a:hover, #bclib-header a:focus {
  color: #dccaa0;
  text-decoration: none;
}
#bclib-header .header-container {
  padding: 0 inherit;
}
#bclib-header ul.bclib-header-links {
  text-align: right;
  margin: 0;
  text-transform: uppercase;
  padding: 0;
}
#bclib-header ul.bclib-header-links li {
  display: inline;
  margin: 0 0 0 1.25rem;
}

@media (max-width: 575px) {
  #bclib-header .header-container {
    padding-top: 0.2666rem;
    padding-bottom: 0.25rem;
  }
  #bclib-header ul.bclib-header-links {
    text-align: left;
  }
}
.megamenu-container {
  background-color: rgba(16, 14, 15, 0.85);
  position: absolute;
  width: 100%;
  z-index: 3;
}

#megamenu .navbar {
  padding: 0;
  margin: 0;
}
#megamenu .navbar .nav-item.dropdown {
  position: static;
}
#megamenu .navbar-brand,
#megamenu .nav-link {
  color: #fff;
}
#megamenu .navbar-brand {
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.85);
  font-style: italic;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 200;
  padding: 0;
  margin: 0;
}
#megamenu .dropdown-hover > .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  border-top: none;
  box-shadow: 0rem 1.5rem 2.25rem 0.125rem #c5bfb0;
}
#megamenu .dropdown-toggle:after {
  content: none;
}
#megamenu .navbar-toggler {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  border: 0;
  transition: 0.5s ease-in-out;
  flex-direction: column;
  justify-content: space-around;
}
#megamenu .navbar-toggler:focus, #megamenu .navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}
#megamenu .navbar-toggler span {
  margin: 0;
  padding: 0;
}
#megamenu .navbar-toggler .toggler-icon {
  display: block;
  position: absolute;
  height: 0.1875rem;
  width: 100%;
  background: #ffffff;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
#megamenu .navbar-toggler .toggler-icon.top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}
#megamenu .navbar-toggler .toggler-icon.middle-bar {
  margin-top: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
}
#megamenu .navbar-toggler .toggler-icon.bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}
#megamenu .navbar-toggler.collapsed .toggler-icon.top-bar {
  margin-top: -1.25rem;
  transform: rotate(0deg);
}
#megamenu .navbar-toggler.collapsed .toggler-icon.middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
#megamenu .navbar-toggler.collapsed .toggler-icon.bottom-bar {
  margin-top: 1.25rem;
  transform: rotate(0deg);
}
#megamenu .dropdown-menu {
  width: 100%;
  padding: 1rem;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#megamenu .dropdown-menu .menu-list {
  list-style: none;
  padding: 0 1rem;
  border-right: 1px solid #dadada;
}
#megamenu .dropdown-menu .menu-list:last-child {
  border-right: none;
  padding-right: 0;
}
#megamenu .dropdown-menu .menu-list li {
  padding: 0;
  margin: 0;
}
#megamenu .dropdown-menu .menu-list li a {
  padding: 0.375rem 0.25rem;
  margin: 0;
  color: #666666;
  word-break: normal;
  display: inline-block;
  width: 100%;
}
#megamenu .dropdown-menu .menu-list li a:hover, #megamenu .dropdown-menu .menu-list li a:focus {
  color: #000000;
}
#megamenu .dropdown-menu .menu-list li a.menu-header {
  color: #2f7ab9;
}
#megamenu .dropdown-menu .menu-list li a .tuck {
  font-size: small;
  padding: 0;
  margin: 0;
}
#megamenu .dropdown-menu .menu-header {
  font-weight: 700;
  padding: 0.375rem 0.25rem;
  display: block;
}
#megamenu .dropdown-menu .menu-text {
  padding: 0 0.25rem 0.5rem 0.25rem;
}
#megamenu .dropdown-menu .find-more-link {
  border-top: 1px solid #dadada;
  padding-top: 1rem;
  margin-top: 1rem;
  text-align: end;
  font-weight: 700;
}
#megamenu .dropdown-menu .find-more-link a {
  padding: 0.25rem;
}
#megamenu .dropdown-menu .occupancy-link {
  text-align: right;
  margin-top: 0.75rem;
}
#megamenu .dropdown-menu .hours-todays-date {
  font-weight: 600;
}
#megamenu a {
  text-decoration: none;
  color: #2f7ab9;
}
#megamenu a:hover, #megamenu a:focus {
  text-decoration: none;
  background: #e0e0e0;
}
#megamenu a.nav-link {
  font-size: 20px;
  line-height: 1;
  font-weight: 200;
  padding: 0.9375rem;
}
#megamenu a.nav-link:hover, #megamenu a.nav-link:focus, #megamenu a.nav-link.show {
  background: #05506D;
  outline: 0;
}
#megamenu a.accounts-link-mobile {
  padding: 0.5rem 1rem;
  margin: 0.75rem 0;
  font-size: 18px;
  line-height: 1;
  background-color: #204375;
  color: #fff;
  border-radius: 0.25rem;
}
#megamenu .table-hours table {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #megamenu .dropdown .menu-list:nth-child(even) {
    border: none;
  }
  #megamenu #nav-item-menu-accounts.dropdown .menu-list {
    border: none;
  }
}
@media (max-width: 575px) {
  #megamenu .dropdown .menu-list {
    border: none;
  }
}
#lib-footer {
  background-color: #8a100b;
  color: #fff;
  border-top: 0.25rem #b29d6c solid;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 300;
  z-index: 4;
  position: relative;
  padding: 1rem 0;
}
#lib-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#lib-footer a {
  color: #fff;
  text-decoration: none;
}
#lib-footer a:hover, #lib-footer a:focus {
  color: #dccaa0;
  text-decoration: none;
}
#lib-footer h4 {
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.9375rem;
  letter-spacing: 2px;
  margin: 0 0 0.5rem 0;
}
#lib-footer h4 .orgname {
  letter-spacing: 1.25px;
  margin: 0 0 0.625rem 0;
}
#lib-footer .lib-footer-links {
  padding-top: 1em;
}
#lib-footer .lib-footer-links a {
  border-right: 1px solid #ffffff;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
#lib-footer .lib-footer-links a:first-child {
  padding-left: 0;
}
#lib-footer .lib-footer-links a:last-child {
  border-right: 0;
  padding-right: 0;
}
#lib-footer .phone-numbers {
  padding-top: 1em;
}
#lib-footer .phone-numbers .phone-label {
  font-weight: 400;
}
#lib-footer .phone-numbers .phone-label,
#lib-footer .phone-numbers .phone-number {
  display: inline-block;
}
#lib-footer .quick-links h4 {
  text-align: center;
}
#lib-footer #socialmedia ul {
  margin: 1.5em 0 1em 0;
  padding: 0 1rem;
  text-align: center;
}
#lib-footer #socialmedia ul li {
  display: inline-block;
  padding: 0 0.1875rem 0.5625rem 0.1875rem;
}
#lib-footer #socialmedia ul li a {
  color: #8a100b;
  font-size: 1rem;
  border-radius: 50%;
  border-color: #dccaa0;
  background: #dccaa0;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  text-align: center;
  text-decoration: none !important;
  display: block;
  transition: 0.2s;
}
#lib-footer #socialmedia ul li a:hover, #lib-footer #socialmedia ul li a:focus {
  background-color: #ffffff;
}
#lib-footer #socialmedia ul li a:focus {
  outline: 2px dotted #b29d6c;
  outline-offset: 3px;
}
#lib-footer #socialmedia h4 {
  text-align: center;
}
#lib-footer .quick-links ul {
  text-align: center;
}
#lib-footer .table-hours table td {
  padding: 0.25rem;
  color: #fff;
}
#lib-footer .hours-todays-date {
  text-align: right;
}
#lib-footer .ihs-logo img {
  height: 6.25rem;
  margin-top: 1.25rem;
}

.media-icons {
  font-family: "FontAwesome";
}
.media-icons .media_news:after {
  content: "\f09e";
}
.media-icons .media_facebook:after {
  content: "\f09a";
}
.media-icons .media_flickr:after {
  content: "\f16e";
}
.media-icons .media_twitter:after {
  content: "\f099";
}
.media-icons .media_youtube:after {
  content: "\f16a";
}
.media-icons .media_linkedin:after {
  content: "\f0e1";
}
.media-icons .media_instagram:after {
  content: "\f16d";
}

@media (max-width: 991px) {
  #lib-footer .lib-footer-links a {
    border: 0;
    padding: 0;
    display: block;
  }
  #lib-footer .phone-numbers .phone-pair {
    padding-bottom: 0.25rem;
  }
}
@media (max-width: 767px) {
  #lib-footer .hours-wrap {
    margin-top: 2em;
  }
}
#bc-footer {
  background: #501315;
  padding: 1.25rem 0;
  margin-top: 0;
  color: #fff;
  font-size: 0.75rem;
  line-height: 0.75rem;
}
#bc-footer .bc-links {
  text-align: right;
  margin-top: 0.5rem;
  font-weight: 500;
}
#bc-footer .bc-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#bc-footer .bc-links ul li {
  letter-spacing: 0;
  color: #fff;
  text-transform: uppercase;
  padding-right: 1.25rem;
  border-right: solid 1px #ffffff;
  margin-right: 1.25rem;
  display: inline-block;
}
#bc-footer .bc-links ul li a {
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
}
#bc-footer .bc-links ul li a:hover, #bc-footer .bc-links ul li a:focus {
  color: #dccaa0;
  text-decoration: none;
}
#bc-footer .bc-links ul li:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}
#bc-footer .copyright {
  font-weight: 400;
  letter-spacing: 0;
  color: #b7b7b7;
  margin-top: 1.25rem;
  text-align: right;
  margin-bottom: 0;
}
#bc-footer .bc-img a {
  display: inline-block;
}

@media (max-width: 991px) {
  #bc-footer .copyright {
    text-align: left;
  }
  #bc-footer .bc-links {
    text-align: left;
    margin-top: 1.5rem;
  }
}
@media (max-width: 767px) {
  #bc-footer .bc-links {
    text-align: center;
  }
  #bc-footer .bc-links ul {
    max-width: 20rem;
    margin: 0 auto;
  }
  #bc-footer .bc-links ul li {
    margin-bottom: 1rem;
  }
  #bc-footer .bc-links ul li:nth-child(3) {
    border: 0;
    margin-right: 0;
    padding-right: 0;
  }
  #bc-footer .copyright {
    text-align: center;
  }
  #bc-footer .bc-img {
    text-align: center;
  }
  #bc-footer img.footer-logo {
    max-width: 11.25rem;
  }
}
.card {
  height: 100%;
  font-size: 15px;
  padding: 0.5rem;
}
.card a {
  text-decoration: none;
}
.card .card-body {
  padding: 0 0 0.25rem 0;
  margin: 0;
  font-size: 14px;
}
.card .card-body .card-title {
  padding: 0 0 0.25rem 0;
  line-height: 1.25;
  margin: -0.125rem 0 0 0;
  font-weight: 700;
  font-size: 15px;
}
.card .card-footer {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  line-height: 1;
}

.library-box-wrapper .library-box {
  min-height: 7rem;
  background-color: #fafafa;
}
.library-box-wrapper .library-box a.library-card-link {
  display: block;
}
.library-box-wrapper .library-box a.library-card-link:hover, .library-box-wrapper .library-box a.library-card-link:focus {
  background: transparent;
}
.library-box-wrapper .library-box .library-image {
  padding: 0 0.5rem 0 0;
  margin: 0;
}
.library-box-wrapper .library-box .library-image a {
  display: block;
  height: 100%;
  overflow: hidden;
  border-radius: 0.375rem 0 0 0.375rem;
}
.library-box-wrapper .library-box .library-image a:hover, .library-box-wrapper .library-box .library-image a:focus {
  outline: 2px solid blue;
  outline-offset: 0px;
}
.library-box-wrapper .library-box .library-image img {
  height: 100%;
  margin-left: calc((100% - 205px) / 2);
}
.library-box-wrapper .library-box .library-metadata {
  display: flex;
  flex-direction: column;
}

.aal-box-wrapper a.card-link-wrapper {
  text-decoration: none;
  display: block;
  height: 100%;
}
.aal-box-wrapper a.card-link-wrapper .card {
  background-color: #fafafa;
}
.aal-box-wrapper a.card-link-wrapper .card .card-text {
  color: #666666;
}
.aal-box-wrapper a.card-link-wrapper:hover .card, .aal-box-wrapper a.card-link-wrapper:focus .card {
  border: 1px solid blue;
  outline: 1px solid blue;
}
.aal-box-wrapper a.card-link-wrapper:hover .aal-icon, .aal-box-wrapper a.card-link-wrapper:focus .aal-icon {
  background-color: #31b0d5;
}
.aal-box-wrapper a.card-link-wrapper .aal-box .aal-icon-wrapper {
  margin-right: 0.5rem;
}

.aal-icon {
  font-size: 35px;
  color: #fff;
  display: block;
  line-height: 1;
  width: 3.4375rem;
  border-radius: 0.375rem;
  transition: background-color 0.4s ease-in-out;
}
.aal-icon i {
  padding: 0.625rem;
  width: 100%;
  color: #fff;
  font-weight: 400;
}
.aal-icon.aal-icon-email {
  background-color: #a25729;
}
.aal-icon.aal-icon-chat {
  background-color: #b29d6c;
}
.aal-icon.aal-icon-meet {
  background-color: #204375;
}
.aal-icon.aal-icon-visit {
  background-color: #dccaa0;
}/*# sourceMappingURL=template.css.map */