<div class="leftBottom burns-boardgame">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                <div class="content">
                    
                    <div class="content-body">
                        <div class="highlight-title"><h2>Social Media Highlight</h2></div>

                        <div class="label">Title</div>
                        <p><a href="https://johnjburnslibrary.wordpress.com/2019/11/18/whats-in-a-game-some-examples-of-board-games-at-burns-library/">What’s in a Game? Some Examples of Board Games at Burns Library</a></p>
                    
                        <div class="label">Image Caption</div>
                        <p>Detail of gameboard with portrait of Queen Victoria, <a href="https://bc-primo.hosted.exlibrisgroup.com/permalink/f/l6ucgu/ALMA-BC21338002760001021">Historical Pastime: A New Game of the History of England</a></p>
                        
                        <div class="label">Source</div>
                        <p>From the <a href="https://johnjburnslibrary.wordpress.com/">John J. Burns Library's Blog</a></p>

                        <p class="connect-button"><a href="https://libguides.bc.edu/stayconnected/"><span class="btn btn-default btn-blue">Connect with us over social media</span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
#socialmedia-highlight .burns-boardgame {
    font-size: 16px;
    background: url(https://library.bc.edu/images/homepage/socialmediahighlights/burns-blog-historicalpasttime-1200x519.png) no-repeat 00% 80% #101010;
    width: 100%;
    min-height: 150px;
    height: 600px;
    background-size: auto auto;
    color: #fff;
    padding: 55px 0;
    z-index: 2;
    background-size: cover;
}
@media (max-width: 1023px) {
    #socialmedia-highlight .burns-boardgame {
        background-position: 50% 50%;
        height: 519px;
        background-size:auto;
    }
}
@media (max-width: 767px) {
    #socialmedia-highlight .burns-boardgame {
        background-position: 64% 0%;
        height: 800px;
        background-size:auto;
    }
}
</style>