<div class="leftBottom burns-cat-sketch">

    {{/* This is a big image, so use <picture> to reduce payload if possible */}}
    {{ partial "picture" (dict "ctx"   .
                               "base"  "homepage/socialmediahighlights/obrien-cat-sketch"
                               "alt"   "pencil sketch of sleeping cat"
                               "class" "burns-cat-sketch__image"
                               "avif"  true
                               "webp"  true
                               "lazy"  true) }}

    <div class="container-fluid">
        <div class="row">
            <div class="burns-cat-sketch__info col-md-12 col-sm-12 col-xs-12 pull-right">
                <div class="content">
                    
                    <div class="content-body">
                        <div class="highlight-title"><h2>Social Media Highlight</h2></div>

                        <div class="label">Title</div>
                        <p><a href="https://www.instagram.com/p/BpKRD3gBjIK/">Flann O'Brien cat sketch</a></p>
                    
                        <div class="label">Image Caption</div>
                        <p>Sketch from Irish writer and humorist Flann O'Brien's papers (<a href="https://bc.primo.exlibrisgroup.com/discovery/fulldisplay?vid=01BC_INST:bclib&tab=LibraryCatalog&docid=alma99106027820001021">MS.1997.027</a>)</p>
                        
                        
                        <div class="label">Source</div>
                        <p>From the <a href="https://www.instagram.com/bcburnslibrary/">John J. Burns Library's Instagram</a></p>

                        <p class="connect-button"><a href="https://libguides.bc.edu/stayconnected/"><span class="btn btn-default btn-blue">Connect with us over social media</span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>