<div class="leftBottom burns-cat-sketch">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                <div class="content">
                    
                    <div class="content-body">
                        <div class="highlight-title"><h2>Social Media Highlight</h2></div>

                        <div class="label">Title</div>
                        <p><a href="https://www.instagram.com/p/BpKRD3gBjIK/">Flann O'Brien cat sketch</a></p>
                    
                        <div class="label">Image Caption</div>
                        <p>Sketch from Irish writer and humorist Flann O'Brien's papers (<a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/fulldisplay?docid=ALMA-BC21332671220001021&context=L&tab=bcl_only&search_scope=bcl&vid=bclib_new&lang=en_US">MS.1997.027</a>)</p>
                        
                        
                        <div class="label">Source</div>
                        <p>From the <a href="https://www.instagram.com/bcburnslibrary/">John J. Burns Library's Instagram</a></p>

                        <p class="connect-button"><a href="https://libguides.bc.edu/stayconnected/"><span class="btn btn-default btn-blue">Connect with us over social media</span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
#socialmedia-highlight .burns-cat-sketch {
    font-size: 16px;
    background: url(https://libapps.s3.amazonaws.com/accounts/150597/images/OBrien_CatSsketch_960x540.jpg) no-repeat 00% 45% #101010;
    width: 100%;
    min-height: 150px;
    height: 600px;
    background-size: auto auto;
    color: #fff;
    padding: 55px 0;
    z-index: 2;
    background-size: cover;
}
@media (max-width: 1199px) {
    #socialmedia-highlight .burns-cat-sketch {
        background-position: 0% 0%;
        height: 550px;
    }
}
@media (max-width: 1023px) {
    #socialmedia-highlight .burns-cat-sketch {
        background-position: 0% 0%;
        height: 500px;
    }
}
@media (max-width: 767px) {
    #socialmedia-highlight .burns-cat-sketch {
        background-position: 64% 0%;
        height: 800px;
        background-size:auto;
    }
}
</style>