<!-- COLLECTIONS HIGHLIGHT START -->
<h2 class="sr-only sr-only-focusable">Collections highlight</h2>
<div class="leftTop erc-ducklings" id="socialmedia-highlight" data-tag="ga-tag">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                <div class="content">
                    
                    <div class="content-body">
                        <div class="highlight-title"><h2>Collections Highlight</h2></div>

                        <div class="label">Title</div>
                        <p><a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/search?query=any,contains,make%20way%20for%20ducklings,AND&tab=bcl_only&search_scope=lib_ERC&sortby=date&vid=bclib_new&lang=en_US&mode=advanced&offset=0">Make Way For Ducklings</a></p>
                    
                        <div class="image-attribution">
                            <div class="label">Image Attribution</div>
                            <p>"<a href="https://bc-primo.hosted.exlibrisgroup.com/permalink/f/l6ucgu/ALMA-BC21338002760001021">Make Way For Ducklings</a>" by <a href="https://www.flickr.com/photos/acodring/">Andrew Codrington</a> is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/">CC BY-NC-ND 2.0</a></p>
                        </div>
                        
                        <!--div class="label">Source</div>
                        <p>From the <a href="https://johnjburnslibrary.wordpress.com/">John J. Burns Library's Blog</a></p-->

                        <!--p class="connect-button"><a href="https://libguides.bc.edu/stayconnected/"><span class="btn btn-default btn-blue">Connect with us over social media</span></a></p-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- COLLECTIONS HIGHLIGHT END -->