<!-- DS HIGHLIGHT START -->
<div class="rightBottom" id="ds-highlight" data-tag="ga-tag">
    <div class="container-fluid">
        <div class="container">
            <h2 class="">Explore Our Collections</h2>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 collections-box">
                    <a href="https://moralesmassbook.bc.edu/">
                        <div class="content morales-mass">
                            <div class="description">
                                <div class="department">
                                    Digital Scholarship
                                </div>
                                <div class="collection-name">
                                    Morales Mass Book
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 collections-box">
                    <div class="content job">
                        <a href="https://jesuitonlinebibliography.bc.edu/">
                            <div class="description">
                                <div class="department">
                                    Digital Scholarship
                                </div>
                                <div class="collection-name">
                                    Jesuit Online Bibliography
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 collections-box">
                    <div class="content japanese-prints">
                        <a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/collectionDiscovery?vid=bclib_new&inst=BCL&collectionId=81482909060001021">
                            <div class="description">
                                <div class="department">
                                    Special Collections
                                </div>
                                <div class="collection-name">
                                    Japanese prints collection
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 collections-box">
                    <div class="content oneill-bowling">
                        <a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/collectionDiscovery?vid=bclib_new&collectionId=81517121150001021">
                            <div class="description">
                                <div class="department">
                                    Digital Collections
                                </div>
                                <div class="collection-name">
                                    Thomas P. "Tip" O'Neill, Jr., Photographs (1953-1987)
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 collections-box">
                    <div class="content">
                        <div class="description">
                            <div class="department">
                                Digital Scholarship
                            </div>
                            <div class="collection-name">
                                Jesuit Online Bibliography
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 collections-box">
                    <div class="content">
                        <div class="description">
                            <div class="department">
                                Digital Scholarship
                            </div>
                            <div class="collection-name">
                                Jesuit Online Bibliography
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- DS HIGHLIGHT END -->

<style>
    #ds-highlight {
        height: auto;
        /*background: #204375;*/
        background: #fff;
        padding: 1rem;
        /*background: url(https://libapps.s3.amazonaws.com/accounts/3908/images/artdecobackground2.png);*/
    }
    #ds-highlight h2 {
        color: #000;
        font-weight: 600;
        background: #fff;
        display: inline-block;
        padding: 1rem 2rem;
    }
    .collections-box {
        margin: 2rem 0;
        position: relative;
    }
    .collections-box .content {
        background-color: #ccc;
        color: #000;
        padding: 0;
        height: 250px;
    }
    .content.morales-mass {
        background: url(https://library.bc.edu/images/digitalscholashipbg-morales.jpg) no-repeat 0% 0% #101010;
    }
    .content.japanese-prints {
        background: url(https://library.bc.edu/images/sc_bg_02_med.jpg) no-repeat 65% 60%;
    }
    .content.job {
        background: url(https://libapps.s3.amazonaws.com/accounts/3908/images/jobbackground.png) no-repeat 40% 80%;
    }
    .content.oneill-bowling {
        background: url(https://libapps.s3.amazonaws.com/accounts/3908/images/tiponeillbowling.png) no-repeat 50% 20%;
    }
    .description {
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        line-height: 1.2;
        height: 100%;
        padding-top: 40%;
        background-image: linear-gradient(0deg,rgba(0,0,0,0.6) 20%,rgba(0,0,0,0.2) 50%);
    }
    .description:hover,
    .description:focus {
        background-image: linear-gradient(0deg,rgba(0,0,0,0.5) 20%,rgba(0,0,0,0.1) 50%);
    }
    .description .department {
        font-size: smaller;
        padding: 2rem 2rem 0 2rem;
       
    }
    .description .collection-name {
        padding: .5rem 2rem 2rem 2rem;
        
    }
</style>