<!-- DS HIGHLIGHT START -->
<div class="" id="explore-collections" data-tag="ga-tag">
    <div class="container-fluid">
        <div class="container">
            <h2>Explore Our Collections</h2>

            <div class="row collections-box-container">

                <div class="col-md-4 col-sm-6 col-xs-6 collections-box">
                    <a href="https://moralesmassbook.bc.edu/">
                        <div class="collection digital-scholarship morales-mass">
                            <div class="collection-description">
                                <div class="collection-department">
                                    Digital Scholarship
                                </div>
                                <div class="collection-name">
                                    Morales Mass Book
                                </div>
                            </div>
                            <div class="collection-image">
                                <img src="https://libapps.s3.amazonaws.com/accounts/3908/images/digitalscholashipbg-morales-thumbnail-360x240.jpg" alt="" />
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6 collections-box">
                    <a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/collectionDiscovery?vid=bclib_new&inst=BCL&collectionId=81517036590001021">
                        <div class="collection digital-collections japanese-prints">
                            <div class="collection-description">
                                <div class="collection-department">
                                    Digital Collections
                                </div>
                                <div class="collection-name">
                                    Japanese prints collection
                                </div>
                            </div>
                            <div class="collection-image">
                                <img src="https://libapps.s3.amazonaws.com/accounts/3908/images/special-collections-japanese-prints-2-thumbnail-360x240.jpg" alt="" />
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6 collections-box">
                    <a href="https://jesuitonlinebibliography.bc.edu/">
                        <div class="collection digital-scholarship jesuit-online-bib">
                            <div class="collection-description">
                                <div class="collection-department">
                                    Digital Scholarship
                                </div>
                                <div class="collection-name">
                                    Jesuit Online Bibliography
                                </div>
                            </div>
                            <div class="collection-image">
                                <img src="https://libapps.s3.amazonaws.com/accounts/3908/images/digital-scholarship-jesuit-online-bibliography-thumbnail-360x240.jpg" alt="" />
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6 collections-box">
                    <a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/collectionDiscovery?vid=bclib_new&collectionId=81517121150001021">
                        <div class="collection digital-collections tip-oneill">
                            <div class="collection-description">
                                <div class="collection-department">
                                    Digital Collections
                                </div>
                                <div class="collection-name">
                                    Thomas P. "Tip" O'Neill, Jr., Photographs (1953-1987)
                                </div>
                            </div>
                            <div class="collection-image">
                                <img src="https://libapps.s3.amazonaws.com/accounts/3908/images/special-collections-tip-oneill-bowling-thumbnail-360x240.jpg" alt="" />
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6 collections-box">
                    <a href="https://dlib.bc.edu/">
                        <div class="collection escholarship theses">
                            <div class="collection-description">
                                <div class="collection-department">
                                    eScholarship@BC
                                </div>
                                <div class="collection-name">
                                    Theses and Dissertations
                                </div>
                            </div>
                            <div class="collection-image">
                                <img src="https://libapps.s3.amazonaws.com/accounts/3908/images/escholarship-background-thumbnail-360x240.jpg" alt="" />
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6 collections-box">
                    <a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/collectionDiscovery?vid=bclib_new&collectionId=81517037740001021">
                        <div class="collection digital-collections athletics">
                            <div class="collection-description">
                                <div class="collection-department">
                                    Digital Collections
                                </div>
                                <div class="collection-name">
                                    Boston College athletic photographs, 1889-2013
                                </div>
                            </div>
                            <div class="collection-image">
                                <img src="https://libapps.s3.amazonaws.com/accounts/3908/images/special-collections-althletics-doug-flutie-thumbnail-360x240.jpg" alt="" />
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- DS HIGHLIGHT END -->

<style>
    #explore-collections {
        height: auto;
        /*background: #204375;*/
        /*background: #0873ae;*/
        background: #fff;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-top: 9px solid #dccaa0;
        /*background: url(https://libapps.s3.amazonaws.com/accounts/3908/images/artdecobackground2.png);*/
    }
    #explore-collections h2 {
        color: #000;
    }
    #explore-collections .row {
        padding-top: 0;
        padding-bottom: 0;
    }
    #explore-collections .collections-box-container {
        margin-top: 2rem;
    }
    #explore-collections .collections-box {
        margin: 0 0 2.5rem 0;
        position: relative;
    }

    #explore-collections .collections-box a {
        display: block;
    }
    #explore-collections .collections-box a img {
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
        opacity: .85;
        display: block;
        /*min-height: 240px;*/
    }

    #explore-collections .collections-box a:hover,
    #explore-collections .collections-box a:focus {
        text-decoration:none;
    }
    
    #explore-collections .collections-box a:hover img,
    #explore-collections .collections-box a:focus img {
       opacity:1;
    }

    /* set the header color based on department class */
    #explore-collections .collection-description {
        padding: 1.25rem 1rem 1.25rem 1.25rem;
        background-color: #c06626;
        color: #fff;
    }
    #explore-collections .digital-scholarship .collection-description {
        background-color: #204375;
    }
    #explore-collections .escholarship .collection-description {
        background-color: #c06626
    }
    #explore-collections .digital-collections .collection-description {
        background-color: #467282;
    }

    #explore-collections .collection-department,
    #explore-collections .collection-name {
        color: #fff;
        line-height: 1.2;
    }
    #explore-collections .collection-department {
        font-size: 15px;
        font-weight: 600;
        padding-bottom: .5rem;
    }
    #explore-collections .collection-name {
        font-size: 18px;
        min-height: 4.75rem;
    }
    #explore-collections .collection-image img {
        width: 100%;
    }

    @media (max-width: 425px) {
        #explore-collections .collections-box {
            width: 100%;
        }
    }
</style>