<!-- DS HIGHLIGHT START -->
<div class="" id="explore-collections" data-tag="ga-tag">
    <div class="container-fluid">
        <div class="container">
            <h2>Explore Our Collections</h2>

            <div class="row collections-box-container">
                <div class="col-md-4 col-sm-6 col-xs-6 collections-box">
                    <a href="https://moralesmassbook.bc.edu/">
                        <div class="content morales-mass">
                            <div class="description">
                                <div class="department">
                                    Digital Scholarship
                                </div>
                                <div class="collection-name">
                                    Morales Mass Book
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6 collections-box">
                    <div class="content job">
                        <a href="https://jesuitonlinebibliography.bc.edu/">
                            <div class="description">
                                <div class="department">
                                    Digital Scholarship
                                </div>
                                <div class="collection-name">
                                    Jesuit Online Bibliography
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6 collections-box">
                    <div class="content japanese-prints">
                        <a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/collectionDiscovery?vid=bclib_new&inst=BCL&collectionId=81482909060001021">
                            <div class="description">
                                <div class="department">
                                    Special Collections
                                </div>
                                <div class="collection-name">
                                    Japanese prints collection
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6 collections-box">
                    <div class="content oneill-bowling">
                        <a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/collectionDiscovery?vid=bclib_new&collectionId=81517121150001021">
                            <div class="description">
                                <div class="department">
                                    Digital Collections
                                </div>
                                <div class="collection-name">
                                    Thomas P. "Tip" O'Neill, Jr., Photographs (1953-1987)
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6 collections-box">
                    <div class="content theses">
                        <a href="https://dlib.bc.edu/">
                            <div class="description">
                                <div class="department">
                                    eScholarship@BC
                                </div>
                                <div class="collection-name">
                                    Theses and Dissertations
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6 collections-box">
                    <div class="content dataverse">
                        <a href="https://www.bc.edu/dataverse">
                            <div class="description">
                                <div class="department">
                                    Dataverse
                                </div>
                                <div class="collection-name">
                                    Data sets and more
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- DS HIGHLIGHT END -->

<style>
    #explore-collections {
        height: auto;
        /*background: #204375;*/
        /*background: #0873ae;*/
        background: #fff;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-top: 9px solid #dccaa0;
        /*background: url(https://libapps.s3.amazonaws.com/accounts/3908/images/artdecobackground2.png);*/
    }
    #explore-collections h2 {
        color: #000;
    }
    #explore-collections .row {
        padding-top: 0;
        padding-bottom: 0;
    }
    #explore-collections .collections-box-container {
        margin-top: 2rem;
    }
    #explore-collections .collections-box {
        margin: 0 0 2.5rem 0;
        position: relative;
    }
    #explore-collections .collections-box .content {
        background-color: #ccc;
        color: #000;
        padding: 0;
        height: 250px;
    }
    #explore-collections .content.morales-mass {
        background: url(https://library.bc.edu/images/digitalscholashipbg-morales.jpg) no-repeat 0% 0% #101010;
    }
    #explore-collections .content.japanese-prints {
        background: url(https://library.bc.edu/images/sc_bg_02_med.jpg) no-repeat 65% 60%;
    }
    #explore-collections .content.job {
        background: url(https://libapps.s3.amazonaws.com/accounts/3908/images/jobbackground.png) no-repeat 40% 80%;
    }
    #explore-collections .content.oneill-bowling {
        background: url(https://libapps.s3.amazonaws.com/accounts/3908/images/tiponeillbowling.png) no-repeat 50% 20%;
    }
    #explore-collections .content.theses {
        background: url(https://libapps.s3.amazonaws.com/accounts/3908/images/dataserver.png) no-repeat 0 0;
    }
    #explore-collections .content.dataverse {
        background: url(https://libapps.s3.amazonaws.com/accounts/3908/images/dataserver.png) no-repeat 46% 0;
    }
    #explore-collections .description {
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        line-height: 1.2;
        height: 100%;
        padding-top: 40%;
        background-image: linear-gradient(0deg,rgba(0,0,0,0.6) 20%,rgba(0,0,0,0.2) 50%);
    }
    #explore-collections .description:hover,
    #explore-collections .description:focus {
        background-image: linear-gradient(0deg,rgba(0,0,0,0.5) 20%,rgba(0,0,0,0.1) 50%);
    }
    #explore-collections .description .department {
        font-size: smaller;
        padding: 2rem 2rem 0 2rem;
    }
    #explore-collections .description .collection-name {
        padding: .5rem 2rem 2rem 2rem;
    }

    @media (max-width: 425px) {
        #explore-collections .collections-box {
            width: 100%;
        }
    }
</style>