<!-- SCHOLARSHIP-AT-BC START -->
<div class="container-fluid" id="combo-ds-fl-container">
    <div class="container">
        <div class="row">
            <div class="combo-boxes">
                <div class="col-md-6 combo-box" id="scholarship" data-tag="ga-tag">
                    <div class="combo-box-inner">
                        <div class="col-md-12"><h2>Scholarship at BC</h2></div>
                        <div class="col-md-12 col-sm-6">
                            <h3><a href="http://escholarship.bc.edu/">eScholarship@BC</a></h3>
                            <p>A repository of the scholarly and creative work of Boston College</p>
                        </div>
                        <div class="col-md-12 col-sm-6">
                            <h3><a href="https://www.bc.edu/dataverse">Dataverse</a></h3>
                            <p>A place for BC researchers to share, preserve, explore, and analyze their research data</p>
                        </div>
                        <div class="col-md-12 col-sm-6">
                            <h3><a href="https://www.bc.edu/dataverse">Something else</a></h3>
                            <p>A place for BC researchers to share, preserve, explore, and analyze their research data</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 combo-box" id="featured-librarian" data-tag="ga-tag">
                    <div class="combo-box-inner">
                        <div class="col-md-12"><h2>Featured Librarian</h2></div>
                        <div class="col-md-4 col-sm-6">
                            <a href="https://libguides.bc.edu/prf.php?account_id=10692">
                            <h3>Enid Karr</h3>
                            <img class="librarian-profile" src="https://libapps.s3.amazonaws.com/accounts/10692/profiles/7892/Enid_Karr.png" /></a>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-12 col-sm-6">
                                <h3><span class="featured-librarian">Enid's</span> an expert at:</h3>
                                <p><a href="https://libguides.bc.edu/subjects/biology">Biology</a>, 
                                    <a href="https://libguides.bc.edu/subjects/earth-environmental-sciences">Earth &amp; Environmental Sciences</a>, 
                                    <a href="https://libguides.bc.edu/subjects/environmental-studies">Environmental Studies</a>, and 
                                    <a href="https://libguides.bc.edu/subjects/science">Science</a>.</p>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <h3><span class="featured-librarian">Enid's</span> Featured Guides:</h3>
                                <div><a href="https://libguides.bc.edu/biology">Biology</a></div>
                                <div><a href="https://libguides.bc.edu/environmental">Environmental Science</a></div>
                            </div>
                        </div>
                        <div class="col-md-12 bottom-text">
                        <p>We have specialized guides for all your subject interests.<br/>
                            Not sure where to begin? Start with our <a href="https://libguides.bc.edu/ask-a-librarian">Ask A Librarian</a> guide!</p>
                            <hr/>
                            <p style="text-align: right;"><a href="https://libguides.bc.edu/ask-a-librarian/subject-librarians">Browse all <strong>30</strong> subject experts</a> &rangle;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SCHOLARSHIP-AT-BC END -->

<style>
    #combo-ds-fl-container {
        /*border-bottom: solid 9px #dccaa0;*/
        border-top: solid 9px #dccaa0;
        padding: 2rem 1rem;
        background-color: #edefef;
        background-image: url(https://libapps.s3.amazonaws.com/accounts/3908/images/dataserver.png);
        background-size: cover;
    }
    #combo-ds-fl-container .combo-boxes {
        display: flex;
        flex-wrap: wrap;
    }
    #combo-ds-fl-container .combo-box {
        margin: 0;
        position: relative;
    }
    #combo-ds-fl-container .combo-box-inner {
        padding: 0;
        background-color: #fff;
        border-radius: 8px;
        height: 100%;
    }
    #scholarship {
        text-align: left;
        
    }
    #scholarship h2 {
        font-size: 30px;
        margin: 20px 0 10px 0;
        color: #000;
    }
    #scholarship h3 {
        font-size: 24px;
        margin: 20px 0 10px 0;
    }
    #featured-librarian {
        
    }
    .librarian-profile {
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
        max-height: 300px;
        width: 100%;
        border: 3px solid #000;
        margin: 0 auto;
    }
    .bottom-text {
        margin: 1rem 0;
        font-size: larger;
    }
</style>