{{/* show beta button */}}
{{ if eq .Site.Params.showbetabutton true }}
<div id="beta-container" class="row">
    {{ partial "library-beta-button.html" }}
    {{ else }}
    <div class="row">
        {{ end }}
    <div class="col-md-12" id="search-panel" data-tag="ga-tag">
        <div class="row">
            <div class="col-md-12">
                <form action="{{ relref . "/search"}}" role="search">
                    <div class="input-group">
                        <label for="lib-search-box" class="sr-only">Search BC Libraries</label>
                        <input class="form-control" name="any" placeholder="Search for books, articles, journals, databases" id="lib-search-box">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i> <span class="search-button-text">Search</span></button>
                        </span>
                    </div>
                    <div class="online-only-selector">
                        <label class="checkbox-inline online-only-label">
                         <input class="online-only-checkbox" id="online-only-checkbox" name="online" type="checkbox" value="true">
                         <span class="online-only-label-text">Limit to online content</span>
                        </label>
                        <button type="button" class="whats-this btn-xs" onclick=""> <i class="fa fa-question-circle"></i> What's this?</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" id="search-links">
            <div class="col-sm-2 col-sm-offset-1">
                <a href="https://bc.primo.exlibrisgroup.com/discovery/search?vid=01BC_INST:bclib&lang=en" class="search-link book-search-link">Books</a>
            </div>
            <div class="col-sm-2">
                <a href="https://bc.primo.exlibrisgroup.com/discovery/search?vid=01BC_INST:bclib&tab=CentralIndex&search_scope=CentralIndex" class="search-link  article-search-link">Articles</a>
            </div>
            <div class=" col-sm-2">
                <a href="https://bc.primo.exlibrisgroup.com/discovery/jsearch?vid=01BC_INST:bclib&tab=jsearch_slot" class="search-link journal-search-link">Journals</a>
            </div>
            <div class="col-sm-2">
                <a href="https://bc.primo.exlibrisgroup.com/discovery/search?vid=01BC_INST:bclib&tab=VIDEO&search_scope=VIDEO" class="search-link video-search-link">Video</a>
                </div>
            <div class=" col-sm-3">
                <a href="https://bc.primo.exlibrisgroup.com/discovery/search?mode=advanced&vid=01BC_INST:bclib" class="advanced-search-link">Advanced search</a>
            </div>
        </div>
    </div>
</div>
