 <!-- SERVICES-HIGHLIGHT START -->
<div class="container-fluid" id="services-highlight" data-tag="ga-tag">
    <div class="container">
        <div class="row header-row">
            <div class="col-md-8 col-sm-9 col-xs-12">
                <h2>Online Library Services</h2>
                <p class="intro">Our library is here to help you with all your research needs.</p>
            </div>
            <div class="col-md-4 col-sm-3 col-xs-12">
                <div class="blockquote">
                    <div class="quote">Hope is being able to see that there is light despite all of the darkness.</div>
                    <div class="quoted">- Desmond Tutu</div>
                </div>
            </div>
        </div>
        
        <div class="highlight-boxes row">
            <div class="col-md-6 col-sm-6 col-xs-12 highlight-box">
                <div class="panel">
                    <div class="panel-heading">
                        <h4><a href="https://libguides.bc.edu/servicesupdate/online-library-resources">Online Library Resources</a></h4>
                        <hr class="border">
                    </div>
                    <div class="panel-body">
                        <p>We have many resources that you can access from home.</p>
                        <ul>
                            <li>Find online <a href="https://library.bc.edu/catalog">ebooks, journals and streaming media</a></li>
                            <li><a href="https://libguides.bc.edu/c.php?g=1036811&p=7516866&preview=eb2e3fb55b72ea390a80dced26463b87">Request physical items for pickup during the Covid-19 emergency</a>
                            </li>
                            <li><a href="https://libguides.bc.edu/research_guides">Research guides</a> list the best resources in any subject area</li>
                            <li>Access <a href="https://libguides.bc.edu/az.php">databases</a> off-campus through our A-Z database list</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 highlight-box">
                <div class="panel">
                    <div class="panel-heading">
                        <h4>Featured Librarian</h4>
                        <hr class="border">
                    </div>
                    <div class="panel-body">
                        <div class="combo-box-inner">
                            <div class="col-md-3">
                                <a href="https://libguides.bc.edu/prf.php?account_id=10692">
                                    <img class="librarian-profile" src="https://libapps.s3.amazonaws.com/accounts/10692/profiles/7892/Enid_Karr.png" />
                                    <h4>Enid Karr</h4>
                                </a>
                            </div>
                            <div class="col-md-9">
                                <div class="">
                                    <span class="featured-librarian">Enid's</span> an expert at:
                                    <p><a href="https://libguides.bc.edu/subjects/biology">Biology</a>, 
                                        <a href="https://libguides.bc.edu/subjects/earth-environmental-sciences">Earth &amp; Environmental Sciences</a>, 
                                        <a href="https://libguides.bc.edu/subjects/environmental-studies">Environmental Studies</a>, and 
                                        <a href="https://libguides.bc.edu/subjects/science">Science</a>.</p>
                                </div>
                                <div class="">
                                    <span class="featured-librarian">Enid's</span> Featured Guides:
                                    <div><a href="https://libguides.bc.edu/biology">Biology</a></div>
                                    <div><a href="https://libguides.bc.edu/environmental">Environmental Science</a></div>
                                </div>
                            </div>
                            <div class="col-md-12 bottom-text">
                                <p style="text-align: right;"><a href="https://libguides.bc.edu/ask-a-librarian/subject-librarians">Browse all <strong>30</strong> subject experts</a> &rangle;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 highlight-box">
                <div class="panel">
                    <div class="panel-heading">
                        <h4><a href="https://libguides.bc.edu/servicesupdate/online-research-help">Online Research Help</a></h4>
                        <hr class="border">
                    </div>
                    <div class="panel-body">
                        <p>Need help locating something? Question about a research topic?</p>
                        <ul>
                            <li><a href="https://libraryh3lp.com/chat/cs-bostoncoll@chat.libraryh3lp.com?skin=29500&title=Boston+College&sounds=1">Chat</a> with a librarian 24/7</li>
                            <li>Send us an <a href="https://libguides.bc.edu/ask-a-librarian/email-us">email</a></li>
                            <li>Schedule an <a href="https://libguides.bc.edu/ask-a-librarian/subject-librarians">online appointment</a> with a subject specialist</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 highlight-box">
                <div class="panel">
                    <div class="panel-heading">
                        <h4><a href="https://libguides.bc.edu/servicesupdate/renewing-materials">Circulation, ILL &amp; Reserves</a></h4>
                        <hr class="border">
                    </div>
                    <div class="panel-body">
                        <p>Have a question about physical materials? We can help!</p>
                        <ul>
                            <li><a href="https://libguides.bc.edu/servicesupdate/renewing-materials">Renew or return library materials</a></li>
                            <li>Request materials from other libraries through <a href="https://libguides.bc.edu/servicesupdate/ill-requests">Interlibrary Loan</a></li>
                            <li>Request digitization of physical items for <a href="https://libguides.bc.edu/servicesupdate/reserves">Course Reserves</a> (Faculty Only)</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <p class="outro">Read more about all the online services we provide on our <a href="https://libguides.bc.edu/servicesupdate">BC Libraries Services Update</a> page.</p>
    </div>
</div>
<!-- SERVICES-HIGHLIGHT END -->

<style>
    #services-highlight {
        background-color: #dfddcf; 
        border-bottom: solid 9px #dccaa0; 
        border-top: solid 9px #dccaa0;
    }
    #services-highlight .header-row {
        padding: 2rem 0 0 0;
    }
    #services-highlight h2 {
        margin-top: 0;
    }
    .blockquote {
        padding: 0px;
        position: relative;
        font-family: "Utopia-italic";
    }
    .blockquote:before,
    .blockquote:after {
        position: absolute;
        font-family: 'FontAwesome';
        line-height: 1;
        font-size: 60px;
        color: rgba(0,0,0,0.08);
    }
    .blockquote:before {
        top: -1rem;
        content:"\f10d";
    }
    .blockquote:after {
        right: 0;
        top: 2rem;
        content:"\f10e";
    }
    .blockquote .quote {
        padding: .5rem 1rem 0 1rem;
        font-family: "Utopia-italic";
        font-size: 19px;
        line-height: 1.25;
        text-align: center;
    }
    /*.blockquote .quote::before {
        content: "";
        top: -5px;
        left: 50%;
        margin-left: -25%;
        position: absolute;
        border-bottom: 3px solid rgba(138, 16, 11, 0.6);
        height: 3px;
        width: 50%;
    }*/
    /*.blockquote .quote::after {
        content: "";
        bottom: -1rem;
        left: 50%;
        margin-left: -25%;
        position: absolute;
        border-bottom: 3px solid rgba(138, 16, 11, 0.4);
        height: 3px;
        width: 50%;
    }*/
    .blockquote .quoted {
        padding: 0 1rem;
        font-style: italic;
        text-align: right;
        line-height: 1.2;
    }

    #services-highlight .intro,
    #services-highlight .outro {
        font-size: large;
    }
    #services-highlight .outro {
        padding: 0 0 .5rem 0;
    }
    #services-highlight .outro a {
        font-weight: 600;
    }
    .highlight-boxes {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    .highlight-boxes .highlight-box {
        display: flex;
        padding-bottom: 1rem;
    }
    .highlight-boxes .panel {
        width: 100%;
    }
    .highlight-boxes .panel-heading {
        padding: 5px 15px 2px 15px;
    }
    .highlight-boxes .panel-heading hr {
        border: 0;
        margin: .75rem 0 .75rem 0;
        border-bottom: 1px solid #dccaa0;
        height: 1px;
    }
    .highlight-boxes .panel-heading h4 {
        line-height: 1.3;
        /*min-height: 55px;*/
        padding: 0;
        margin-bottom: 0;
    }
    .highlight-boxes .panel ul {
        padding-left: 2rem;
    }
    .highlight-boxes .panel li {
        padding-bottom: .5rem;
    }
    .highlight-boxes .panel-body {
        padding: 0 15px 0px 15px;
    }
    .highlight-boxes .panel-body a {
        font-weight: 600;
    }
    #services-highlight .librarian-profile {
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
        max-height: 120px;
        border: 3px solid #000;
        margin: 0 auto;
    }
    #services-highlight .bottom-text {
        margin: 1rem 0 0 0;
        padding-top: .5rem;
        border-top: 1px dashed #eee;
    }
    @media (max-width: 1199px) {
        .highlight-boxes .panel-heading h4 {
            /*min-height: 4.5rem;*/
        }
        .librarian-profile {
            max-height: 100px;
        }
    }
    @media (max-width: 991px) {
        .highlight-boxes .panel-heading h4 {
            min-height: auto;
        }
        .blockquote .quote {
            font-size: 18px;
            line-height: 1.1;
        }
        .blockquote .quote::before {
            border:0;
            height: 0;
        }
    }
    @media (max-width: 767px) {
        .blockquote {
            display: none;
        }
    }
    @media (max-width: 540px) {
        .highlight-boxes .panel-heading h4 {
            min-height: auto;
        }
    }
</style>