<!-- SOCIAL MEDIA HIGHLIGHT START -->
<h2 class="sr-only sr-only-focusable">Special collections</h2>
<div class="leftBottom" id="socialmedia-highlight" data-tag="ga-tag">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                <div class="content">
                    
                    <div class="content-body">
                        <div class="highlight-title"><h2>Social Media Highlight</h2></div>

                        <div class="label">Title</div>
                        <p><a href="https://johnjburnslibrary.wordpress.com/2019/11/18/whats-in-a-game-some-examples-of-board-games-at-burns-library/">What’s in a Game? Some Examples of Board Games at Burns Library</a></p>
                    
                        <div class="label">Image Caption</div>
                        <p>Detail of gameboard with portrait of Queen Victoria, <a href="https://bc-primo.hosted.exlibrisgroup.com/permalink/f/l6ucgu/ALMA-BC21338002760001021">Historical Pastime: A New Game of the History of England</a></p>
                        
                        <div class="label">Source</div>
                        <p>From the <a href="https://johnjburnslibrary.wordpress.com/">John J. Burns Library's Blog</a></p>

                        <p class="connect-button"><a href="https://libguides.bc.edu/stayconnected/"><span class="btn btn-default btn-blue">Connect with us over social media</span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SOCIAL MEDIA HIGHLIGHT END -->

<style>
    #socialmedia-highlight {
        font-size: 16px;
        background: url(https://libapps.s3.amazonaws.com/accounts/3908/images/burns-blog-historicalpasttime-1200x519.png) no-repeat 00% 80% #101010;
        width: 100%;
        min-height: 150px;
        height: 600px;
        background-size: auto auto;
        color: #fff;
        padding: 55px 0;
        z-index: 2;
        background-size: cover;
    }
    #socialmedia-highlight .highlight-title h2 {
        margin: 0 0 3rem 0;
        color: #fff;
        display: inline-block;
        
    }
    #socialmedia-highlight.leftBottom .container-fluid .pull-right .content, 
    #socialmedia-highlight.leftTop .container-fluid .pull-right .content, 
    #socialmedia-highlight.rightTop .container-fluid .pull-right .content, 
    #socialmedia-highlight.rightBottom .container-fluid .pull-right .content {
        color: #fff;
        display: table;
        padding: 20px 30px;
        max-width: 50%;
        background: rgba(0, 0, 0, 0.875);
    }
    #socialmedia-highlight .content-body {
        margin-top: 2rem;
        line-height: 1.6;
    }
    #socialmedia-highlight .content-body .label {
        padding: 2rem 0 0 0;
        font-size: 100%;
        color: #aaa;
    }
    #socialmedia-highlight .content-body a {
        text-decoration: underline;
        font-weight: 600;
    }
    #socialmedia-highlight .connect-button {
        margin-top: 3rem;
    }
    @media (max-width: 1023px) {
        #socialmedia-highlight {
            background-position: 50% 50%;
            height: 519px;
            background-size:auto;
        }
    }
    @media (max-width: 767px) {
        #socialmedia-highlight {
            background-position: 64% 0%;
            height: 800px;
            background-size:auto;
        }
    }
</style>