<!-- QUICK LINKS -->
<div class="ql" id="quick-links" data-tag="ga-tag">
    
    <h2>Quick Links</h2>

    <ul class="list-group" id="quicklinks" data-tag="ga-tag">
        <li><a href="https://libguides.bc.edu/az.php" class="list-group-item">
            <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>Databases</a>
        </li>
        <li><a href="https://libguides.bc.edu/ask-a-librarian" class="list-group-item">
            <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>Ask a Librarian</a>
        </li>
        <li><a href="https://library.bc.edu/courses" class="list-group-item">
            <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>Course Reserves</a>
        </li>
        <li><a href="https://illiad.bc.edu/illiad/bxm/logon.html" class="list-group-item">
            <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>Interlibrary Loan</a>
        </li>
        <li><a href="https://bc.on.worldcat.org/" class="list-group-item">
            <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>WorldCat</a>
        </li>
        <li><a href="https://libcal.bc.edu/booking/oneill" class="list-group-item">
            <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>Study Rooms</a>
        </li>
        <li><a href="https://libguides.bc.edu/citation/citation-tools" class="list-group-item">
            <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>Citing sources</a>
        </li>
        <li><a href="https://libguides.bc.edu/research_guides" class="list-group-item">
            <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>Research Guides</a>
        </li>
        <li><a href="https://libguides.bc.edu/subjects/course-guides" class="list-group-item">
            <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>Course Guides</a>
        </li>
     </ul>
</div>