<div class="" id="at-a-glance" data-tag="ga-tag">
    <h2>At A Glance</h2>
    <p class="intro">New temporary library policies</p>
    <div class="alert alert-success" role="alert">
        <i class="fa fa-print"></i> More locations to print
    </div>
    <div class="alert alert-info" role="alert">
        <i class="fa fa-cutlery" id="container"><i class="fa fa-ban" id="nested"></i></i> No eating at any library
    </div>
    <div class="alert alert-success" role="alert">
        <i class="fa fa-clock-o"></i> Reduced seating &amp; hours
    </div>
    <div class="alert alert-info" role="alert">
        <i class="fa fa-check-circle"></i> Masks required inside at all times
    </div>
    <!--div>Read all our policy updates on our <a href="https://libguides.bc.edu/servicesupdate">BC Libraries Updates</a> page.</div-->
</div>