<div class="container-fluid" id="services-highlight-container">
    <div class="container">
        <div class="row">
            {{ partial "homepage/top-column-services-highlight.html" . }}
        </div>
    </div>
</div>

<div class="container-fluid" id="top-columns">
    <div class="container">
        <div class="column-items">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6" id="quicklink-container">
                    {{ partial "homepage/top-column-quicklinks.html" . }}
                </div>

                <div class="col-md-9 col-sm-8 col-xs-6" id="at-a-glance-container">
                    {{ partial "homepage/top-column-at-a-glance.html" . }}
                </div>

                <div class="col-md-9 col-sm-12 col-xs-12" id="featured-tip-container">
                    {{ partial "homepage/top-column-featured-tip/landing.html" . }}
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12" id="aal-home-container">
                    {{ partial "homepage/top-column-ask-a-librarian.html" . }}
                </div>
            </div>
        </div>      
    </div>
</div>