<div class="col-md-12 col-xs-12 ql" id="staff-interest" data-tag="ga-tag">
    
    <h2>Scenes from the Library</h2>

    <div class="">
        <div class="blockquote">
            <div class="quote">Hope is being able to see that there is light despite all of the darkness.</div>
            <div class="quoted">- Desmond Tutu</div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <img src="https://libapps.s3.amazonaws.com/accounts/3908/images/bostoncollege_libraries.jpg"/>
        </div>
        <div class="panel-footer">Some caption</div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <img src="https://libapps.s3.amazonaws.com/accounts/3908/images/bapst-facilities.png"/>
        </div>
        <div class="panel-footer">Some caption</div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <img src="https://libapps.s3.amazonaws.com/accounts/3908/images/blank.jpg"/>
        </div>
        <div class="panel-footer">Some caption</div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <img src="https://libapps.s3.amazonaws.com/accounts/3908/images/blank.jpg"/>
        </div>
        <div class="panel-footer">Some caption</div>
    </div>
</div>

<style>
    #staff-interest {
        background-color: #fff;
        position: relative;
        padding-bottom: 1rem;
    }
    #staff-interest .blockquote {
        margin: 2rem 0;
    }
    #staff-interest img {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }
    #staff-interest .panel {
        margin: 2rem 0 1rem 0;
    }
    #staff-interest .panel-body {
        padding: .5rem;
    }
    #staff-interest .panel-footer {
        padding: .5rem;
        font-style: italic;
        text-align: right;
    }
</style>