<div class="" id="at-a-glance" data-tag="ga-tag">
    <h2>Temporary library policies</h2>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <a href="https://libguides.bc.edu/servicesupdate/visiting#s-lg-box-wrapper-29305614" class="at-a-glance-alert">
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-building-o" id="container"></i> Visiting the libraries
                </div>
            </a>
        </div>

        <div class="col-md-6 col-sm-12">
            <a href="https://libguides.bc.edu/servicesupdate/visiting#s-lg-box-wrapper-29305618" class="at-a-glance-alert">
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-print"></i> More locations to print
                </div>
            </a>
        </div>

        <div class="col-md-6 col-sm-12">
            <a href="https://libguides.bc.edu/servicesupdate/visiting#s-lg-box-wrapper-29305617" class="at-a-glance-alert">
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-cutlery" id="container"><i class="fa fa-ban" id="nested"></i></i> No eating at any library
                </div>
            </a>
        </div>

        <div class="col-md-6 col-sm-12">
            <a href="https://libguides.bc.edu/servicesupdate/visiting#s-lg-box-wrapper-29305612" class="at-a-glance-alert">
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-clock-o"></i> Study Spaces
                </div>
            </a>
        </div>

        <div class="col-md-6 col-sm-12">
            <a href="https://libguides.bc.edu/servicesupdate/visiting#s-lg-box-wrapper-29305616" class="at-a-glance-alert">
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-check-circle"></i> Face coverings required inside at all times
                </div>
            </a>
        </div>
    </div>
</div>