<div class="col-md-12 welcome-back-message">
    
    {{/*<div class="welcome-back-video" id="welcome-back-video" data-tag="ga-tag">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/wpF2nq1gGyg"></iframe>
        </div>
    </div>*/}}

    <img class="welcome-back-message-hero" src="https://library.bc.edu/images/bc-seal2.jpg" alt="stain glass windows from Burns library" />

    <p>Welcome Back! We are ready to provide a full suite of services (with some modifications, of course). 
        <a href="https://libguides.bc.edu/ask-a-librarian/subject-librarians">Research consultations</a>, <a href="https://libguides.bc.edu/library-instruction">instruction classes</a>, and <a href="https://libguides.bc.edu/ask-a-librarian">reference services</a> will be online.  
        Nearly all <a href="https://library.bc.edu/courses">Course Reserves</a> will be online.  
        To meet CDC and Massachusetts guidelines, there is reduced seating, <a href="https://libguides.bc.edu/hours">hours</a>, and public technology. 
        Because masks should remain on, all libraries will have a "no food" policy, although most will still allow drinks. 
        Check it out &mdash; the 5th floor study area in O'Neill was enlarged to provide more seating overlooking downtown Boston!</p>
    <p>For the latest information, consult the BC Libraries' homepage and the <a href="https://libguides.bc.edu/servicesupdate">BC Libraries Updates page</a>.</p>
</div>