 <!-- SERVICES-HIGHLIGHT START -->
 <div class="container-fluid" id="services-highlight" data-tag="ga-tag">
    <div class="">
        <div class="row header-row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Libraries Update</h2>
                <p class="intro">Learn about our vast online library resources, and updates to library services.</p>
            </div>
        </div>
        
        <div class="highlight-boxes row">
            <div class="col-md-12 col-sm-12 col-xs-12 highlight-box">
                <div class="panel">
                    <div class="panel-heading">
                        <h4>Research Support</h4>
                        <hr class="border">
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Use <a href="https://libguides.bc.edu/research_guides">Research guides</a> to find resources in your subject</li>
                            <li>Book a <a href="https://libcal.bc.edu/booking/oneill">study room</a></li>
                            <li><a href="https://libraryh3lp.com/chat/cs-bostoncoll@chat.libraryh3lp.com?skin=29500&title=Boston+College&sounds=1">Chat</a>, <a href="https://libguides.bc.edu/ask-a-librarian/email-us">email</a> or schedule an <a href="https://libguides.bc.edu/ask-a-librarian/subject-librarians">online appointment</a> for research help</li>
                            <li>How to connect <a href="https://libguides.bc.edu/remote">from off-campus</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 highlight-box">
                <div class="panel">
                    <div class="panel-heading">
                        <h4>For Faculty and Instructors</h4>
                        <hr class="border">
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="https://libguides.bc.edu/servicesupdate/reserves">Submit material for your Fall Course</a></li>
                            <li>Request an <a href="https://libguides.bc.edu/library-instruction/schedule">Instruction session</a></li>
                            <li>See our <a href="https://libguides.bc.edu/onlinecoursesupport">guide for Online Instructors</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <p class="outro">Read more about all the online services we provide on our <a href="https://libguides.bc.edu/servicesupdate">BC Libraries Update</a> page.</p>
    </div>
</div>
<!-- SERVICES-HIGHLIGHT END -->