<div class="container-fluid" id="top-columns">
    <div class="container">
        <div class="row column-items">
            <div class="col-md-3 column-item">
                <div class="column-combo">
                    {{ partial "homepage/top-column-quicklinks.html" . }}

                    {{ partial "homepage/top-column-ask-a-librarian.html" . }}
                </div>
            </div>
            <div class="col-md-5 column-item" id="services-highlight-container">
                {{ partial "homepage/top-column-services-highlight.html" . }}
            </div>
            <div class="col-md-4 column-item">
                {{ partial "homepage/top-column-staff-interest.html" . }}
            </div>
        </div>
    </div>
</div>