<!-- QUICK LINKS -->
<div class="column-sub-item" id="aal-home" data-tag="ga-tag">
    
    <h2>Ask A Librarian</h2>

    <div class="aal-box aal-box-small chat-box panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#" id="chat-icon-link" class="aal-icon"><i class="fa fa-comment fa-fw" aria-hidden="true"></i><div class="accessibility-text">Chat With Us</div></a>
                </div>
                
                <div class="media-body">
                    <h3 class="media-heading">Chat with us</h3>
                    
                    <p>Ask a question 24/7</p>
                    
                    <div class="chat-link">
                        <div class="libraryh3lp" jid="cs-bostoncoll@chat.libraryh3lp.com" style="display: none;"><a href="#" onclick="window.open('https://libraryh3lp.com/chat/cs-bostoncoll@chat.libraryh3lp.com?skin=29500&amp;title=Boston+College&amp;sounds=1', 'chat', 'resizable=1,width=320,height=300'); return false;" style="cursor: pointer;">Chat now <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    
                        <div class="libraryh3lp" jid="ajcu-consortium@chat.libraryh3lp.com" style="display: none;"><a href="#" onclick="window.open('https://libraryh3lp.com/chat/ajcu-consortium@chat.libraryh3lp.com?skin=29500&amp;title=Boston+College/AJCU+Librarians&amp;profile=cs-bostoncoll',
                                        'chat', 'resizable=1,width=320,height=300'); return false;" style="cursor: pointer;">Chat now <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                        
                        <div class="libraryh3lp" jid="ajcu-chatstaff@chat.libraryh3lp.com" style="display: none;"><a href="#" onclick="window.open('https://libraryh3lp.com/chat/ajcu-chatstaff@chat.libraryh3lp.com?skin=29500&amp;title=ChatStaff+Librarians&amp;profile=cs-bostoncoll',
                                        'chat', 'resizable=1,width=320,height=300'); return false;" style="cursor: pointer;">Chat now <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                        
                        <div class="libraryh3lp" style="display: none;">Our chat service is offline.<br />
                        You may get an <a href="http://answers.bc.edu/q.php">answer by email</a>.</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="aal-box aal-box-small panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="https://libguides.bc.edu/ask-a-librarian/email-us" id="email-icon-link" class="aal-icon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i><div class="accessibility-text">Email Us</div></a>
                </div>
                
                <div class="media-body">
                    <h3 class="media-heading">Email us</h3>
                    
                    <p>Send us a question</p>
                    
                    <p><a href="https://libguides.bc.edu/ask-a-librarian/email-us">Email us <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="aal-box aal-box-small panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="https://libguides.bc.edu/ask-a-librarian/subject-librarians" id="meet-icon-link" class="aal-icon"><i class="fa fa-user fa-fw" aria-hidden="true"></i><div class="accessibility-text">Meet With Us</div></a>
                </div>
                
                <div class="media-body">
                    <h3 class="media-heading">Meet with us</h3>
                    
                    <p>Request an online appointment with a subject librarian.</p>
                </div>
            </div>
            <p><a href="https://libguides.bc.edu/ask-a-librarian/subject-librarians">Meet with a librarian <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
        </div>
    </div>
</div>