<div class="container-fluid welcome-back-message welcome-back-message-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome back students!</h2>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="top-columns">
    <div class="container">
        <div class="row column-items">
            <div class="col-md-3 col-sm-12">
                <div class="row">
                    <div class="col-md-12 col-sm-6" id="at-a-glance-container">
                        <div class="" id="at-a-glance" data-tag="ga-tag">
                            <h2>At A Glance</h2>
                            <p class="intro">New temporary library policies</p>
                            <div class="alert alert-success" role="alert">
                                <i class="fa fa-print"></i> More locations to print
                            </div>
                            <div class="alert alert-info" role="alert">
                                <i class="fa fa-cutlery" id="container"><i class="fa fa-ban" id="nested"></i></i> No eating at any library
                            </div>
                            <div class="alert alert-success" role="alert">
                                <i class="fa fa-clock-o"></i> Reduced seating &amp; hours
                            </div>
                            <div class="alert alert-info" role="alert">
                                <i class="fa fa-check-circle"></i> Masks required inside at all times
                            </div>
                            <!--div>Read all our policy updates on our <a href="https://libguides.bc.edu/servicesupdate">BC Libraries Updates</a> page.</div-->
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6" id="quicklink-container">
                        {{ partial "homepage/top-column-quicklinks.html" . }}
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 welcome-back-message-container">
                <div class="col-md-12 welcome-back-message">
                    
                    <div class="welcome-back-video" id="welcome-back-video" data-tag="ga-tag">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/wpF2nq1gGyg"></iframe>
                        </div>
                    </div>

                    <p>Welcome Back! We are ready to provide a full suite of services (<em>with some modifications, of course</em>). 
                        <a href="https://libguides.bc.edu/ask-a-librarian/subject-librarians">Research consultations</a>, <a href="https://libguides.bc.edu/library-instruction">instruction classes</a>, and <a href="https://libguides.bc.edu/ask-a-librarian">reference services</a> will be online.  
                        Nearly all <a href="https://library.bc.edu/courses">Course Reserves</a> will be online.  
                        To meet CDC and Massachusetts guidelines, there is reduced seating, <a href="https://libguides.bc.edu/hours">hours</a>, and public technology. 
                        Because masks should remain on, all libraries will have a "no food" policy, although most will still allow drinks. 
                        <em>Check it out</em> &mdash; the 5th floor study area in O'Neill was enlarged to provide more seating overlooking downtown Boston!</p>
                    <p>For the latest information, consult the BC Libraries' homepage and the <a href="https://libguides.bc.edu/servicesupdate">BC Libraries Updates page</a>.</p>
                </div>
            </div>
        </div>
        <div class="row column-items">
            <div class="col-md-3 col-sm-12 column-item">
                <div id="aal-home-container">
                    {{ partial "homepage/top-column-ask-a-librarian.html" . }}
                </div>
            </div>
            <div class="col-md-9 col-sm-12 column-item">
                <div id="services-highlight-container">
                    {{ partial "homepage/top-column-services-highlight.html" . }}
                </div>
            </div>
        </div>
    </div>
</div>