 <!-- SERVICES-HIGHLIGHT START -->
 <div class="container-fluid" id="services-highlight" data-tag="ga-tag">
    <div class="">
        <div class="row header-row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Libraries Services Update</h2>
                <p class="intro">Our buildings are closed, but our remote services remain operational. Learn about our vast online library resources, and updates to library policies.</p>
            </div>
        </div>
        
        <div class="highlight-boxes row">
            <div class="col-md-12 col-sm-12 col-xs-12 highlight-box">
                <div class="panel">
                    <div class="panel-heading">
                        <h4><a href="https://libguides.bc.edu/servicesupdate/online-library-resources">Online Library Resources &amp; Research Help</a></h4>
                        <hr class="border">
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Find <a href="https://library.bc.edu/catalog">ebooks, journals and streaming media</a></li>
                            <li>Use <a href="https://libguides.bc.edu/research_guides">Research guides</a> for the best resources in your subject</li>
                            <li><a href="https://libraryh3lp.com/chat/cs-bostoncoll@chat.libraryh3lp.com?skin=29500&title=Boston+College&sounds=1">Chat</a>, <a href="https://libguides.bc.edu/ask-a-librarian/email-us">email</a> or schedule an <a href="https://libguides.bc.edu/ask-a-librarian/subject-librarians">online appointment</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 highlight-box">
                <div class="panel">
                    <div class="panel-heading">
                        <h4><a href="https://libguides.bc.edu/servicesupdate/renewing-materials">Circulation, ILL &amp; Reserves</a></h4>
                        <hr class="border">
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="https://libguides.bc.edu/servicesupdate/renewing-materials">Renew or return library materials while the Libraries are closed</a></li>
                            <li><a href="https://libguides.bc.edu/servicesupdate/ill-requests">Interlibrary Loan &amp; book chapter request</a></li>
                            <li>Request <a href="https://libguides.bc.edu/servicesupdate/reserves">digitization of physical items for Course Reserves</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 highlight-box">
                <div class="panel">
                    <div class="panel-heading">
                        <h4>Additional Resources</h4>
                        <hr class="border">
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>List of <a href="https://libguides.bc.edu/COVID-19addedaccess">Enhanced Access sites during COVID-19</a></li>
                            <li><a href="https://libguides.bc.edu/remote">Connecting from off-campus</a></li>
                            <li>Search our <a href="https://answers.bc.edu/">FAQ</a> answers or check out our <a href="https://libguides.bc.edu/subjects/general">How To's</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <p class="outro">Read more about all the online services we provide on our <a href="https://libguides.bc.edu/servicesupdate">BC Libraries Services Update</a> page.</p>
    </div>
</div>
<!-- SERVICES-HIGHLIGHT END -->