h3.bclib-header-beta-logo {
    position: absolute;
    right: 5px;
    top: -15px;
    z-index: 10002;
    background-color: #fde073;
    background-image:linear-gradient(to bottom,#fde073,#e3c967);
    color: #322c17;
    padding: 0.5em;
    border: 1px solid #322c17;
    border-radius: 50px/25px;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    transform: rotate(-10deg);
    letter-spacing: .15rem;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05),inset 0 1px 0 0 rgba(255,255,255,.45),inset 0 -1px 0 0 rgba(255,255,255,.15),0 3px 6px rgba(50,44,23,.16),0 3px 6px rgba(50,44,23,.23);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    font-weight: 600;
}

#index.beta {
    background: url(/img/graph-paper.svg) repeat;
}

#index.beta #build-header {
    background: white;
}

#index.beta #main-body > .container  {
    display: inherit;
}

#index.beta #featured-post {
background-color: #fff;
background-image: none;
border-radius: 4px;
box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
margin-bottom: 2em;
padding: 2em;
}

.beta #header {
    background: none;
    height: 400px;
}

#search-panel .search-box-container {
    padding-bottom: 0.5em;
}

#search-tips {
    padding-top: 0;
    padding-bottom: 0;
}

#search-tips p {
    color: #fff;
    font-style: italic;
    font-size: 16px;
}

#search-tips p a {
    color: #fff;
    text-decoration: dashed underline;
}

#search-tips p a:hover {
    text-decoration: underline;
}

#search-links .col-sm-offset-1 {
    margin-left: 0;
}

#index.beta .tell-us {
    text-align: right;
    font-size: 18px;
}

#index.beta #main-body .newsitem {
    padding: 0;
}

#index.beta #main-body #news h2 {
    margin: 15px;
}

#index.beta #main-body #news h2 a,
#index.beta .tell-us a {
    background-color: rgba(221,221,221,0.7);
    padding: 1rem;
    border-radius: 4px;
}
#index.beta #main-body .newstext, #index.beta #main-body #news .news-content img {
    border: inherit;
}

#index.beta #main-body .newstext,
#index.beta .container .article_page #main-heading {
    position: inherit;
    line-height: 1.2;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
    background-color: #fde073;
    height: 280px;
    margin: 20px 0 20px 0;
    padding: 0;
    width: 280px;
    overflow: hidden;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}

#index.beta #main-body .newstext .newslink {
    text-align: left;
    font-family: 'Kalam', cursive;
    font-weight: 400;
    font-size: 30px;
    color: rgba(0,0,0,0.9);
    padding: 1em;
    margin: 0;
}

#index.beta .news-container, #index.beta .bento-results-page {
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
    margin-bottom: 2em;
    padding-top: 50px;
    padding-bottom: 2rem;
}

#index.beta .container .article_page #main-heading {
    font-family: 'Kalam', cursive;
    font-weight: 400;
    font-size: 28px;
    width: 300px;
    float: right;
    padding: 1em;
    margin: -2em -2em 0 1.5em;
}

/* adjust title sticky placement for a single article page */
#index.beta .container .article_page.single #main-heading {
    padding: 1em;
    margin: .25rem -2rem 2rem 1.5rem;
}

#index.beta .navbar-header {
    width: 100%;
}

#index.beta .navbar-header .library-home-link {
    padding: 8px 16px;
    margin: 6px;
    display: block;
    font-size: 18px;
    line-height: 1;
    background-color: #204375;
    color: #fff;
    border-radius: 4px;
    float: right;
}

@media ( max-width: 991px ) {
    #index.beta .container .article_page #main-heading,
    #index.beta .container .article_page.single #main-heading {
        width: 240px;
        height: 240px;
        font-size: 24px;
    }
}

@media ( max-width: 768px ) {
    #index.beta .container .article_page #main-heading,
    #index.beta .container .article_page.single #main-heading {
        width: 200px;
        height: 200px;
        font-size: 22px;
        padding: 1.5rem 1rem 1rem 1rem;
        margin: .25em 1em 2rem .5em;
    }
}

@media ( max-width: 400px ) {
    #index.beta .container .article_page #main-heading {
        float: none;
    }
}

#index.beta .container .article_page .article_content h4,
#index.beta .container .article_page .article_content h5 {
    font-weight: bold;
}

#index.beta .container .article_page .article_content img {
    width: 40%;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
    margin: 10px 10px 20px 10px;
    border: 2px solid rgba(0,0,0,0.3);
}

#index.beta .container .article_page .article_content img:only-child {
    width: 80%;
}
