h3.bclib-header-beta-logo {
    position: absolute;
    left: 75%;
    top: -10px;
    z-index: 10002;
    background-color: #fde073;
    background-image:linear-gradient(to bottom,#fde073,#e3c967);
    color: #322c17;
    padding: 0.5em;
    border: 1px solid #322c17;
    border-radius: 50px/25px;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    transform: rotate(-10deg);
    letter-spacing: .15rem;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05),inset 0 1px 0 0 rgba(255,255,255,.45),inset 0 -1px 0 0 rgba(255,255,255,.15),0 3px 6px rgba(50,44,23,.16),0 3px 6px rgba(50,44,23,.23);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    font-weight: 600;
}

#index.beta {
    background: url(/img/graph-paper.svg) repeat;
}

#index.beta #build-header {
    background: white;
}

.beta #header {
    background: none;
    height: 400px;
}
#search-panel .search-box-container {
    padding-bottom: 0.5em;
}
#search-tips {
    padding-top: 0;
    padding-bottom: 0;
}

#search-tips p {
    color: #fff;
    font-style: italic;
}

#search-tips p a {
    color: #fff;
    text-decoration: dashed underline;
}

#search-tips p a:hover {
    text-decoration: underline;
}

#search-links .col-sm-offset-1 {
    margin-left: 0;
}

#index.beta #main-body .newsitem {
    padding: 0;
}

#index.beta #main-body .newstext, #index.beta #main-body #news .news-content img {
    border: inherit;
}

#index.beta #main-body .newstext,
#index.beta .container .article_page #main-heading {
    font-family: 'Kalam', cursive;
    font-weight: 400;
    position: inherit;
    padding: 1em;
    color: rgba(0,0,0,0.9);
    font-size: 200%;
    line-height: 1.2;
    text-align: left;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
    background-color: #fde073;
    height: 280px;
    margin-bottom: 20px;
    width: 80%;
    overflow: hidden;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}

#index.beta .news-container, #index.beta .bento-results-page {
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
    margin-bottom: 2em;
    padding: 2em;
}


#index.beta .container .article_page #main-heading {
    font-family: 'Kalam', cursive;
    font-weight: 400;
    font-size: 28px;
    width: 300px;
    float: right;
    margin-left: 1.5em;
}

#index.beta .container .article_page .article_content h4,
#index.beta .container .article_page .article_content h5 {
    font-weight: bold;
}

#index.beta .container .article_page .article_content img {
    width: 40%;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
    margin: 10px 10px 20px 10px;
    border: 2px solid rgba(0,0,0,0.3);
}

#index.beta .container .article_page .article_content img:only-child {
    width: 80%;
}
