<div class="aal-box-wrapper aal-box-wrapper-chat">
    <!-- cs-bostoncoll@chat.libraryh3lp.com -->
    <div class="libraryh3lp" jid="cs-bostoncoll@chat.libraryh3lp.com" style="display: none;">
        <a href="#" class="{{ .item_id }} aal-panel-wrapper" 
            onclick="window.open('https://libraryh3lp.com/chat/cs-bostoncoll@chat.libraryh3lp.com?skin=29500&amp;title=Boston+College&amp;sounds=1', 'chat', 'resizable=1,width=320,height=300'); return false;"
            style="cursor: pointer;">
            <div class="panel panel-default aal-box chat-box">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <div class="aal-icon chat-icon-link"><i class="fa fa-comment fa-fw" aria-hidden="true"></i></div>
                            <div class="accessibility-text">Chat With Us</div>
                        </div>
                        <div class="media-right">
                            <div class="h4style">Chat with us</div>
                            <p class="media-description">Ask a question 24/7 and a librarian from BC or another institution will help you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- ajcu-consortium@chat.libraryh3lp.com -->
    <div class="libraryh3lp" jid="ajcu-consortium@chat.libraryh3lp.com" style="display: none;">
        <a href="#" class="{{ .item_id }} aal-panel-wrapper" 
            onclick="window.open('https://libraryh3lp.com/chat/ajcu-consortium@chat.libraryh3lp.com?skin=29500&amp;title=Boston+College/AJCU+Librarians&amp;profile=cs-bostoncoll', 'chat', 'resizable=1,width=320,height=300'); return false;"
            style="cursor: pointer;">
            <div class="panel panel-default aal-box chat-box">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <div class="aal-icon chat-icon-link"><i class="fa fa-comment fa-fw" aria-hidden="true"></i></div>
                            <div class="accessibility-text">Chat With Us</div>
                        </div>
                        <div class="media-right">
                            <div class="h4style">Chat with us</div>
                            <p class="media-description">Ask a question 24/7 and a librarian from BC or another institution will help you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- ajcu-chatstaff@chat.libraryh3lp.com -->
    <div class="libraryh3lp" jid="ajcu-chatstaff@chat.libraryh3lp.com" style="display: none;">
        <a href="#" class="{{ .item_id }} aal-panel-wrapper" 
            onclick="window.open('https://libraryh3lp.com/chat/ajcu-chatstaff@chat.libraryh3lp.com?skin=29500&amp;title=ChatStaff+Librarians&amp;profile=cs-bostoncoll', 'chat', 'resizable=1,width=320,height=300'); return false;"
            style="cursor: pointer;">
            <div class="panel panel-default aal-box chat-box">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <div class="aal-icon chat-icon-link"><i class="fa fa-comment fa-fw" aria-hidden="true"></i></div>
                            <div class="accessibility-text">Chat With Us</div>
                        </div>
                        <div class="media-right">
                            <div class="h4style">Chat with us</div>
                            <p class="media-description">Ask a question 24/7 and a librarian from BC or another institution will help you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
