<div class="aal-box-wrapper aal-box-wrapper-email">
    <a href="https://libguides.bc.edu/ask-a-librarian/email-us" class="aal-panel-wrapper">
        <div class="panel panel-default aal-box">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <div class="aal-icon email-icon-link"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
                            <div class="accessibility-text">Email Us</div>
                        </div>
                    </div>
                    <div class="media-right">
                        <div class="h4style">Email us</div>
                        <p>Send us a question and we'll get back to you within a day.</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
