<div class="aal-box-wrapper aal-box-wrapper-meet">
    <a href="https://libguides.bc.edu/ask-a-librarian/subject-librarians" class="aal-panel-wrapper">
        <div class="panel panel-default aal-box">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <div class="aal-icon meet-icon-link"><i class="fa fa-user fa-fw" aria-hidden="true"></i>
                            <div class="accessibility-text">Meet With Us</div>
                        </div>
                    </div>
                    <div class="media-right">
                        <div class="h4style">Meet with us</div>
                        <p>Request an appointment in person or online with a subject librarian.</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
