<div class="aal-box-wrapper aal-box-wrapper-visit">
    <a href="https://libguides.bc.edu/ask-a-librarian/locations" class="aal-panel-wrapper">
        <div class="panel panel-default aal-box">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <div class="aal-icon visit-icon-link" id="visit-icon-link"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
                            <div class="accessibility-text">Visit Us</div>
                        </div>
                    </div>
                    <div class="media-right">
                        <div class="h4style">Visit us</div>
                        <p>Visit our library locations.</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
