/* News */

#db-rg-hours {
    /*border-top: solid 9px #dccaa0;*/
    padding-top: 0rem;
    padding-bottom: 2rem;
}
#news {
    /*margin: 0;*/
}
#news .news-content-row {
    display: flex;
    flex-wrap: wrap;
}
/* Safari doesn't play well with floated elements and flex display */
#news .news-content-row:before,
#news .news-content-row:after {
    display:none!important;
}
#news .news-content {
    display: flex; 
}
/* Safari doesn't play well with floated elements and flex display */
#news .news-content:before,
#news .news-content:after {
    display:none!important;
}
#news .news-content a {
    display: block;
    color: inherit;
}
#news .news-content a:hover,
#news .news-content a:focus {
    text-decoration: none;
    color: inherit;
}
#news .news-content .news-section-text {
    padding: 0 .25rem .25rem .25rem;
    line-height: 1.6;
}
#news .news-content .news-section-text .news-section-date {
    font-weight: 600;
    margin: .5rem 0 .25rem 0;
    color: #a25729;
}
#news .news-content .news-section-text .news-section-title {
    font-weight: 400;
    line-height: 1.5;
    margin: .25rem 0;
}
#news .news-content.news-content-large .news-section-text .news-section-title {
    font-size: 2rem;
}

#news .news-content a:hover .news-section-title,
#news .news-content a:focus .news-section-title {
    text-decoration: underline;
}

#news .news-content a:hover,
#news .news-content a:focus {
    opacity: .8;
} 

#news .news-content a:focus {
    outline: 1px solid blue;
    outline-offset: 0;
}
#news .news-content img {
    /*max-height: 100%;*/
    width: 100%;
}
#news .more-news {
    padding-top: 1rem;
    font-size: larger;
}

.row.ql-news {
    /*position: relative;
    display: block;
    height: auto;
    min-width: 375px;*/
}

#db-rg-hours.container {
    /*padding: 0;
    position: relative;*/
    display: flex;
}

.homepagerefresh #news .more-news{
    text-align: right;
}

.homepage h2,
.homepage h3 {
    font-weight: 200;
}

/* Quick Links */

.ql-news .ql h2 {
    text-align: center;
    border-bottom: 1px solid #fff;
}

.ql {
    height: 100%;
    /*background-color: #d7d7d7;*/
    padding-bottom:10px;
}

.ql .list-group {
    margin-bottom: 0px;
    list-style: none;
    font-size: 16px;
}

.ql .list-group-item {
    background-color: transparent;
    border: 0px solid #fff;
    padding: 10px 5px;
    border-radius: 0px;
    color: #000;
}

.ql .fa-lg {
    padding-right: 5px;
}

/* Ask A Librarian */

#aal-home-container h3 {
    font-size: 18px;
    font-weight: 400;
}

#aal-home-container .aal-box-small {
    font-size: 16px;
}

.aal-boxes-horizontal-layout .aal-boxes {
    display: flex;
    flex-wrap: wrap;
}

/* Safari doesn't play well with floated elements and flex display */
.aal-boxes-horizontal-layout .aal-boxes::before,
.aal-boxes-horizontal-layout .aal-boxes::after {
    display:none!important;
}

.aal-boxes-horizontal-layout .aal-box-item {
    display: flex;
}

/* Safari doesn't play well with floated elements and flex display */
.aal-boxes-horizontal-layout .aal-box-item::before,
.aal-boxes-horizontal-layout .aal-box-item::after {
    display:none!important;
}

/* At A Glance */

#at-a-glance-container {
    font-size: 16px;
    margin-bottom: 2rem;
}

#at-a-glance-container i {
    padding-right: .5rem;
    font-size: 22px;
}
#at-a-glance-container i#container {
    position: relative;
    padding-right: 1.5rem;
}

#at-a-glance-container i#nested {
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 200%;
    color: rgba(217, 83, 79, 0.7);
}

#at-a-glance .at-a-glance-alert {
    margin-bottom: 1rem;
    display: block;
}

#at-a-glance .alert {
    padding: 8px 2px 8px 12px;
    margin-bottom: 0;
}

/* Featured Tip */

#featured-tip-container {
    margin-top: 2rem;
}

#featured-tip-wrapper {
    font-size: 16px;
    background-color: #c5cfac;
    color: #000;
    padding: 2rem;
    border-radius: 8px;
}

#featured-tip-wrapper h2 {
    color:#000;
    padding: 0 0 1rem 0;
    margin: 0;
}

#featured-tip-wrapper-inner {
    /*background-color: #fff;*/
}

#featured-tip-wrapper .panel {
    color: #000;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid rgba(0,0,0,0.1);
}
#featured-tip-wrapper .panel-body {
    padding: .75rem;

}
#featured-tip-wrapper hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: none;
    border-bottom: 1px solid #ccc;
    line-height: 1px;
}

#featured-tip-wrapper .panel a {
    font-weight: 600;
}

#featured-tip-wrapper h3 {
    margin: 0 0 1rem 0;
    padding: 0;
}

#featured-tip-wrapper img {
    padding: 3px;
    width: 100%;
}

#featured-tip-wrapper .intro {
    margin: 0;
}

#featured-tip-wrapper .outro {
    text-align: right;
    margin: 0;
}

#featured-tip-wrapper .outro a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
    line-height: 1;
}

#featured-tip-wrapper .outro a:hover,
#featured-tip-wrapper .outro a:focus {
    color: blue;
    border-bottom: 1px solid blue;
}

#featured-tip-wrapper .outro strong {
    font-weight:600;
}

#featured-tip-wrapper .related-topics {
    font-size: smaller;
}

/* media queries */
@media (max-width: 991px) {
    .ql {
        height: auto;
        /*text-align: center;*/
        margin-bottom: 20px;
    }
    .ql li {
        display: block;
        font-size: larger;
    }
}
@media (min-width: 992px) {
    .ql .list-group {
        font-size: large;
    }
}
@media (max-width: 767px) {
    .featured-tip-element .panel img.featured-tip-image {
        display: none;
    }
}
@media (max-width: 450px) {
   #at-a-glance-container {
       width: 100%;
   }
}