/* News */

#db-rg-hours {
    /*border-top: solid 9px #dccaa0;*/
    padding-top: 0rem;
    padding-bottom: 2rem;
}
#news {
    /*margin: 0;*/
}
#news .news-content-row {
    display: flex;
    flex-wrap: wrap;
}
#news .news-content {
    display: flex; 
}
#news .news-content a {
    display: block;
    color: inherit;
}
#news .news-content a:hover,
#news .news-content a:focus {
    text-decoration: none;
    color: inherit;
}
#news .news-content .news-section-text {
    padding: 0 .25rem .25rem .25rem;
    line-height: 1.6;
}
#news .news-content .news-section-text .news-section-date {
    font-weight: 600;
    margin: .5rem 0 .25rem 0;
    color: #a25729;
}
#news .news-content .news-section-text .news-section-title {
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .25rem;
}
#news .news-content.news-content-large .news-section-text .news-section-title {
    font-size: 2rem;
}

#news .news-content a:hover .news-section-title,
#news .news-content a:focus .news-section-title {
    text-decoration: underline;
}

#news .news-content a:hover,
#news .news-content a:focus {
    opacity: .8;
} 

#news .news-content a:focus {
    outline: 1px solid blue;
    outline-offset: 0;
}
#news .news-content img {
    /*max-height: 100%;*/
    width: 100%;
}
#news .more-news {
    padding-top: 1rem;
    font-size: larger;
}

.row.ql-news {
    /*position: relative;
    display: block;
    height: auto;
    min-width: 375px;*/
}

#db-rg-hours.container {
    /*padding: 0;
    position: relative;*/
    display: flex;
}

.homepagerefresh #news .more-news{
    text-align: right;
}

/* Quick Links */

.ql-news .ql h2 {
    text-align: center;
    border-bottom: 1px solid #fff;
}

.ql {
    height: 100%;
    /*background-color: #d7d7d7;*/
    padding-bottom:10px;
}


.ql .list-group {
    margin-bottom: 0px;
    list-style: none;
    font-size: 16px;
}

.ql .list-group-item {
    background-color: transparent;
    border: 0px solid #fff;
    padding: 10px 5px;
    border-radius: 0px;
    color: #000;
}

.ql .fa-lg {
    padding-right: 5px;
}

/* Ask A Librarian */

#aal-home-container h3 {
    font-size: 18px;
}

#aal-home-container .aal-box-small {
    font-size: 16px;
}

/* Welcome back message */

#welcome-back-message-container-mobile {
    background-color: rgba(255,205,63,1);
}
.welcome-back-message,
.welcome-back-message-header {
    background-color: rgba(255,205,63,1);
    font-size: 22px;
    padding-bottom: 2rem;
    line-height: 2;
    height: 100%;
}

.welcome-back-message-header {
    padding-bottom: 0;
}

.welcome-back-message em {
    background-color: rgba(255,255,0, .5);
    font-style: normal;
}

.welcome-back-message a {
    border-bottom: 2px solid #000;
    font-weight: 600;
    color: #000;
}

.welcome-back-message a:focus,
.welcome-back-message a:hover {
    text-decoration: none;
    color: blue;
    border-bottom: 2px solid blue;
}

.welcome-back-message-header h2 {
    font-size: 56px;
    font-weight: 600;
    margin: .5rem 0;
}

.welcome-back-video {
    padding: 0rem 2rem 2rem 2rem;
}

/* At A Glance */

#at-a-glance-container {
    font-size: larger;
    margin-bottom: 2rem;
}

#at-a-glance-container i {
    padding-right: .5rem;
    font-size: 22px;
}
#at-a-glance-container i#container {
    position: relative;
    padding-right: .5rem;
}

#at-a-glance-container i#nested {
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 200%;
    color: rgba(217, 83, 79, 0.7);
}

#at-a-glance .alert {
    padding: 8px 2px 8px 12px;
    margin-bottom: .75rem;
}

#at-a-glance .alert:last-child {
    margin-bottom: 0;
}

/* media queries */
@media (max-width: 991px) {
    .ql {
        height: auto;
        /*text-align: center;*/
        margin-bottom: 20px;
    }
    .ql li {
        display: block;
        font-size: larger;
    }
    .welcome-back-video {
        padding: 0;
    }
    #welcome-back-message-container-full {
        display: none;
    }
}
@media (min-width: 992px) {
    #welcome-back-message-container-mobile {
        display: none;
    }
    .ql .list-group {
        font-size: large;
    }
}