/* NEWS ROW STUFF FROM SUMMER 2019 */

/* news */

#db-rg-hours {
    /*border-top: solid 9px #dccaa0;*/
    padding-top: 0rem;
    padding-bottom: 2rem;
}
#news {
    /*margin: 0;*/
}
#news .news-content-row {
    display: flex;
    flex-wrap: wrap;
}
#news .news-content {
    display: flex; 
}
#news .news-content a {
    display: block;
    color: inherit;
}
#news .news-content a:hover,
#news .news-content a:focus {
    text-decoration: none;
    color: inherit;
}
#news .news-content .news-section-text {
    padding: 0 .25rem .25rem .25rem;
    line-height: 1.6;
}
#news .news-content .news-section-text .news-section-date {
    font-weight: 600;
    margin: .5rem 0 .25rem 0;
    color: #a25729;
}
#news .news-content .news-section-text .news-section-title {
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .25rem;
}
#news .news-content.news-content-large .news-section-text .news-section-title {
    font-size: 2rem;
}

#news .news-content a:hover .news-section-title,
#news .news-content a:focus .news-section-title {
    text-decoration: underline;
}

#news .news-content a:hover,
#news .news-content a:focus {
    opacity: .8;
} 

#news .news-content a:focus {
    outline: 1px solid blue;
    outline-offset: 0;
}
#news .news-content img {
    /*max-height: 100%;*/
    width: 100%;
}
#news .more-news {
    padding-top: 1rem;
    font-size: larger;
}

.row.ql-news {
    /*position: relative;
    display: block;
    height: auto;
    min-width: 375px;*/
}

#db-rg-hours.container {
    /*padding: 0;
    position: relative;*/
    display: flex;
}

.homepagerefresh #news .more-news{
    text-align: right;
}

/* quick links */

.ql-news .ql h2 {
    text-align: center;
    border-bottom: 1px solid #fff;
}

.ql {
    height: 100%;
    /*background-color: #d7d7d7;*/
    padding-bottom:10px;
}


.ql .list-group {
    margin-bottom: 0px;
    list-style: none;
    font-size: larger;
}

.ql .list-group-item {
    background-color: transparent;
    border: 0px solid #fff;
    padding: 10px 5px;
    border-radius: 0px;
    color: #000;
}

.ql .fa-lg {
    padding-right: 5px;
}

/* MEDIA QUERIES */
@media (max-width: 991px) {
    .ql {
        height: auto;
        /*text-align: center;*/
        margin-bottom: 20px;
    }
    .ql li {
        display: block;
        font-size: larger;
    }
}