#downtime-notification {
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    overflow: hidden;
    padding: 1em 2em;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

#close {
    display: none;
}

.covid-notice {
    z-index: 101;
    background: #fde073;
    text-align: center;
    overflow: hidden;
    padding: 1em 2em;
    box-shadow: 0 0 5px black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.covid-notice__close-button {
    position: absolute;
    top: .5em;
    right: .5em;
}

@media (max-width: 900px) {
    .covid-notice__close-button {
        position: absolute;
        top: auto;
        bottom: .5em;
        right: .5em;
    }   
}


.covid-notice__opener {
    background: #fde073;
    z-index: 101;
    position: fixed;
    bottom: 0;
    left: 0;
}

.covid-notice__open-button {
    background: #fde073;
}

.covid-notice--hidden {
    display: none;
}

.container-fluid.statement-on-racism {
    background:#0e0e0e;
    color: #e6e6e6;
    font-size: 18px;
}

.container-fluid.statement-on-racism a {
    color: white;
    font-weight: 600;
}

.statement-attribution {
    color: #555;
    width: 80%;
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
    margin: 2em 0;
    padding: 2em 0;
}
.welcome-back-message {
    background-color: rgba(255,205,63,1);
    font-size: 22px;
    padding-bottom: 2rem;
    line-height: 2;
    height: 100%;
}

.welcome-back-message em {
    background-color: rgba(255,255,0, .5);
    font-style: normal;
}

.welcome-back-message a {
    border-bottom: 2px solid #000;
    font-weight: 600;
    color: #000;
}

.welcome-back-message a:focus,
.welcome-back-message a:hover {
    text-decoration: none;
    color: blue;
    border-bottom: 2px solid blue;
}

.welcome-back-message-header {
    padding-bottom: 0;
}

.welcome-back-message-header h2 {
    font-size: 56px;
    font-weight: 600;
    margin: .5rem 0;
}

.welcome-back-video {
    padding: 0rem 2rem 2rem 2rem;
}

#at-a-glance-container {
    font-size: larger;
    margin-bottom: 2rem;
}

#at-a-glance-container i {
    padding-right: .5rem;
    font-size: 22px;
}
#at-a-glance-container i#container {
    position: relative;
    padding-right: .5rem;
}

#at-a-glance-container i#nested {
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 200%;
    color: rgba(217, 83, 79, 0.7);
}

#at-a-glance .alert {
    padding: 8px 2px 8px 12px;
    margin-bottom: .75rem;
}

#at-a-glance .alert:last-child {
    margin-bottom: 0;
}