<!-- MENU BEGINS HERE -->
<div class="megamenu-container">
    <div id="megamenu-refresh" class="container">
        <!-- BEGIN NAVBAR -->
        <nav class="navbar yamm navbar-default" role="navigation">
            <div id="navbar-collapse-1" class="container-fluid-skip">
                <div class="navbar-header">
                    <div class="navbar-brand">Value Beyond Discovery</div>

                    <a href="https://library.bc.edu/" class="library-home-link"><span class="fa fa-home" aria-hidden="true"></span> Back to Library Homepage</a>
                </div>

            </div>
        </nav>
        <!-- END NAVBAR -->
    </div>
</div>
<!-- END MEGAMENU -->
