<div class="featured-research-tip-element" id="featured-research-tip" data-tag="ga-tag">
    <div class="panel">
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="https://library.bc.edu/images/homepage/featuredresearchtip/hathitrust-logo-205.jpg" alt="HathiTrust logo">
                </div>
                <div class="media-body">
                    <h3>HathiTrust</h3>
                    <p>More than 400,000 of our print books are available online through HathiTrust. Learn how to <a href="https://answers.bc.edu/faq/325932#hathitrust">check-out HathiTrust ebooks</a> during the COVID emergency.</p>
                </div>
            </div>

            <hr/>
            <div class="related-topics">Related topics: 
                <a class="btn btn-default btn-xs" role="button" href="https://answers.bc.edu/search/?t=0&adv=1&topics=Library%20Catalog">library catalog</a>
                <a class="btn btn-default btn-xs" role="button" href="https://answers.bc.edu/search/?t=0&adv=1&topics=Online%20access">online access</a>
            </div>
        </div>
    </div>
</div>