<div class="container-fluid" id="featured-research-tip-wrapper">
    <div id="featured-research-tip-wrapper-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Featured Research Tip</h2>
                
                <p class="intro">We highlight the library tools and resources that can help your research.</p>

                {{/* Change out highlight content here */}}
                {{ partial "homepage/top-column-focus/hathitrust.html" . }}

                <p class="outro">
                    <a style="display:inline-block;" href="https://answers.bc.edu/search/?t=0&adv=1&topics=In%20Focus">Browse all our <strong>Featured Research Tips</strong></a> &rangle;
                </p>
            </div>
        </div>
    </div>
</div>