<script>
$(function () {
    // Get a clean version of the page title
    var page_title_clean = $(document).find("title").text().replace(" | Boston College Libraries", "").replace(" - Libraries at Boston College", "");

    // Determine if this is the homepage
    var is_homepage_bool = $('#main-body.homepage').length > 0;

    //
    // Megamenu hover events
    //

    $('#megamenu-refresh ul.nav li.dropdown').mouseenter(function() {
        var menuItemLabel = $(this).find("a.menu-option").text().trim();
        // send custom event to GTM
        dataLayer.push({
            'event': 'hover_menu_item',
            'menu_item_label': menuItemLabel,
            'page_title_clean': page_title_clean,
            'is_homepage': is_homepage_bool
        });
        _paq.push(['trackEvent', 'megamenu', 'hover', menuItemLabel]);
    });

    $("#megamenu-refresh ul.nav .library-box .lib-box .panel-body").mouseenter(function(){
        var menuItemPaneLabel = $(this).find("a.lib-name").html();
        // send custom event to GTM
        dataLayer.push({
            'event': 'hover_menu_libpane',
            'menu_libpane_label': menuItemPaneLabel,
            'page_title_clean': page_title_clean,
            'is_homepage': is_homepage_bool
        });
        _paq.push(['trackEvent', 'librarypanes', 'hover', menuItemPaneLabel]);
    });

    //
    // Chat With Us button click event
    //

    $("a.askuswidget").click(function(e){
        var src = window.location.href;
        _paq.push(['trackEvent', 'chat-widget', 'click', src]);
    });

    //
    // Chat With Us Megamenu click event
    //

    $("a.askuswidget-mm").click(function(e){
        var src = window.location.href;
        _paq.push(['trackEvent', 'chat-widget-mm', 'click', src]);
    });

    //
    //  Other click events
    //

    function addClickEvents(jqObj, label){
        jqObj.click(function(e){
            var $this = $(this);
            var url = $this.attr("href");
            var dataID = "[none]";
            var dataTag = $this.parents("[data-tag=ga-tag]");
            if (dataTag && dataTag.length) {
                dataID = dataTag.attr("id");
                if (typeof dataID === 'undefined') {
                    dataID = "[undefined]"
                }
            }
            // send custom event to GTM
            dataLayer.push({
                'event': label,
                'page_section': dataID,
                'outbound_url': url,
                'page_title_clean': page_title_clean,
                'is_homepage': is_homepage_bool,
            });
            _paq.push(['trackEvent', label, dataID, url]);
        });
    }

    if (is_homepage_bool) {
        var homepage_anchors = $('body.mainhomepage a').not(".askuswidget, .askuswidget-mm, .accessibility-text");
        addClickEvents(homepage_anchors, "click_homepage");
    }
    
    var lib_footer_anchors = $('#lib-footer a');
    var bc_footer_anchors  = $('#bc-footer a');
    var bc_header_anchors  = $('#bclib-header a');
    var megamenu_anchors   = $('#megamenu a');

    addClickEvents(lib_footer_anchors, "click_footer");
    addClickEvents(bc_footer_anchors, "click_footer");
    addClickEvents(bc_header_anchors, "click_header");
    addClickEvents(megamenu_anchors, "click_header");
});
</script>