<script>
$(function () {
    var $all_anchors = $('a');

    //
    // Megamenu hover events
    //

    $('#megamenu-refresh ul.nav li.dropdown').mouseenter(function() {
        var menuItemLabel = $(this).find("a.menu-option").text().trim();
        // send custom event to GTM
        dataLayer.push({
            'event': 'megamenu_hover',
            'category': 'menu_item',
            'label': menuItemLabel
        });
        _paq.push(['trackEvent', 'megamenu', 'hover', menuItemLabel]);
    });

    $("#megamenu-refresh ul.nav .library-box .lib-box .panel-body").mouseenter(function(){
        var menuItemPaneLabel = $(this).find("a.lib-name").html();
        // send custom event to GTM
        dataLayer.push({
            'event': 'megamenu_hover',
            'category': 'library_pane',
            'label': menuItemPaneLabel
        });
        _paq.push(['trackEvent', 'librarypanes', 'hover', menuItemPaneLabel]);
    });

    //
    // Ask Us click event
    //

    $("a.askuswidget").click(function(e){
        var src = window.location.href;
        _paq.push(['trackEvent', 'chat-widget', 'click', src]);
    });

    //
    // Homepage click events
    //

    // send 'outbound' event for all link clicks
    $all_anchors.not('.askuswidget, .search-link, .accessibility-text').click(function(e) {
        var url = $(this).attr("href");
        /* Bug fix to stop screen jump when clicking carousel controls */
        if (url.indexOf('#') !== 0) {
            _paq.push(['trackEvent', 'outbound', 'click', url]);
        }
    });

    // send 'homepage' event for all link clicks and include sections
    // ignore news carousel and mega menu top-level links
    $all_anchors.not(".askuswidget, .carousel-control, li.dropdown > a.menu-option, .accessibility-text").click(function(e){
        var url = $(this).attr("href");                
        var dataTag = $(this).parents("[data-tag=ga-tag]");
        var dataID = "-";
        if (dataTag && dataTag.length) {
            dataID = dataTag.attr("id");
            if (typeof dataID === 'undefined') {
                dataID = "[undefined]"
            }
        }

        // send custom event to GTM
        dataLayer.push({
            'event': 'homepage_click',
            'section': dataID,
            'outbound_url': url
        });
        _paq.push(['trackEvent', 'homepage', dataID, url]);
    });
});
</script>