{{/* avoid using bootstrap for bclin-top-bar */}}
{{/* we want to make this modular and not all systems will have bootstrap installed */}}
<div class="downtime-notification" style="z-index: 101; top: 0px; left: 0px; right: 0px; background: rgb(253, 224, 115); text-align: center; overflow: hidden; padding: 1em 2em; box-shadow: black 0px 0px 5px;">Search Burns Archives will be undergoing routine maintenance on Tuesday, August 6th from 7:00 to 10:00 am EST. Please don’t request items through the site as the submission may not be completed. Thank you for your patience.</div>
<div id="bclib-header" data-tag="ga-tag">
    <div class="container">
        <div class="row">
            {{/* logo */}}
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs">
                <a href="{{ relref . "/" }}" title="Go to Boston College Libraries" class="bclib-header-logo">
                    <img src="{{ .Site.Params.imageBaseURL }}/title_295x30_transparent_whitetext2.png" id="fakebctitle-old" alt="Boston College Libraries homepage">
                </a>
            </div>

            {{/* maroon bar links */}}
            <div class="col-md-8 col-sm-6 col-xs-6 col-xxs">
                <ul class="bclib-header-links">
                    <li><a href="https://www.bc.edu/bc-web/about/mission.html">Mission</a></li>
                    <li><a href="{{ relref . "/feedback" }}"><span class="fa fa-commenting-o" aria-hidden="true"></span> Ask Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
