<div class="covid-notice__opener">
    <button class="covid-notice__open-button">
        COVID-19 notice
    </button>
</div>
<div class="covid-notice">
    <a href="https://libguides.bc.edu/servicesupdate">BC Libraries Services Update - COVID-19</a>
    <div class="closed-notice" style="font-size: 16px">All BC Libraries are closed. However, <a href="https://libguides.bc.edu/servicesupdate">remote services remain operational</a>.
    </div>
    <button class="covid-notice__close-button covid-notice__hidden">
        Close
    </button>
</div>