<script type="application/ld+json">
    {
        "@context" : "https://schema.org",
        "@type" : "Library",
        "name" : "Boston College Libraries",
        "alternateName": "Boston College University Libraries",
        "url": "https://library.bc.edu",
        "image" : "https://s3.amazonaws.com/libapps/accounts/3908/images/bapst-banner.png",
        "logo" : "https://library.bc.edu/images/library_title_nomotto_72dpi.png",
        "telephone" : "617-552-4470",
        "address" : {
        "@type" : "PostalAddress",
        "streetAddress" : "140 Commonwealth Avenue",
        "addressLocality" : "Chestnut Hill",
        "addressRegion" : "MA",
        "postalCode" : "02467"
        },
        "sameAs": [
        "https://www.facebook.com/ONeillLibrary/",
        "https://twitter.com/ONeillLibrary",
        "https://www.youtube.com/user/BostonCollegeLib",
        "https://libguides.bc.edu/publications",
        "https://www.instagram.com/oneilllibrary/"
        ],
        "potentialAction": {
        "@type": "SearchAction",
        "target": "https://library.bc.edu/search/?any={search_term_string}",
        "query-input": "required name=search_term_string"
        }
    }
    </script>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="src" value="https://library.bc.edu/theme/img/library_thumbnail.png"/>
                <Attribute name="width" value="225"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->