{{/* Stylesheets used by all pages */}}

{{/* External stylesheets */}}
{{ $google_fonts_style := resources.Get "css/google-fonts.css" | fingerprint }}
<link rel="stylesheet" href="{{ $google_fonts_style.RelPermalink }}">

{{/* We now include Bootstrap SCSS from source and include it in the compiled site.css */}}
{{/* CSS from dists (bootstrap, fonts, etc) */}}
{{/* $bootstrap_style := resources.Get "css/bootstrap-5.3.5.min.css" | fingerprint */}}
{{/* <link rel="stylesheet" href="{{ $bootstrap_style.RelPermalink }}"> */}}

{{ $fontawesome_style := resources.Get "css/font-awesome.min.css" | fingerprint }}
<link rel="stylesheet" href="{{ $fontawesome_style.RelPermalink }}">

{{/* To add a new stylesheet to the homepage, @include it in homepage.scss */}}

{{/* Options for SCSS builder */}}
{{ $options := dict
    "transpiler" "dartsass"
    "outputStyle" "compressed" 
    "enableSourceMap" true
    "silenceDeprecations" (slice "import" "global-builtin" "color-functions" "if-function")
}}

{{/* Build the CSS asset */}}
{{ $style := resources.Get "sass/site.scss" | css.Sass $options | fingerprint }}

{{/* Link the CSS asset */}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

{{/* Build CSS bundle for use in LibGuides */}}
{{ $libguides_styles := resources.Get "sass/libguides.scss" | css.Sass $options }}
{{ "<!--" | safeHTML }}{{ $libguides_styles.RelPermalink }}{{ "-->" | safeHTML }}