{{/* Stylesheets used by all pages */}}

{{/* External stylesheets */}}
{{ $google_fonts_style := resources.Get "css/google-fonts.css" | fingerprint }}
<link rel="stylesheet" href="{{ $google_fonts_style.RelPermalink }}">

{{/* CSS from dists (bootstrap, fonts, etc) */}}
{{ $bootstrap_style := resources.Get "css/bootstrap.min.css" | fingerprint }}
<link rel="stylesheet" href="{{ $bootstrap_style.RelPermalink }}">

{{ $fontawesome_style := resources.Get "css/font-awesome.min.css" | fingerprint }}
<link rel="stylesheet" href="{{ $fontawesome_style.RelPermalink }}">

{{/* To add a new stylesheet to the homepage, @include it in homepage.scss */}}

{{/* Options for SCSS builder */}}
{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true ) }}

{{/* Build the CSS asset */}}
{{ $style := resources.Get "sass/site.scss" | resources.ToCSS $options | fingerprint }}

{{/* Link the CSS asset */}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

{{/* Build CSS bundle for use in LibGuides */}}
{{ $libguides_styles := resources.Get "sass/libguides.scss" | resources.ToCSS $options }}
{{ "<!--" | safeHTML }}{{ $libguides_styles.RelPermalink }}{{ "-->" | safeHTML }}