{{ $dataJSON := dict }}
{{ $u := "https://library.bc.edu/bc-hours/api_hours_today.php?iid=609&lid=0&format=json&system_time=0" }}
    {{ with resources.GetRemote $u }}
        {{ with .Err }}
            {{ errorf "%s" . }}
        {{ else }}
            {{ $dataJSON = . | transform.Unmarshal }}

<div class="table-hours">
    {{/*<div class="alert alert-info alert-hours" role="alert"><i class="fa fa-exclamation-circle"></i> </div>*/}}

    <table class="table table-condensed table-bordered">
        <caption class="accessibility-text">Today's Library Hours</caption>
        <thead class="accessibility-text">
            <tr>
                <th>Library</th>
                <th>Hours</th>
            </tr>
        </thead>
        <tbody>
            {{ range sort $dataJSON.locations "id" }}
                {{ if eq .category "library" }}
                <tr>
                    <td><a href="{{ .url }}">{{ .name }}</a></td>
                    <td class="lib-hours">{{ .rendered }}</td>
                </tr>
                {{ end }}
            {{ end }}
        </tbody>
    </table>
    
    <div class="onl-asterisk-notice">(*) The O'Neill Library first floor will remain open for use until 2:00 am.</div>
</div>
{{ end }}
{{ else }}
    {{ errorf "Unable to get remote resource %q" $u }}
{{ end }}