<div class="table-hours">

    <div class="alert alert-info alert-hours" role="alert"><i class="fa fa-exclamation-circle"></i> The Libraries are open, but only for BC students and employees. The Burns Library is also open to visitors by appointment only. <a href="https://library.bc.edu/hours">Hours</a> are still limited.</div>

    <table class="table table-condensed table-bordered">
        <caption class="accessibility-text">Today's Library Hours</caption>
        <thead class="accessibility-text">
            <tr>
                <th>Library</th>
                <th>Hours</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://libguides.bc.edu/oneill/hours">O'Neill Library</a></td>
                <td class="lib-hours lib-oneill"></td>
            </tr>
            <tr>
                <td><a href="https://libguides.bc.edu/bapst/hours">Bapst Library</a></td>
                <td class="lib-hours lib-bapst"></td>
            </tr>
            <tr>
                <td><a href="https://libguides.bc.edu/burns">Burns Library</a></td>
                <td class="lib-hours lib-burns"></td>
            </tr>
            <tr>
                <td><a href="https://libguides.bc.edu/erc/hours">Educational Resource Center</a></td>
                <td class="lib-hours lib-erc"></td>
            </tr>
            <tr>
                <td><a href="https://www.bc.edu/bc-web/schools/law/sites/current-students/library/using/hours.html">Law Library</a></td>
                <td class="lib-hours lib-law"></td>
            </tr>
            <tr>
                <td><a href="https://libguides.bc.edu/socialwork/hours">Social Work Library</a></td>
                <td class="lib-hours lib-swl"></td>
            </tr>
            <tr>
                <td><a href="https://libguides.bc.edu/tml/hours">Theology &amp; Ministry Library</a></td>
                <td class="lib-hours lib-tml"></td>
            </tr>
        </tbody>
    </table>
    
    <div class="onl-asterisk-notice">* First floor study area remains open until 2:00 am. Collections and services are not available after 10:00 pm.</div>
</div>