@use 'variables/colors' as *;

.card {
    height: 100%;
    padding: .5rem; // 8px

    a {
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    .card-body {
        padding: 0;
        margin: 0;
        font-size: 1rem;

        .card-title {
            padding: 0 0 .25rem 0; // 0 0 4px 0
            line-height: 1.25;
            margin: -0.125rem 0 0 0; // remove top margin added by line-height
            font-weight: 700;
            font-size: 1rem;
        }

        .card-text {
            margin: 0;
        }
    }

    .card-footer {
        padding: .25rem 0 0 0; // 4px 0 0 0
        margin: 0;
        background-color: transparent;
        border: none;
        line-height: 1;
    }
}