@use 'variables/colors' as *;
@use 'bootstrap_base' as *;

#aal-home {
    display: flex;
    flex-flow: column;
}

.aal-boxes {
    display: flex;
    flex-wrap: wrap;

    .aal-box {
        display: flex;

        a.card-link-wrapper {
            text-decoration: none;

            &:hover,
            &:focus {
                .card {
                    border: 1px solid blue;
                    outline: 1px solid blue;
                    text-decoration: none;
                }

                .aal-icon {
                    background-color: $aal-icon-blue;
                }
            }
        }

        .card {
            background-color: $very-very-light-gray;
        }
    }
}

.aal-icon {
    font-size: 2.25rem; // 36px
    color: $white-text;
    display: block;
    line-height: 1;
    width: 3.5rem; // 56px
    border-radius: .375rem; // 6px
    transition: background-color .4s ease-in-out;

    i {
        padding: .625rem; // 10px
        width: 100%;
        color: $white-text;
        font-weight: 400;
    }

    &.aal-icon-email {
        background-color: #a25729;
    }

    &.aal-icon-chat {
        background-color: $bc-brand-gold; // #b29d6c
    }

    &.aal-icon-meet {
        background-color: $bc-brand-library-blue; // #204375
    }

    &.aal-icon-visit {
        background-color: $bc-primary-light-gold; // #dccaa0
    }
}