@use 'variables/colors' as *;

html {
    font-size: 16px;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    color: $black-text;
    font-size: 1rem;
    line-height: 1.5; // 24px
}

.accessibility-text {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

a {
    color: $bc-link-color;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $bc-link-color-hover;
        text-decoration: underline;
    }
}

#skiplink {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;

    &:active,
    &:focus,
    &:hover {
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        overflow: visible;
        background-color: $white-body;
        padding: .25rem;
    }
}

.clear {
    &:before,
    &:after {
        content: "";
    }

    &:after {
        clear: both;
    }
}

table,
table.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $very-light-gray;
    margin-bottom: .75rem;

    td, th {
        padding: .5rem;
        border: 1px solid $very-light-gray;
    }

    td {
        vertical-align: top;
    }

    th {
        background-color: #E9E9E9;
    }
}

// unsure
.caption-link {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 10px;
    background-color: rgba(16, 14, 15, .85);
    color: $white-text;
    font-size: smaller;
    font-weight: 200;

    a {
        color: $white-text;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

@media (max-width: 767px) {
    .caption-link {
        display: none;
    }
}